<div class="contacts_modal_overlay">
    <div class="close_btn">+</div>
    <div class="modal_container">
        <div class="title">Связаться</div>
        <label>
            <input class="name_input" type="text" placeholder="Имя" />
            <div class="error name_error"></div>
        </label>
        <label>
            <input class="mail_input" type="text" placeholder="Email">
            <div class="error mail_error"></div>
        </label>
        <textarea class="text_area" placeholder="Введите ваше сообщение..."></textarea>
        <button class="submit_button">Отправить</button>
    </div>
</div>
