{% load static %}
<div class="direction-container">
    <div class="container">
        <div class="we_instal_contaner">
            <div class="title">Монтируем</div>
            <div class="content">
                Собираем шкафы
                и пульты
                управления
            </div>
            <div class="img-container">
                <img src="{% static "core/images/direction/wee_instal_img.svg" %}"
                     alt="vector" />
            </div>
        </div>
        <div class="head_container">
            <div class="title">Направления Мотрум</div>
            <div class="left-arrow arrow-container">
                <img src="{% static "core/images/direction/arrow.png" %}" />
            </div>
            <div class="rigth-arrow arrow-container">
                <img src="{% static "core/images/direction/arrow.png" %}" />
            </div>
            <div class="left-down-arrow arrow-container">
                <img src="{% static "core/images/direction/arrow.png" %}" />
            </div>
            <div class="rigth-down-arrow arrow-container">
                <img src="{% static "core/images/direction/arrow.png" %}" />
            </div>
        </div>
        <div class="we_supported_container">
            <div class="title">Поддерживаем</div>
            <div class="content">Делаем сервисное обслуживание.</div>
            <div class="img-container">
                <img src="{% static "core/images/direction/we_supported.svg" %}"
                     alt="vector" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="wee_adjusting_container">
            <div class="title">Регулируем</div>
            <div class="content">
                Выполняем наладку сложного промышленного оборудования:
                <ul>
                    <li>станков</li>
                    <li>производственных линий</li>
                    <li>комплексных систем автоматики.</li>
                </ul>
                <div class="img-container">
                    <img src="{% static "core/images/direction/we_adjusting.svg" %}"
                         alt="vector" />
                </div>
            </div>
        </div>
        <div class="wee_programming_container">
            <div class="title">Программируем</div>
            <div class="content">
                Программируем и настраиваем:
                <ul>
                    <li>логические контроллеры</li>
                    <li>операторские панели</li>
                    <li>частотные преобразователи</li>
                    <li>сервосистемы</li>
                    <li>промышленных роботов</li>
                </ul>
                <div class="img-container">
                    <img src="{% static "core/images/direction/we_programming.svg" %}"
                         alt="vector" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="we_controling_container">
            <div class="arrow-container">
                <img src="{% static "core/images/direction/arrow.png" %}" />
            </div>
            <div class="title">Контролируем</div>
            <div class="content">Диспетчеризация, SCADAсистемы.</div>
            <div class="img-container">
                <img src="{% static "core/images/direction/we_controlling.svg" %}"
                     alt="vector" />
            </div>
        </div>
        <div class="we_bring_container">
            <div class="arrow-container">
                <img src="{% static "core/images/direction/arrow.png" %}" />
            </div>
            <div class="title">Привозим</div>
            <div class="content">Поставляем компоненты промышленной автоматизации.</div>
            <div class="img-container">
                <img src="{% static "core/images/direction/we_brng.svg" %}" alt="vector" />
            </div>
        </div>
    </div>
</div>
