{% load static %}
<div class="footer">
    <div class="motrum-footer">
        <div class="motrum-logo-container">
            <img src={% static "core/images/footer-logo.png" %} alt="logo" />
        </div>
        <div class="description">
            <div>© 2024 ООО "ПМН Мотрум". Все права защищены.</div>
            <a href="#">политика конфиденциальности</a>
        </div>
    </div>
    <div class="lemur-footer">
        <div class="description">
            <div>Продвижение и разработка</div>
            <div>
                сайта <a href="https://lemurteam.ru/" target="_blank">lemurteam.ru</a>
            </div>
        </div>
        <div class="lemur-logo-container">
            <img src={% static "core/images/lemur-logo.png" %} alt="logo" />
        </div>
    </div>
</div>
