{% load static %}
{% load current_year %}
<div class="footer">
    <div class="motrum-footer">
        <div class="motrum-logo-container">
            {% if request.get_full_path  == index_url %}
                <img src={% static "core/images/footer-logo.png" %} alt="logo" />   
            {% else %}
                <a class="navbar_menu_item_link" href="/">

                <img src={% static "core/images/footer-logo.png" %} alt="logo" />
                </a>
            {% endif %}



           
        </div>
        <div class="description">
            <div>
                ©
                {% current_year %}
                ООО "ПМН Мотрум". Все права защищены.
            </div>
            <a href="{% url "core:privacy-policy" %}">политика конфиденциальности</a>
        </div>
    </div>
    <div class="lemur-footer">
        <div class="description">
            <div>Продвижение и разработка</div>
            <div>
                сайта <a href="https://lemurteam.ru/" target="_blank">lemurteam.ru</a>
            </div>
        </div>
        <div class="lemur-logo-container">
            <img src={% static "core/images/lemur-logo.png" %} alt="logo" />
        </div>
    </div>
</div>
