{% load static %}
{% load current_year %}
{% url 'core:index' as index_url %}
<div class="footer">
    <div class="motrum-footer">
        <div class="motrum-logo-container">
            {% if request.get_full_path == index_url %}
                <img src={% static "core/images/footer-logo.png" %} alt="logo" />
            {% else %}
                <a class="navbar_menu_item_link" href="/">
                    <img src={% static "core/images/footer-logo.png" %} alt="logo" />
                </a>
            {% endif %}
        </div>
        <div class="description">
            <div>
                {% comment %} ©
                {% current_year %}
                ООО "ПМН Мотрум". Все права защищены. {% endcomment %}
                Самара, ул. 22 Партсъезда, 207 оф. 3, 1 этаж
            </div>
            <a href="tel:+78463004117">+7 (846) 300-41-17</a>
            <a href="{% url "core:privacy-policy" %}">политика конфиденциальности</a>
        </div>
    </div>
    <div class="lemur-footer">
        <div class="description">
            <div>Продвижение и разработка</div>
            <div>
                сайта <a href="https://lemurteam.ru/" target="_blank">lemurteam.ru</a>
            </div>
        </div>
        <div class="lemur-logo-container">
            <img src={% static "core/images/lemur-logo.png" %} alt="logo" />
        </div>
    </div>
</div>
