{% load static %}
{% load cart_link %}
<div class="header">
    <div class="logo-container">
        <img src={% static "core/images/logo.png" %} alt="logo" />
    </div>
    <div class="call-back-container">
        <div class="call-back-link">обратный звонок</div>
        <div class="tel-link">+7 (846) 300 - 41 - 17</div>
    </div>
    <div class="user-navigation">
        <div class="navigation">
            <div class="nav-elem">Товары</div>
            <div class="nav-elem">Решения</div>
            <div class="nav-elem">Реализованные проекты</div>
            <div class="nav-elem">Компания</div>
            <div class="nav-elem">Контакты</div>
        </div>
        <div class="cart-elems">
            {% if request.user.username %}
                <div class="cart-elem">Заказы</div>
                {% cart_link %}
                <a href={% url 'client:my_orders' %} class="cart-elem">Л.К.</a>
            {% else %}
                <div class="cart-elem enter-in-site">вход</div>
            {% endif %}
        </div>
    </div>
</div>
