<div class="invoice-overlay">
    <div class="modal-window">
        <div class="close-btn">+</div>
        <div class="title">Счет</div>
        <div class="tables-titles">
            <div class="table-title">Наименование</div>
            <div class="table-title">Артикул</div>
            <div class="table-title">Остатки</div>
            <div class="table-title">Срок поставки</div>
        </div>
        <div class="invoice_content" invoice-elem="container">
            {% for invoice in invoice_list %}
                {% include "admin_specification/include/invoice_item.html" with invoice=invoice %}
            {% endfor %}
        </div>
        <button class="invoice-btn">Создать счет</button>
    </div>
</div>
