{% extends "core/base.html" %}
{% load static %}
{% block content %}
    {% include "core/includes/header.html" %}
    <div class="lc-container">
        <div class="title-container">
            <div class="bread-crumbs">
                <div class="bread-crumb-elem">Главная</div>
            </div>
            <h1 class="title">Личный Кабинет</h1>
        </div>
        <div class="navigation-and-sorting">
            <div class="navigation">
                {% for nav_elem in nav_elems %}
                    <a class="nav-elem {% if nav_elem.active %}active{% endif %}">{{ nav_elem.name }}</a>
                {% endfor %}
            </div>
            <div class="sort-container">
                <div class="sort-title">Сортировать по:</div>
                <div class="sort-elem">
                    <span>дата заказа</span>
                    <div class="arrow">
                        <div class="arrow-elem-1"></div>
                        <div class="arrow-elem-2"></div>
                    </div>
                </div>
                <div class="sort-elem">
                    <span>сумма заказа</span>
                    <div class="arrow">
                        <div class="arrow-elem-1"></div>
                        <div class="arrow-elem-2"></div>
                    </div>
                </div>
                <div class="sort-elem">
                    <span>статус</span>
                    <div class="arrow">
                        <div class="arrow-elem-1"></div>
                        <div class="arrow-elem-2"></div>
                    </div>
                </div>
            </div>
        </div>
        {% block personal_account_content %}
        {% endblock personal_account_content %}
    </div>
{% endblock content %}
