{% load static %}
{% if is_need == True %}
  <div class="personal-manager-container">
    <div class="img-container">
      {% if manager.image %}
        <img src="{{ manager.image.url  }}"alt="">
      {% else %}
        <img src={% static "core/images/no_manager_photo.jpg" %} alt="">
      {% endif %}
      
    </div>
    <div class="description-container">
      <div class="name-description">
        <div class="title-name">{{ manager.first_name }}</div>
        <div class="title-name">{{ manager.last_name }}</div>
      </div>
      <div class="description">Ваш персональный менеджер</div>
    </div>
  </div>
{% endif %}
