<div class="overlay">
    <div class="modal-window">
        <div class="title">авторизация на сайте</div>
        <form class="autification-form">
            <label class="phone-label">
                <span>Укажите ваш номер телефона</span>
                <input class="phone-input" type="text" />
            </label>
            <label class="password-label">
                <span>Введите пароль из SMS</span>
                <input class="passord-input" type="text" />
            </label>
            <button class="autification-button">подтвердить</button>
        </form>
    </div>
</div>
