
<div class="overlay_modal_complete">
    <div class="modal-window">
        <div class="title">Дата завершения заказа</div>
        <label class="calendar_label">
            <span class="calendar_label-description">Укажите дату заверешния заказа</span>
            <input class="calendar" type="date" value="{{today}}" />
        </label>
        <div class="button_container">
            <button class="complete_order_button">Завершить заказ</button>
            <div class="error"></div>
        </div>
    </div>
</div>
