<div class="overlay_callback">
    <div class="modal_window">
        <div class="close_btn">+</div>
        <div class="title">Обратный звонок</div>
        <div class="call_back_form">
            <label>
                <input type="text" class="name_input" placeholder="Ваше имя" />
                <div class="error name_error"></div>
            </label>
            <label>
                <input type="tel" class="phone_input" placeholder="Ваш телефон" />
                <div class="error phone_error"></div>
            </label>
            <button class="submit_btn">Заказать звонок</button>
            {% include "core/includes/form_description.html" %}
        </div>
    </div>
</div>
