<div class="overlay">
    <div class="modal-window">
        <div class="title">авторизация на сайте</div>
        <form class="autification-form">
            <label class="phone-label">
                <input class="phone-input" placeholder="Ваш телефон" type="text" />
                <div class="error-maessage phone-error"></div>
            </label>
            <label class="password-label">
                <input class="password-input" placeholder="_ _ _ _" type="text" />
                <div class="error-maessage pin-error"></div>
            </label>
            <button class="autification-button">подтвердить</button>
        </form>
    </div>
</div>
