{% load static %}
<!--functions  -->
<script type="module"
        src="{% static 'core/js/functions.js' %}?ver={% now 'u' %}"></script>
<!--core  -->
<script type="module"
        src="{% static 'core/js/scripts.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/slider.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/customSelect.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/nunjucks.min.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/inputmask.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/scripts.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/invoice_elems.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/filters.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/add_new_product.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/add_new_product_without_cart.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/change_date_in_order.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/create_invoice_without_specification.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/edit_unique_product.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/edit_motrum_price.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/set_cart_id.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/change_payment.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/ajax_specification_load.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/sorting_by_status_order.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/setCommnetToProduct.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/complete_order.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/selectLogic.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/save_without_spec.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/save_changed_invoice.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/fixed_titles_in_cart.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/search_logic.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/marginality.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/chage-price-&-motum-discount.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/category_open_content.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/add_product_in_cart.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'admin_specification/js/file_downlad_to_productcart.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/web.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/overlay-logic.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/header-fixed.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/mobile_header.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/motrum-in-numbers-script.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/manager-popup-logic.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/solutions_one_logic.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/get-client-id.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/cookie_popup.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/promo-slider.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/arrow-swipe-button.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/yandex-map.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/cart-logic.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/company_logic.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/call_back_overlay.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/head_page_animate.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'core/js/scripts/solution_one_archor_logic.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'client/js/contacts.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'client/js/details.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'client/js/updateDetails.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'client/js/data_format.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'client/js/modal/call_back_modal.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'client/js/modal/manager_email.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'product/js/sliders.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'product/js/filters_logic.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'product/js/ajax_load_products.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'product/js/cart_logic.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'product/js/showFilterElems.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'product/js/search-logic.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'projects_web/js/slider.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'projects_web/js/ajax_load_project.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'projects_web/js/form_logic.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'projects_web/js/video-logic.js' %}?ver={% now 'u' %}"></script>
<!--клиенты  -->
<script type="module"
        src="{% static 'client/js/modal/login_client_modal.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'client/js/ajax_load_order.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'client/js/ajax_load_document.js' %}?ver={% now 'u' %}"></script>
<!--продукты -->
<script type="module"
        src="{% static 'product/js/load_catalog_items.js' %}?ver={% now 'u' %}"></script>
<!--проекты -->
<script type="module"
        src="{% static 'projects_web/js/ajax_load_project.js' %}?ver={% now 'u' %}"></script>
<!--Вакансии-->
<script type="module"
        src="{% static 'vacancy_web/js/sliders.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'vacancy_web/js/vacancy_filters.js' %}?ver={% now 'u' %}"></script>
<script type="module"
        src="{% static 'vacancy_web/js/vacancy_form.js' %}?ver={% now 'u' %}"></script>
