{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="projects_wrapper">
        <div class="title_container">
            <div class="bread_crumbs">
                <a href={% url "core:index" %}>главная</a>
            </div>
            <h1 class="title">Проекты</h1>
        </div>
        <div class="category_projects">
            <div class="swiper-wrapper">
                <div class="swiper-slide all_categories_elem active category_project_slide_elem">Все категории</div>
                {% for category_project in category_projects %}
                    <div slug="{{ category_project.slug }}"
                         class="swiper-slide category_project_slide_elem">{{ category_project }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="projects_wrapper_content">
            <div class="filters_container">
                <div class="filters_category marking_category">
                    <div class="filters_category_title">Виды маркировок</div>
                    <div class="category_elem_container">
                        <div>
                            <div class="category_elem_container_max_height">
                                {% for category in marking_category %}
                                    <div param="{{ category.slug }}"
                                         class="category_elem marking_category_elem">
                                        {% if category.short_name %}
                                            {{ category.short_name }}
                                        {% else %}
                                            {{ category.name }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="filters_add_more_btn">
                        <span>все отрасли</span>
                        <div>
                            <img src="{% static "core/images/direction/arrow.png" %}" alt="img" />
                        </div>
                    </div>
                </div>
                <div class="filters_category clients_category">
                    <div class="filters_category_title">Отрасли</div>
                    <div class="category_elem_container">
                        <div>
                            <div class="category_elem_container_max_height">
                                {% for category in client_category_projects %}
                                    <div param="{{ category.slug }}" class="category_elem">
                                        {% if category.short_name %}
                                            {{ category.short_name }}
                                        {% else %}
                                            {{ category.name }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="filters_add_more_btn">
                        <span>все отрасли</span>
                        <div>
                            <img src="{% static "core/images/direction/arrow.png" %}" alt="img" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="projects_container">
                <div class="project_wrapper" project-elem="wrapper">
                    <div class="loader"></div>
                    <div class="site_project_container" project-elem="container">
                        {% for project in project_list %}
                            {% include "projects_web/include/project_item.html" with project=project %}
                        {% endfor %}
                    </div>
                    <div class="small_loader"></div>
                    <div class="end_content">
                        <button class="add_more" catalog-elem="button">загрузить еще</button>
                        <div class="pagination">
                            <div class="first">1</div>
                            <div class="dots first_dots">...</div>
                            <div class="elem"></div>
                            <div class="elem"></div>
                            <div class="elem"></div>
                            <div class="dots last_dots">...</div>
                            <div class="last">578</div>
                        </div>
                    </div>
                    <div class="none_content_data">Таких проектов нет</div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
