{% extends "core/base.html" %}
{% block content %}
    {{ project.name }}
    {% for image in  project_image %}
        <img src="{{image.image.url}}" alt="">
    {% endfor %}
    {% for video in  project_video %}
        {% comment %} <video src="{{video.video.url}}"></video> {% endcomment %}
        <img src="{{ video.video.url }}" alt="">
        <video id="intro" type="video/mp4" controls preload autoplay>
            <source src="{{ video.video.url }}" type="video/mp4">
        </video>
    {% endfor %}
    <a href="{% url 'projects_web:projects'%}">{{project.category_project}}</a>
    <a href="{% url 'projects_web:projects'%}?category_project={{project.category_project.slug}}">{{project.category_project}}</a>
    {% for client_category in  client_category_project %}
    
    <p>{{client_category.client_category.name}}</p>


    {% endfor %}
     
    {{ project.text }}
    {% for project_text in project.projecttextblock_set.all %}
        {{project_text.title}}
        {{project_text.text|safe}}
    {% endfor %}

    Похожие проекты
    {% for other_project in other_projects %}
    <a href="{{other_project.get_absolute_url}}">{{other_project.name}}</a>
        
        {% for client_categ_proj in other_project.projectclientcategoryproject_set.all %}
            {{client_categ_proj.client_category.name}}
        {% endfor %}
        {{other_project.data_project|date:"Y"}}
        {{other_project.place_object}}
    
    {% endfor %}
    



    {% endblock content %}
