{% extends "core/base_okt.html" %}
{% block content %}
    {% load cart %}
    {% load number_into_digits %}
    <div class="logout_btn">
        {% if request.user.is_superuser  == True %}
            <a class="admin-link" href="{% url 'admin:index' %}">Административная панель</a>
        {% endif %}
        <p>Пользователь: {{ request.user.username }}</p>
        <a href="{% url "user:logout_admin" %}">Выход</a>
    </div>
    <div class="all_specifications_container">
        {% include "admin_specification/include/bread_crumbs.html" %}
        <div class="specification-link-container">{% cart %}</div>
        <h1 class="title">
            <span class="all_orders active">{{ title }}</span><span class="orders_without_specifications">Корзины без заказа</span>
        </h1>
        <div class="specification_container all_specifications_content">
            <div class="table-titles all_specifications_titles show">
                <div class="table-title">Заказ</div>
                <div class="table-title">Клиент</div>
                <div class="table-title">Статус</div>
                <div class="table-title">Сумма</div>
                <div class="table-title">Счет</div>
            </div>
            <div class="table-titles no_specification_titles">
                <div class="table-title">Заказ</div>
                <div class="table-title">Клиент</div>
                <div class="table-title">Статус</div>
            </div>
            <div class="loader"></div>
            <div class="specification_wrapper" specification-elem="wrapper">
                <div class="specification_container all_specifications_table"
                     specification-elem="container"
                     superuser="{% if request.user.is_superuser  == True %}true{% endif %}">
                    {% for specification in specification_list %}
                        {% include "admin_specification/include/specification_item.html" with specification=specification %}
                    {% endfor %}
                </div>
                <div class="small_loader"></div>
                <div class="end_content">
                    <button class="add_more" project-elem="button">загрузить еще</button>
                    <div class="pagination">
                        <div class="first">1 ...</div>
                        <div class="elem"></div>
                        <div class="elem"></div>
                        <div class="elem"></div>
                        <div class="last">... 578</div>
                        <div class="next">далее</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% comment %} {% if date_completed %}
                        {{date_completed}}
                {% elif bill_date_stop and  %}
                счет был до {{ bill_date_stop }}
                {% elif bill_date_stop %}
                до {{ bill_date_stop }}
                {% elif specification_list.date_stop %}
                до {{ specification_list.date_stop }}
                {% else %}
                        
{% endif %} {% endcomment %}
