{% extends "core/base_okt.html" %}
{% block content %}
    <div class="logout_btn">
        {% if request.user.is_superuser  == True %}
            <a class="admin-link" href="{% url 'admin:index' %}">Административная панель</a>
        {% endif %}
        <p>Пользователь: {{ request.user.username }}</p>
        <a href="{% url "user:logout_admin" %}">Выход</a>
    </div>
    <div class="all_specifications_container">
        <div class="bread-crumbs">
            <a href="{% url "admin_specification:categories" %}">Каталог</a>
        </div>
        <h1 class="title">{{ title }}</h1>
        <div class="specification_container all_specifications_content">
            <div class="table-titles">
                <div class="table-title">Спецификация</div>
                <div class="table-title">Статус</div>
                <div class="table-title">Сумма</div>
                <div class="table-title">Договор</div>
            </div>
            <div class="loader"></div>
            <div class="specification_wrapper" specification-elem="wrapper">
                <div class="specification_container all_specifications_table"
                     specification-elem="container">
                    {% for specification in specification_list %}
                        {% include "admin_specification/include/specification_item.html" with specification=specification %}
                    {% endfor %}
                </div>
                <div class="end_content">
                    <button class="add_more" project-elem="button">загрузить еще</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
