{% extends "core/base_okt.html" %}
{% block content %}
    <div class="logout_btn">
        {% if request.user.is_superuser  == True %}        <a class="admin-link"
        href="{% url 'admin:index' %}">Административная панель </a>{% endif %}
        <p>Пользователь: {{ request.user.username }}</p>
        <a href="{% url "user:logout_admin" %}">Выход</a>
    </div>
    <div class="all_specifications_container">
        <div class="bread-crumbs">
            <a href="{% url "admin_specification:categories" %}">Каталог</a>
        </div>
        <h1 class="title">{{ title }}</h1>
        <div class="all_specifications_content">
            <div class="table-titles">
                <div class="table-title">№Документа</div>
                <div class="table-title">Дата создания</div>
                <div class="table-title">Сумма</div>
                <div class="table-title">Статус</div>
                <div class="table-title">Договор</div>
            </div>
            <div class="all_specifications_table">
                {% for specification in specifications %}
                    {% if specification.tag_stop == True %}
                        <div data-status="{{ specification.tag_stop }}" class="table_item">
                            <div class="table_item_value">
                                <a href="{% if specification.file %}{{ specification.file.url }}{% endif %} "
                                   target="_blank"
                                   data-cart-id="{{ specification.cart }}"
                                   class="table_item_value">{{ specification.pk }}</a>
                                <input class="cart_id" type="hidden" value={{ specification.cart }}>
                                {% if request.user.is_superuser %}
                                    <br>
                                    <span class="table_item_value_span">Создал: {{ specification.admin_creator }}</span>
                                    <br>
                                    {% comment %} <span class="table_item_value_span">
                                        <a href="{% url "admin_specification:one_specifications" specification.pk %}">Посмотреть спецификацию </a>
                                        </span>  <br>
                                    <span class="table_item_value_span">
                                        <a href="{% url "admin_specification:history_admin" specification.pk %}">История </a>
                                        </span> {% endcomment %}
  
                                {% endif %}
                                <span class="table_item_value_span">
                                    <a href="{% url "admin_specification:one_specifications" specification.pk %}">Посмотреть спецификацию </a>
                                    </span>  <br>
                                <span class="table_item_value_span">
                                    <a href="{% url "admin_specification:history_admin" specification.pk %}">История </a>
                                    </span>
                            </div>
                            <div class="table_item_value">{{ specification.date|date:"d.m.Y" }} 
                                <br> 
                                {% if specification.date < specification.date_update %}
                                <span style="
                                font-size: 0.8vw;
                                color: gray;
                            " >Обновленна {{ specification.date_update|date:"d.m.Y" }}</span>
                                {% else %}
                                {% endif %}
                            </div>
                            
                            <div class="table_item_value ">
                                <span class="price">{{ specification.total_amount }}</span> ₽
                            </div>
                            <div class="table_item_value">Статус: 
                                <br> {{ specification.order.get_status_name }} 
                                <br>до 
                                {% if specification.order.bill_date_stop %}
                                    {{ specification.order.bill_date_stop|date:"d.m.Y" }} 
                                {% else %}
                                    {{ specification.date_stop|date:"d.m.Y" }}
                                {% endif %}
                            </div>
                            <div class="table_item_value">Договор</div>
                            <button class="change-specification-button">Редактировать</button>
                            {% if specification.order.bill_file %}<a href="{{ specification.order.bill_file.url }}">Счет ссылка</a>{% endif %}
                            <button class="create-bill-button">Создать счет</button>
                        </div>
                    {% else %}
                        <div data-status="{{ specification.tag_stop }}"
                             class="table_item disabled">
                            <div data-cart-id="{{ specification.cart }}" class="table_item_value">{{ specification.pk }}

                            </div>
                            
                            <div class="table_item_value">{{ specification.date|date:"d.m.Y" }}</div>
                            <div class="table_item_value ">
                                <span class="price">{{ specification.total_amount }}</span> ₽
                            </div>
                            <div class="table_item_value">Статус
                                 <br>
                                {{ specification.order.get_status_name }} </div>
                            <div class="table_item_value"></div>
                            <button class="uptate-specification-button">Актуализировать</button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
