{% extends "core/base_okt.html" %}
{% load static %}
{% block content %}
    <div {% if new_order_web != None %}{% else %}style="
    display: none;
"{% endif %} class="bx-btn"
         data-bx-id='{{ bitrix_id_order }}'
         data-cart-id='{{ cart }}'
         data-spesif-id='{{ spes }}'
         data-serializer-order='{{ serializer }}'
         data-serializer-new='{% if new_order_web != None %}1{% else %}0{% endif %}'>
        <div class='bx-btn-upd'>
            <span class="first">Изменить счет</span>
            <span class="second">(номер старый, дата новая)</span>
        </div>
        <div class='bx-btn-hard-upd'>
            <span class="first">Выставить новый счет</span>
            <span class="second">(номер новый)</span>
        </div>
    </div>
{% endblock content %}
