{% extends "core/base_okt.html" %}
{% block content %}
    <div class="logout_btn">
        {% if request.user.is_superuser == True %}
            <a class="admin-link" href="{% url 'admin:index' %}">Административная панель</a>
        {% endif %}
        <p>Пользователь: {{ request.user.username }}</p>
        <a href="{% url "user:logout_admin" %}">Выход</a>
    </div>
    <div class="specification-container">
       {% include "admin_specification/include/bread_crumbs.html" %}
        <h1 class="title">{{ title }}</h1>
        {% if order.bill_sum %}
            <div class="">
                <h4 style=" color: red; ">
                    ВНИМАНИЕ! ЕСТЬ ДЕЙСТВУЮЩИЙ СЧЕТ! ПРИ СОХРАНЕНИИ ИЗМЕНЕНИЙ В ЗАКАЗЕ БУДЕТ НЕОБХОДИМО СОЗДАТЬ СЧЕТ ЗАНОВО
                </h4>
            </div>
        {% endif %}
        {% if product or product_new %}
            <div class="spetification_table">
                <div class="spetification_titles">
                    <div class="title_item">Название:</div>
                    <div class="title_item">
                        Ар.
                        Поставщика:
                    </div>
                    <div class="title_item">Количество:</div>
                    <div class="title_item">Цена за шт. в ₽:</div>
                    <div class="title_item">Стоимость:</div>
                    <div class="title_item">Скидка Motrum:</div>
                    <div class="title_item">Доп.Скидка %:</div>
                    <div class="title_item">Срок поставки:</div>
                </div>
                {% for item in product %}
                    <div class="item_container"
                         data-product-name-new=""
                         data-product-id-cart="{{ item.id_product_cart }}"
                         data-product-pk="{{ item.pk }}"
                         data-id="{{ item.id_product_cart }}"
                         data-price="{{ item.price.rub_price_supplier }}"
                         data-price-exclusive=" {% if item.price == "0" or item.price == "0.0" or item.price.extra_price == True %} 1 {% else %} 0 {% endif %} "
                         data-product-specification-id="{{ item.id_product_spesif }}"
                         data-multiplicity="{% if item.stock.is_one_sale %}1{% else %}{{ item.stock.order_multiplicity }}{% endif %}">
                        <div title="Удалить элемент" class="item_conainer-delete_btn">+</div>
                        <div class="item_value">
                            {{ item.name }}
                            <br>
                            <textarea style="width: 200px;
                                             height: 15px;
                                             border-radius: 5px"
                                      class="comment-input"
                                      name="comment-input-name"
                                      placeholder="Комментарий">{% if item.comment %}{{ item.comment }}{% endif %}</textarea>
                        </div>
                        <div class="item_value">{{ item.article_supplier }}</div>
                        {% if item.price.rub_price_supplier == 0 or item.price.rub_price_supplier == None %}
                            <div class="item_value input_quantity quantity">
                                <div class="input-container">
                                    <button class="minus-button">-</button>
                                    <input class="input-quantity" type="number" value={{ item.quantity }} oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="5" onkeypress='validate(event)'>
                                    <button class="plus-button">+</button>
                                </div>
                            </div>
                            <div class="item_value">
                                <input class="price-input"
                                       name="price-input-extra"
                                       type="text"
                                       placeholder="Введите цену по запросу"
                                       maxlength="10" />
                                <label for="price-input-extra">
                                    <br>
                                    {% if item.old_price_one %}{{ item.old_date }} - {{ item.old_price_one }}{% endif %}
                                </label>
                            </div>
                            <div class="item_value input_totla-cost total_cost price">0</div>
                        {% else %}
                            <div class="item_value quantity">
                                <div class="input-container">
                                    <button class="minus-button">-</button>
                                    <input class="input-quantity" type="number" value={{ item.quantity }} oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="5" onkeypress='validate(event)'>
                                    <button class="plus-button">+</button>
                                </div>
                            </div>
                            <div class="item_value price price_once">{{ item.price.rub_price_supplier }}</div>
                            <div class="item_value total_cost price"></div>
                        {% endif %}
                        <div class="item_value">
                            {% if item.price.sale %}
                                {{ item.price.sale.percent }}%
                                {% comment %} {{ item.price.get_sale_price_motrum }} % {% endcomment %}
                            {% else %}
                                Нет
                            {% endif %}
                        </div>
                        <div class="item_value">
                            <input class="discount-input"
                                   type="text"
                                   name="price-input-discount"
                                   placeholder="% скидки"
                                   maxlength="5"
                                   value="" />
                            <label for="price-input-discount">
                                %
                                <br>
                                {% if item.old_extra_discount %}
                                    {{ item.old_extra_discount }}%
                                {% endif %}
                            </label>
                        </div>
                        <div class="item_value">
                            <label>
                                <span>Срок поставки</span>
                                <input class="delivery_date" type="date" name="calendar" min={{ current_date }}>
                            </label>
                        </div>
                    </div>
                {% endfor %}
                <!--товары без записи в бд уже есть в спецификации или нет-->
                {% for item in product_new %}
                    <!--когда аптейдейт-->
                    {% if update_spesif %}
                        <div class="item_container"
                             data-product-pk=""
                             data-product-name-new="{{ item.product_new }}"
                             data-product-article-new="{{ item.product_new_article }}"
                             data-product-id-cart="{{ item.id_product_cart }}"
                             data-id="{{ item.id_product_cart }}"
                             data-price="{{ item.price_one }}"
                             data-price-exclusive="1"
                             data-product-specification-id="{{ item.id }}">
                            <div title="Удалить элемент" class="item_conainer-delete_btn">+</div>
                            <div class="item_value">
                                {{ item.product_new }}
                                <br>
                                <textarea style="width: 200px;
                                                 height: 15px;
                                                 border-radius: 5px"
                                          class="comment-input"
                                          name="comment-input-name"
                                          placeholder="Комментарий">{% if item.comment %}{{ item.comment }}{% endif %}</textarea>
                            </div>
                            <div class="item_value">{{ item.product_new_article }}</div>
                            {% if item.price.rub_price_supplier == 0 %}
                                <div class="item_value input_quantity quantity">
                                    <div class="input-container">
                                        <button class="minus-button">-</button>
                                        <input class="input-quantity" type="number" value={{ item.quantity }} oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="5" onkeypress='validate(event)'>
                                        <button class="plus-button">+</button>
                                    </div>
                                </div>
                                <div class="item_value">
                                    <input class="price-input"
                                           name="price-input-extra"
                                           type="text"
                                           placeholder="Введите цену по запросу"
                                           maxlength="10" />
                                    <label for="price-input-extra">
                                        {% if item.product_price_extra_old %}{{ item.data_old }} - {{ item.product_price_extra_old }}{% endif %}
                                    </label>
                                </div>
                                <div class="item_value input_totla-cost total_cost price">0</div>
                            {% else %}
                                <div class="item_value quantity">
                                    <div class="input-container">
                                        <button class="minus-button">-</button>
                                        <input class="input-quantity" type="number" value={{ item.quantity }} oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="5" onkeypress='validate(event)'>
                                        <button class="plus-button">+</button>
                                    </div>
                                </div>
                                <div class="item_value price price_once">{{ item.price_one }}</div>
                                <div class="item_value total_cost price"></div>
                            {% endif %}
                            <div class="item_value">
                                {% if item.discount == "" or item.discount == None %}
                                    Нет
                                {% else %}
                                    {{ item.discount }} %
                                {% endif %}
                            </div>
                            <div class="item_value">
                                <input class="discount-input"
                                       type="hidden"
                                       name="price-input-discount"
                                       onkeypress='validate(event)'
                                       placeholder="% скидки"
                                       maxlength="2"
                                       value="" />
                            </div>
                            <div class="item_value">
                                <label>
                                    <span>Срок поставки</span>
                                    <input class="delivery_date" type="date" name="calendar" min={{ current_date }}>
                                </label>
                            </div>
                        </div>
                        <!--когда новая спецификация-->
                    {% else %}
                        <div class="item_container"
                             data-product-pk=""
                             data-product-name-new="{{ item.product_new }}"
                             data-product-id-cart="{{ item.id }}"
                             data-product-article-new="{{ item.product_new_article }}"
                             data-id="{{ item.id_product_cart }}"
                             data-price="{{ item.product_new_price }}"
                             data-price-exclusive="1"
                             data-product-specification-id="">
                            <div title="Удалить элемент" class="item_conainer-delete_btn">+</div>
                            <div class="item_value">
                                {{ item.product_new }}
                                <br>
                                <textarea style="width: 200px;
                                                 height: 15px;
                                                 border-radius: 5px"
                                          class="comment-input"
                                          name="comment-input-name"
                                          placeholder="Комментарий">{% if item.comment %}{{ item.comment }}{% endif %}</textarea>
                            </div>
                            <div class="item_value">{{ item.product_new_article }}</div>
                            {% if item.price.rub_price_supplier == 0 %}
                                <div class="item_value input_quantity quantity">
                                    <div class="input-container">
                                        <button class="minus-button">-</button>
                                        <input class="input-quantity" type="number" value={{ item.quantity }} oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="5" onkeypress='validate(event)'>
                                        <button class="plus-button">+</button>
                                    </div>
                                </div>
                                <div class="item_value">
                                    <input class="price-input"
                                           name="price-input-extra"
                                           type="text"
                                           placeholder="Введите цену по запросу"
                                           maxlength="10" />
                                    <label for="price-input-extra">
                                        {% if item.product_price_extra_old %}
                                            {{ item.data_old }} - {{ item.product_price_extra_old }}
                                        {% endif %}
                                    </label>
                                </div>
                                <div class="item_value input_totla-cost total_cost price">0</div>
                            {% else %}
                                <div class="item_value quantity">
                                    <div class="input-container">
                                        <button class="minus-button">-</button>
                                        <input class="input-quantity" type="number" value={{ item.quantity }} oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="5" onkeypress='validate(event)'>
                                        <button class="plus-button">+</button>
                                    </div>
                                </div>
                                <div class="item_value price price_once">{{ item.product_new_price }}</div>
                                <div class="item_value total_cost price"></div>
                            {% endif %}
                            <div class="item_value">
                                {% if item.discount == "" or item.discount == None %}
                                    Нет
                                {% else %}
                                    {{ item.discount }} %
                                {% endif %}
                            </div>
                            <div class="item_value">
                                <input class="discount-input"
                                       type="hidden"
                                       name="price-input-discount"
                                       onkeypress='validate(event)'
                                       placeholder="% скидки"
                                       maxlength="2"
                                       value="" />
                            </div>
                            <div class="item_value">
                                <label>
                                    <span>Срок поставки</span>
                                    <input class="delivery_date" type="date" name="calendar" min={{ current_date }}>
                                </label>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <!--товары без записи в бд при аплдете добавленные новые которых езе нет в спецификации-->
                {% for item in product_new_more %}
                    {% if update_spesif %}
                        <div class="item_container"
                             data-product-pk=""
                             data-product-name-new="{{ item.product_new }}"
                             data-product-article-new="{{ item.product_new_article }}"
                             data-product-id-cart="{{ item.id }}"
                             data-id="{{ item.id }}"
                             data-price="{{ item.product_new_price }}"
                             data-price-exclusive="1"
                             data-product-specification-id="">
                            <div title="Удалить элемент" class="item_conainer-delete_btn">+</div>
                            <div class="item_value">
                                {{ item.product_new }}
                                <br>
                                <textarea style="width: 200px;
                                                 height: 15px;
                                                 border-radius: 5px"
                                          class="comment-input"
                                          name="comment-input-name"
                                          placeholder="Комментарий">{% if item.comment %}{{ item.comment }}{% endif %}</textarea>
                            </div>
                            <div class="item_value">{{ item.product_new_article }}</div>
                            {% if item.price.rub_price_supplier == 0 %}
                                <div class="item_value input_quantity quantity">
                                    <div class="input-container">
                                        <button class="minus-button">-</button>
                                        <input class="input-quantity" type="number" value={{ item.quantity }} oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="3" onkeypress='validate(event)'>
                                        <button class="plus-button">+</button>
                                    </div>
                                </div>
                                <div class="item_value">
                                    <input class="price-input"
                                           name="price-input-extra"
                                           type="text"
                                           placeholder="Введите цену по запросу"
                                           maxlength="10" />
                                    <label for="price-input-extra">
                                        {% if item.product_price_extra_old %}{{ item.data_old }} - {{ item.product_price_extra_old }}{% endif %}
                                    </label>
                                </div>
                                <div class="item_value input_totla-cost total_cost price">0</div>
                            {% else %}
                                <div class="item_value quantity">
                                    <div class="input-container">
                                        <button class="minus-button">-</button>
                                        <input class="input-quantity" type="number" value={{ item.quantity }} oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="5" onkeypress='validate(event)'>
                                        <button class="plus-button">+</button>
                                    </div>
                                </div>
                                <div class="item_value price price_once">{{ item.product_new_price }}</div>
                                <div class="item_value total_cost price"></div>
                            {% endif %}
                            <div class="item_value">
                                {% if item.discount == "" or item.discount == None %}
                                    Нет
                                {% else %}
                                    {{ item.discount }} %
                                {% endif %}
                            </div>
                            <div class="item_value">
                                <input class="discount-input"
                                       type="hidden"
                                       name="price-input-discount"
                                       onkeypress='validate(event)'
                                       placeholder="% скидки"
                                       maxlength="2"
                                       value="" />
                            </div>
                            <div class="item_value">
                                <label>
                                    <span>Срок поставки</span>
                                    <input class="delivery_date" type="date" name="calendar" min={{ current_date }}>
                                </label>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="add_new_product">Добавить новый товар</div>
                <div class="coment_all_spesif">
                    <br>
                    <textarea style="width: 400px;
                                     height: 50px;
                                     border-radius: 10px"
                              class="comment-input-all"
                              name="comment-input-name-all"
                              placeholder="Комментарий к всему заказу">{% if specification.comment %}{{ specification.comment }}{% endif %}</textarea>
                    <textarea style="width: 200px;
                                     height: 50px;
                                     border-radius: 10px"
                              class="delivery-date-all-input-all"
                              name="delivery-date-all-input-name-all"
                              placeholder="Срок поставки для документа спецификации">{% if specification.date_delivery %}{{ specification.date_delivery }}{% endif %}</textarea>
                </div>
                <div class="submit-container">
                    <div class="price_description">
                        Итого: <span class="price">0</span> <span class="total-price-description">₽</span>
                    </div>
                    <div class="client">
                        <label class="serch-client">
                            <div class="client-prev">
                                <span>Клиент</span>
                                <input type="text"
                                       name="serch-client_input"
                                       value="{% if client_req %}{{ client_req.requisites.legal_entity }}{% endif %}">
                            </div>
                            <div class="clients"></div>
                         <label class="select-client-requsits_label">
                            <span>Расчетный счет</span>
                             <select class="select-client-requsits"
                                     {% if client_req %}value="{{ client_req.id }}"{% endif %}
                                     name="client-requisit">
                                 {% if client_req %}
                                     {% for recusits in client_req_all %}
                                         <option class="client-option"
                                                 {% if client_req.id == recusits.id %}selected{% endif %}
                                                 value="{{ recusits.id }}">{{ recusits.account_requisites }}</option>
                                     {% endfor %}
                                 {% endif %}
                             </select>
                         </label>
                            <div class="client-info">
                                {% if client_req %}
                                    <div>Предоплата: {{ client_req.requisites.prepay_persent }}%</div>
                                    {% comment %} <div>Доставка: {{ client_req.requisites.type_delivery }}</div> {% endcomment %}
                                {% endif %}
                            </div>
                        </label>
                        <label class="bitrix-id-label">
                            <span>Номер сделки Bitrix</span>
                            <input class="bitrix-input"
                                   type="text"
                                   onkeypress='validate(event)'
                                   value="{% if order and order.id_bitrix  %}{{ order.id_bitrix }}{% endif %}" />
                        </label>
                    </div>
                    <div class="motrum-info">
                        <label for="motrum-select">Юрлицо мотрум для сделки:</label>
                        <select class="select_motrum_requisites"
                                id="motrum-select"
                                style="height: 25px;
                                       border-radius: 10px"
                                name="mortum_req"
                                value="1"
                                value="1">
                            {% for requisit in mortum_req %}
                                <option {% if order and requisit.id == order.motrum_requisites.id %}selected{% endif %} data-requisites-id="{{ requisit.requisites.id }} " data-account-requisites-id="{{ requisit.id }}" value={{ requisit.id }}>
                                    Юр.лицо - {{ requisit.requisites.short_name_legal_entity }}- Расчетный счет -{{ requisit.account_requisites }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="button_specification-wrapper">
                        <div class="save_button-wrapper">
                            <button class="save_button">Сохранить спецификацию</button>
                            <div class="error"></div>
                        </div>
                     
                        <button class="exit_button">Выйти без изменений</button>
                        {% if specification %}
                        
                        {% else %}
                        <div class="save_order_button-wrapper">
                            <button class="save_order_button" >Сохранить корзину без заказа</button>
                            <div class="save_order_button-error"></div>
                        </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        {% else %}
            <div class="no_content-container">
                <div>Товаров пока нет</div>
                <a href="{% url 'admin_specification:categories' %}">Вернуться</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}
