{% extends "core/base_okt.html" %}
{% load static %}
{% block content %}
    {% load number_into_digits %}
    {% include "admin_specification/include/header.html" %}
    <div nds={{ nds }} order={{ order }} class="specification-container okt_cart_container">
        {% if order.bill_sum and bill_upd == False and order.status != "CANCELED" %}<div class=""></div>{% endif %}
        {% if product or product_new or product_new_more %}
            <div class="spetification_table">
                <div class="spetification_titles">
                    <div class="title_item">товар</div>
                    <div class="title_item">Остатки</div>
                    <div class="title_item">
                        Цена <span>продажи за шт. в ₽</span>
                    </div>
                    <div class="title_item">Кол-во</div>
                    <div class="title_item">
                        Стоимость <span>для клиента</span>
                    </div>
                    <div class="title_item">
                        Стоимость <span>для Motrum</span>
                    </div>
                    <div class="title_item">
                        Скидка <span>клиента</span>
                    </div>
                    <div class="title_item">Маржа</div>
                    <div class="title_item">Марж-ть</div>
                    <div class="title_item">Срок поставки</div>
                </div>
                <!-- товары из окт -->
                {% for item in product %}
                    {% include "admin_specification/include/item_in_cart/product_in_bd_item.html" %}
                {% endfor %}
                <!--товары без записи в бд уже есть в спецификации или нет-->
                {% for item in product_new %}
                    {% if update_spesif %}
                        {% if  item.product_prod_in_cart == None %}
                            <!--когда аптейдейт ПОДЕРЖК СТАРЫХ ЗАКАЗОВ если у товара добавленного вручную не проставился product_id-  -->
                            {% include "admin_specification/include/item_in_cart/new_product_item.html" %}
                        {% endif %}
                    {% else %}
                        <!--товары без записи в бд когда новая спецификация-->
                        {% include "admin_specification/include/item_in_cart/new_product_item.html" %}
                    {% endif %}
                {% endfor %}
                <!--товары без записи в бд при аплдете добавленные новые которых еще нет в спецификации-->
                {% for item in product_new_more %}
                    {% if update_spesif %}
                    
                        {% include "admin_specification/include/item_in_cart/new_product_item.html" %}
                        {% comment %} <div class="item_container added_item_container"
                             data-vendor="{{ item.vendor.id }}"
                             data-supplier="{{ item.supplier.id }}"
                             data-product-pk=""
                             data-product-name-new="{{ item.product_new }}"
                             data-product-article-new="{{ item.product_new_article }}"
                             data-product-id-cart="{{ item.id }}"
                             data-id="{{ item.id }}"
                             data-price="{{ item.product_new_price }}"
                             data-price-exclusive="1"
                             data-product-specification-id=""
                             data-comment-item="{% if item.comment %}{{ item.comment }}{% endif %}">
                            <div title="Удалить элемент" class="item_conainer-delete_btn">+</div>
                            <div title="Редактировать элемент" class="change_icon_container">
                                <img src="{% static "core/images/changeIcon.svg" %}" alt="icon" />
                            </div>
                            <div title="Cохранить элемент" class="save_icon_container">
                                <img src="{% static "core/images/save-okt-icon.png" %}" alt="icon" />
                            </div>
                            <div class="item_value">
                                {{ item.product_new }}
                                <br>
                                <div class="article">Арт. {{ item.product_new_article }}</div>
                                {% if item.comment %}
                                    <div class="comment true">Посмотреть комментарий</div>
                                {% else %}
                                    <div class="comment false">Добавить комментарий</div>
                                {% endif %}
                            </div>
                            <div class="item_value"></div>
                            1111
                            {% if item.product_new_price == 0 or item.product_new_price == None %}
                                <div class="item_value">
                                    <input class="price-input"
                                           disabled
                                           name="price-input-extra"
                                           type="text"
                                           placeholder="Введите цену по запросу"
                                           maxlength="10"
                                           value="{% if bill_upd and item.id_product_spesif %}{{ item.old_price_one }}{% else %}{% endif %}" />
                                    <label for="price-input-extra">
                                        <br>
                                        {% if item.old_price_one_full %}{{ item.old_date }} - {{ item.old_price_one_full }}{% endif %}
                                    </label>
                                </div>
                                <div class="item_value input_quantity quantity">
                                    <div class="input-container">
                                        <button class="minus-button">
                                            <img src="{% static "admin_specification/images/minus_btn.svg" %}"
                                                 alt="img"  />
                                        </button>
                                        <input class="input-quantity"
                                               type="text"
                                               value="{{ item.quantity }}"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                               maxlength="5"
                                               onkeypress='validate(event)'>
                                        <button class="plus-button">
                                            <img src="{% static "admin_specification/images/plus_btn.svg" %}"
                                                 alt="img"  />
                                        </button>
                                    </div>
                                </div>
                                <div class="item_value total_cost price">0</div>
                            {% else %}
                                <div class="item_value price price_once">{{ item.product_new_price }}</div>
                                <div class="item_value input_quantity quantity">
                                    <div class="input-container">
                                        <button class="minus-button">
                                            <img src="{% static "admin_specification/images/minus_btn.svg" %}"
                                                 alt="img"  />
                                        </button>
                                        <input class="input-quantity"
                                               type="text"
                                               value="{{ item.quantity }}"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                               maxlength="5"
                                               onkeypress='validate(event)'>
                                        <button class="plus-button">
                                            <img src="{% static "admin_specification/images/plus_btn.svg" %}"
                                                 alt="img"  />
                                        </button>
                                    </div>
                                </div>
                                <div class="item_value total_cost price"></div>
                            {% endif %}
                            <div class="item_value">
                                <div class="price_motrum"
                                     price-motrum="{% if item.product_price_motrum %}{{ item.product_price_motrum }}{% else %}{% if item.price_motrum %}{{ item.price_motrum }}{% else %}0{% endif %}{% endif %}">
                                    {% if item.product_price_motrum %}
                                        {{ item.product_price_motrum }}
                                    {% else %}
                                        {% if item.price_motrum %}
                                            {{ item.price_motrum }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="">
                                    {% if item.product_new_sale_motrum %}
                                        скидка на прайс <span class="motrum_sale_persent">{{ item.product_new_sale_motrum }}</span>%
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="item_value">
                                <input class="discount-input"
                                       disabled
                                       type="text"
                                       name="price-input-discount"
                                       placeholder="% скидки"
                                       maxlength="6"
                                       value="{% if item.sale_client %}{{ item.sale_client }}{% endif %}" />
                            </div>
                            <div class="item_value">
                                <div>
                                    <span class="marginality">0</span> ₽
                                </div>
                                <div>
                                    / <span class="marginality-persent">0</span> %
                                </div>
                            </div>
                            <div class="item_value">
                                <label>
                                    {% if bill_upd %}
                                        <input class="delivery_date"
                                               disabled
                                               type="date"
                                               name="calendar"
                                               value="{% if item.date_delivery|date %}{{ item.date_delivery|date:"Y-m-d" }}{% else %}{% if item.date_delivery_bill %}{{ item.date_delivery_bill|date:"Y-m-d" }}{% else %}{{ item.date_delivery_first|date:"Y-m-d" }}{% endif %}{% endif %}">
                                    {% else %}
                                        <input class="delivery_date"
                                               disabled
                                               type="date"
                                               name="calendar"
                                               min="{{ current_date }}">
                                    {% endif %}
                                </label>
                            </div>
                            <div class="change_item_container_wrapper">
                                3333
                                <div class="change_item_container">
                                    <div class="change_item_container_value">
                                        <label class="name_label">
                                            <input placeholder="Имя товара"
                                                   class="new_item_container_name_input"
                                                   type="text"
                                                   value="{{ item.product_new }}" />
                                            <div class="error"></div>
                                        </label>
                                        <label class="article_label">
                                            <input placeholder="Артикул товара"
                                                   class="new_item_container_article_input"
                                                   type="text"
                                                   value="{{ item.product_new_article }}" />
                                            <div class="error"></div>
                                        </label>
                                    </div>
                                    <div class="change_item_container_value">
                                        <label class="vendor_label">
                                            <input class="vendor_input"
                                                   value="{{ item.vendor.name }}"
                                                   vendor_value="{{ item.vendor.id }}"
                                                   type="text"
                                                   placeholder="Производитель" />
                                            <div class="vendor_input_elems_container_wrapper">
                                                <div class="vendor_input_elems_container" search-supplier-elem="wrapper">
                                                    <div class="loader"></div>
                                                    <div class="search_elems" search-supplier-elem="container">
                                                        {% for search_supplier_elem in search_supplier_list %}
                                                            {% include "admin_specification/include/ajax_search_suplier_elem.html" with search_supplier_elem=search_supplier_elem %}
                                                        {% endfor %}
                                                    </div>
                                                    <div class="small_loader"></div>
                                                    <div class="none_content">Таких поставщиков нет</div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                             
                                    <div class="change_item_container_value">
                                        <label class="price_once_label">
                                            <input placeholder="цена за 1шт"
                                                   type="text"
                                                   class="price_input"
                                                   value="{{ item.product_new_price }}" />
                                            <div class="error"></div>
                                        </label>
                                    </div>
                                    <div class="change_item_container_value">
                                        <label class="quantity_label">
                                            <input placeholder="Количество"
                                                   type="text"
                                                   class="quantity_input"
                                                   value="{{ item.quantity }}" />
                                            <div class="error"></div>
                                        </label>
                                    </div>
                                    <div class="change_item_container_value">
                                        <div class="change_item_container_value_total_cost">0</div>
                                    </div>
                                    <div class="change_item_container_value">
                                        <div class="change_item_container_value_motrum_price">0</div>
                                        <div>
                                            Cкидка
                                            <input class="persent_sale"
                                                   type="text"
                                                   placeholder="%"
                                                   value="{% if item.product_new_sale_motrum %}{{ item.product_new_sale_motrum }}{% endif %}" />
                                            %
                                        </div>
                                        <label class="new_item_change_price_motrum_label"
                                               for="new_item_change_price_motrum_hands">или цена закупки</label>
                                        <input class="new_item_change_price_motrum"
                                               id="new_item_change_price_motrum_hands"
                                               value="{% if item.product_price_motrum %}{{ item.product_price_motrum }}{% endif %}">
                                    </div>
                                    <div class="new_item_container_value">
                                        <input class="discount-input"
                                               type="text"
                                               name="price-input-discount"
                                               placeholder="% скидки"
                                               maxlength="6"
                                               value="{% if item.sale_client %}{{ item.sale_client }}{% endif %}" />
                                    </div>
                                    <div class="add_change_item_in_cart_container">
                                        <label class="new_item_container_value_calendar_label">
                                            <input class="new_item_container_calendar"
                                                   type="date"
                                                   value="{% if item.date_delivery %}{{ item.date_delivery|date:"Y-m-d" }}{% endif %}"
                                                   min="{{ current_date }}" />
                                            <div class="error"></div>
                                        </label>
                                        <button class="add_new_item_in_cart">Изменить</button>
                                        <div class="add_new_item_in_cart_container_error"></div>
                                    </div>
                                    <div class="close-btn">+</div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                    {% endif %}
                {% endfor %}
                
                
                <!--новый товар добавить-->
                {% include "admin_specification/include/item_in_cart/new_product_add.html" %}
                <div class="price_description">
                    <div>
                        <div>Маржа:</div>
                        <div>
                            <span class="marginality_value">0</span> <span class="total-price-description">₽</span>
                        </div>
                    </div>
                    <div>
                        <div>Процент маржи:</div>
                        <div>
                            <span class="marginality_prcent_value">0</span> <span class="total-price-description">%</span>
                        </div>
                    </div>
                    <div>
                        <div>Итого:</div>
                        <div>
                            <span class="price">0</span> <span class="total-price-description">₽</span>
                        </div>
                    </div>
                </div>
                {% include "admin_specification/include/item_in_cart/serch&add_new_button.html" %}
                <div class="submit_and_content_container">
                    <div class="coment_all_spesif">
                        <textarea class="comment-input-all"
                                  name="comment-input-name-all"
                                  placeholder="Комментарий к всему заказу">{% if specification.comment %}{{ specification.comment }}{% endif %}</textarea>
                    </div>
                    <div class="submit-container">
                        <div class="client">
                            <label class="serch-client">
                                <div class="client-prev">
                                    <input {% if bill_upd or order.id_bitrix %}disabled{% endif %}
                                           type="text"
                                           name="serch-client_input"
                                           placeholder="Клиент"
                                           value="{% if client_req %}{{ client_req.requisitesKpp.requisites.legal_entity }}{% endif %}">
                                </div>
                                <div class="clients"></div>
                                <label class="select-client-requsits_label">
                                    <select {% if bill_upd or order.id_bitrix %}disabled{% endif %}
                                            class="select-client-requsits"
                                            {% if client_req %}value="{{ client_req.id }}"{% endif %}
                                            name="client-requisit">
                                        <option disabled>Расчетный счет юр.Лица</option>
                                        {% if client_req %}
                                            {% for recusits in client_req_all %}
                                                <option class="client-option"
                                                        {% if client_req.id == recusits.id %}selected{% endif %}
                                                        value="{{ recusits.id }}">
                                                    {% if recusits.requisitesKpp.kpp %}КПП:{{ recusits.requisitesKpp.kpp }}{% endif %}
                                                    Р/c:{{ recusits.account_requisites }}
                                                </option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </label>
                                <div class="client-info">
                                    {% if client_req %}
                                        <div>Предоплата: {{ client_req.requisitesKpp.requisites.prepay_persent }}%</div>
                                        <div></div>
                                    {% endif %}
                                </div>
                            </label>
                            <label class="bitrix-id-label">
                                <input disabled
                                       class="bitrix-input"
                                       type="text"
                                       onkeypress='validate(event)'
                                       value="{% if order and order.id_bitrix %}{{ order.id_bitrix }}{% endif %}"
                                       placeholder="Номер сделки Б24" />
                            </label>
                        </div>
                        <div class="motrum-info">
                            <div>
                                <select class="select_delevery" name='delevery-requisit' value="1">
                                    <option disabled selected>Способ доставки</option>
                                    {% for delivery in type_delivery %}
                                        <option {% if order.type_delivery.id == delivery.id %}selected{% endif %}
                                                value="{{ delivery.id }}">
                                            {{ delivery.text }}
                                            {% if delivery.company_delivery %}{{ delivery.company_delivery }}{% endif %}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <select class="select_motrum_requisites"
                                    id="motrum-select"
                                    name="mortum_req"
                                    value="1"
                                    value="1">
                                <option disabled selected>Юрлицо Motrum</option>
                                {% for requisit in mortum_req %}
                                    <option {% if order and requisit.id == order.motrum_requisites.id %}selected{% endif %}
                                            data-requisites-id="{{ requisit.requisites.id }}"
                                            data-account-requisites-id="{{ requisit.id }}"
                                            value="{{ requisit.id }}">
                                        {{ requisit.requisites.short_name_legal_entity }}- Расчетный счет -{{ requisit.account_requisites }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="button_specification-wrapper">
                            {% if bill_upd %}
                                <div class="save_upd_bill-wrapper">
                                    <button class="save_upd_bill">Сохранить изменения</button>
                                    <div class="save_upd_bill-error"></div>
                                </div>
                                <button class="exit_button">Выйти без изменений</button>
                            {% else %}
                                <div class="save_button-wrapper "style=" display: none; ">
                                    <button class="save_button">Сохранить спецификацию</button>
                                    <div class="error"></div>
                                </div>
                                <div class="save_invoice_button-wrapper">
                                    <button class="save_button">Сохранить заказ</button>
                                    <div class="error"></div>
                                </div>
                                {% if specification %}
                                {% else %}
                                {% endif %}
                                <button class="exit_button">Выйти без изменений</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="no_content_container">
                {% include "admin_specification/include/item_in_cart/new_product_add.html" %}
                {% include "admin_specification/include/item_in_cart/serch&add_new_button.html" %}
            </div>
        {% endif %}
        <div class=""></div>
    </div>
{% endblock content %}
