{% extends "base.html" %}
{% block content %}
<div class="logout_btn">
    <p>Пользователь: {{ request.user.username}}</p>
    <a href="{% url "user:logout_admin" %}">Выход</a>
</div>

    <div class="all-categories-content">
        <div class="all-categories-content_top-menu">

        
        <div class="bread-crumbs">
            <a class="all-specification-link"
               href="{% url "admin_specification:all_specifications" %}">Cпецификации</a>
        </div>
        {% include "admin_specification/include/search_form.html" %}
    </div>

        {% comment %} <h1 class="title">{{ title }}</h1> {% endcomment %}
        <div class="categories-container">
            {% for category in categories %}
                <a href="{% if category.groupproduct_set.all %}{% url "admin_specification:groups" category.pk %} {% else %} {% url "admin_specification:instruments" category.pk %} {% endif %}"
                   class="category">
                    <span>{{ category.name }}</span>
                </a>
            {% endfor %}
        </div>
        {% include "admin_specification/include/catalog_items.html" %}
    </div>
{% endblock content %}
