{% extends "core/base_okt.html" %}
{% block content %}
    <div class="logout_btn">
        <p>Пользователь: {{ request.user.username }}</p>
        <a href="{% url "user:logout_admin" %}">Выход</a>
    </div>
    <div class="all_groups-container">
        <div class="bread-crumbs">
            <a href="{% url "admin_specification:categories" %}">Каталог</a>
            <a href="{% url "admin_specification:all_specifications" %}">Cпецификации</a>
        </div>
        <div class="bread-crumbs">
            {% comment %} <a href="#">Главная</a>
            <a href="{% url "admin_specification:categories" %}">Каталог</a> {% endcomment %}
            <a href={% url "admin_specification:categories" %}>Назад</a>
        </div>
        {% include "admin_specification/include/search_form.html" %}
        <div class="categories_container">
            <div class="swiper-wrapper">
                {% for category in categories %}
                    <a href="{% url "admin_specification:groups" category.pk %}"
                       class="swiper-slide category">
                        <span>{{ category.name }}</span>
                    </a>
                {% endfor %}
            </div>
            <div class="slider-arrow">></div>
        </div>
        <h1 class="title">{{ title }}</h1>
        <div class="group-container">
            {% for group in groups %}
                <a href="{% url "admin_specification:specifications" group.category.pk group.pk %}"
                   class="group">
                    <span>{{ group.name }}</span>
                </a>
            {% endfor %}
        </div>
        {% include "admin_specification/include/catalog_items.html" %}
    </div>
{% endblock content %}
