{% extends "core/base_okt.html" %}
{% block content %}
  {% load i18n %}
  {% load url from simple_history_compat %}
  {% load admin_urls %}
  {% load getattribute from getattributes %}
  {% load verbose_names %}
  {% load get_history_operations_math %}
  <div class="logout_btn">
    <p>Пользователь: {{ request.user.username }}</p>
    <a href="{% url "user:logout_admin" %}">Выход</a>
  </div>
  <div class="all_specifications_container">
    <div class="bread-crumbs">
      <a href="{% url "admin_specification:categories" %}">Каталог</a>
      <a href="{% url "admin_specification:all_specifications" %}">Cпецификации</a>
    </div>
    <h1 class="title">{{ title }}</h1>
  </div>
  <p style="font-size: 2vw;padding: 0 3.125rem;    margin: auto;">История изменений счета</p>
  <table style="padding: 0 3.125rem;
                border-collapse: collapse;
                margin: auto"
         id="change-history"
         class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">{% trans 'Object' %}</th>
        {% for column in history_list_display %}
          <th scope="col">{% trans column %}</th>
        {% endfor %}
        <th scope="col">{% trans 'Date/time' %}</th>
        <th scope="col">{% trans 'Comment' %}</th>
        <th scope="col">Кем</th>
        <th scope="col">Откуда</th>
        <th scope="col">{% trans 'Изменение' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for record in historical_records %}
        {% with total=record.history_delta_changes|length %}
          {% comment %} or record.history_delta_change != "[]" {% endcomment %}
          {% if total >= 1 or record.history_object.product %}
            <tr style="border-bottom:1px solid black">
              <td>
                {% get_verbose_field_name object "name" record.history_object %}
                <p style="width:350px">{{ record.history_object.product }}</p>
              </td>
              {% for column in history_list_display %}<td>{{ record|getattribute:column }}</td>{% endfor %}
              <td>{{ record.history_date }}</td>
              <td>{{ record.get_history_type_display }}</td>
              <td>
                {% if record.history_user %}
                  {% url admin_user_view record.history_user_id as admin_user_url %}
                  {% if admin_user_url %}
                    <a href="{{ admin_user_url }}">{{ record.history_user }}</a>
                  {% else %}
                    {{ record.history_user }}
                  {% endif %}
                {% else %}
                  {% trans "Auto" %}
                {% endif %}
              </td>
              <td>{{ record.history_change_reason }}</td>
              <td>
                {% block history_delta_changes %}
                  {% if record.history_delta_changes %}
                    <ul>
                      {% for change in record.history_delta_changes %}
                        <li>
                          {% if change.field == "Оплаченная сумма" %}
                            <strong>Оплата:</strong>{% get_history_operations_math change.old change.new %} руб.
                            <br>
                          {% endif %}
                          <strong>{{ change.field }}:</strong>
                          {% if change.field == "Удалить" %}
                            {% get_verbose_field_name object "name" record.history_object %}
                            {{ record.history_object }}
                          {% endif %}
                          {% if change.old == "None" %}
                            нет
                          {% else %}
                            {{ change.old }}
                          {% endif %}
                          {# Add some spacing, and prevent having the arrow point to the edge of the page if `new` is wrapped #}
                          &nbsp;&rarr;&nbsp;&nbsp;
                          {% if change.new == "None" %}
                            нет
                          {% else %}
                            {{ change.new }}
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <ul>
                      <li>
                        {{ record.history_type }}
                        {% if record.history_type == "-" %}
                          <strong>Удалено:</strong>
                          <p>{{ record.history_object.product }}</p>
                          {% get_verbose_field_name object "name" record.history_object %}
                        {% elif record.history_type == "~" %}
                          {% if record.history_object.product %}{% endif %}
                          <strong>Изменено:</strong>
                          <p>{{ record.history_object.product }}</p>
                          {% get_verbose_field_name object "name" record.history_object %}
                        {% elif record.history_type == "+" %}
                          <strong>Добавленно:</strong>
                          <p style="width:550px">{{ record.history_object.product }}</p>
                          {% get_verbose_field_name object "name" record.history_object %}
                        {% endif %}
                      </li>
                    </ul>
                  {% endif %}
                {% endblock %}
              </td>
            {% endif %}
          {% endwith %}
        {% endfor %}
      </tbody>
    </table>
  {% endblock content %}
