{% extends "core/base_okt.html" %}
{% block content %}
    <div class="logout_btn">
        {% if request.user.is_superuser  == True %}
            <a class="admin-link" href="{% url 'admin:index' %}">Административная панель</a>
        {% endif %}
        <p>Пользователь: {{ request.user.username }}</p>
        <a href="{% url "user:logout_admin" %}">Выход</a>
    </div>
    <div class="specification-content">
        {% include "admin_specification/include/bread_crumbs.html" %}
        <div class="bread-crumbs">
            {% comment %} <a href="#">Главная</a>
            <a href="{% url "admin_specification:categories" %}">Каталог</a>
            {% if group %}
                <a href="{% url "admin_specification:groups" group.category.pk %}">{{ group.category.name }}</a>
            {% endif %} {% endcomment %}
            {% if group %}
                <a href="{% url "admin_specification:groups" group.category.pk %}">Назад</a>
            {% else %}
                <a href={% url "admin_specification:categories" %}>Назад</a>
            {% endif %}
            {% comment %} <a href="{% url "admin_specification:all_specifications" %}">Все спецификации</a> {% endcomment %}
        </div>
        {% include "admin_specification/include/search_form.html" %}
        <div class="group-slider">
            <div class="swiper-wrapper">
                {% if another_groups %}
                    {% for group in another_groups %}
                        <a class="swiper-slide group-link"
                           href="{% url "admin_specification:specifications" group.category.pk group.pk %}">{{ group.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="head-content">
            <div class="container">
                {% if group %}
                    <h1 class="head-title">{{ group.name }}</h1>
                {% else %}
                    <h1 class="head-title">{{ title }}</h1>
                {% endif %}
            </div>
        </div>
        {% include "admin_specification/include/catalog_items.html" %}
    </div>
{% endblock content %}
