{% extends "base.html" %}
{% block content %}
    <div class="specification-content">
        <div class="head-content">
            <div class="container">
                <h1 class="head-title">{{ title }}</h1>
                <div class="specification-title">Страница товаров</div>
                <form class="search-form-container" action="" method="get">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for form_elem in form %}
                        <div class="input-container">
                            <label class="form-label" for="{{ form_elem.id_for_label }}">{{ form_elem.label }}</label>
                            {{ form_elem }}
                        </div>
                    {% endfor %}
                    <button type="submit">Найти</button>
                </form>
            </div>
            <div class="container">
                <div class="specification-link-container">
                    Товаров в <a href="{% url 'admin_specification:create_specification' %}">спецификации</a>: <span>0</span>
                </div>
            </div>
        </div>
        <div class="spetification-product-catalog">
            {% for product in products %}
                <div class="catalog-item" data-id={{ product.pk }} {% if product.price.rub_price_supplier %} data-price={{ product.price.rub_price_supplier }} {% else %} data-price="0" {% endif %}  data-motrum-id={{ product.article }} data-saler-id={{ product.article_supplier }}>
                    <div class="descripton">
                        <div class="name">{{ product.name }}</div>
                        <div class="article-motrum">Артикул Motrum: {{ product.article }}</div>
                        <div class="article-saler">Артикул Поставщика: {{ product.article_supplier }}</div>
                        {% if additional_article_supplier %}
                            <div class="article-add">Дополнительный Артикул: {{ product.additional_article_supplier }}</div>
                        {% endif %}
                        <div class="price">
                            {% if product.price.rub_price_supplier %}
                                Цена: <span class="price-count">{{ product.price.rub_price_supplier }}</span> ₽
                            {% else %}
                                Цена: <span>По запросу</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="item-buttons_container">
                        <div class="quantity-buttons">
                            <button disabled class="minus-button">-</button>
                            <span>0</span>
                            <button class="plus-button">+</button>
                        </div>
                        <button disabled class="add-specification-button">Добавить к спецификации</button>
                    </div>
                </div>
            {% empty %}
                <div class="none-products">Товаров со значением "{{ search_input }}" не существует</div>
            {% endfor %}
            {% if products %}
                <div class="pagintion">
                    {% if products.number == 1 or products.number == 2 or products.number == 3 %}
                    {% else %}
                        {% if search_input %}
                            <a class="first-elem" href="?page=1&search_input={{ search_input }}"><span>1</span></a>
                        {% else %}
                            <a class="first-elem" href="?page=1"><span>1</span></a>
                        {% endif %}
                    {% endif %}
                    {% for p in products.paginator.page_range %}
                        {% if products.number == p %}
                            <div class="page-num-selected">
                                <span>{{ p }}</span>
                            </div>
                        {% elif p >= products.number|add:-2 and p <= products.number|add:2 %}
                            {% if search_input %}
                                <a href="?page={{ p }}&search_input={{ search_input }}"><span>{{ p }}</span></a>
                            {% else %}
                                <a href="?page={{ p }}"><span>{{ p }}</span></a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if products.number == num_of_pages or products.number == num_of_pages|add:"-1" or products.number == num_of_pages|add:"-2" %}
                    {% else %}
                        {% if search_input %}
                            <a class="last-elem"
                               href="?page={{ num_of_pages }}&search_input={{ search_input }}"><span>{{ num_of_pages }}</span></a>
                        {% else %}
                            <a class="last-elem" href="?page={{ num_of_pages }}"><span>{{ num_of_pages }}</span></a>
                        {% endif %}
                    {% endif %}
                </div>
            {% else %}
                <a href="?page=1" class="return-button"><span>Вернуться</span></a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
