{% extends "core/base_okt.html" %}
{% load static %}
{% block content %}
    {% include "admin_specification/include/header.html" %}
    <div class="specification-content">
        <div class="bread-crumbs">
            {% if group %}
                <a href="{% url "admin_specification:groups" group.category.pk %}">Назад</a>
            {% else %}
                <a href={% url "admin_specification:categories" %}>Назад</a>
            {% endif %}
        </div>
        {% if group %}
            <h1 class="head-title">{{ group.name }}</h1>
        {% else %}
            <h1 class="head-title">{{ title }}</h1>
        {% endif %}
        {% if another_groups %}
            <div class="swiper">
                <div class="group-slider">
                    <div class="swiper-wrapper">
                        {% for group in another_groups %}
                            <a class="swiper-slide group-link"
                               href="{% url "admin_specification:specifications" group.category.pk group.pk %}"><span>{{ group.name }}</span></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="slider-arrow">
                    <div class="img_container">
                        <img src="{% static "core/images/direction/arrow.png" %}" alt="img" loading="lazy" />
                    </div>
                </div>
            </div>
        {% endif %}
        {% include "admin_specification/include/search_form.html" %}
        {% include "admin_specification/include/catalog_items.html" %}
    </div>
{% endblock content %}
