django
django-debug-toolbar
django-environ
requests
gunicorn
# pymysql
psycopg2
Pytils 
Pillow
openpyxl
# xlrd
lxml
django-autocomplete-light
reportlab
pypdf 
celery
redis
flower
django-simple-history
beautifulsoup4
djangorestframework

djlint
libsass 
django-compressor 
django-sass-processor



