django
django-debug-toolbar
django-environ
requests
gunicorn
psycopg2
Pytils 
Pillow
openpyxl
lxml
django-autocomplete-light
reportlab
pypdf 
celery
redis
flower
django-simple-history
beautifulsoup4
djangorestframework
num2words

djlint
libsass 
django-compressor 
django-sass-processor



