.devcontainer
.idea/

/media/
/static/
/tmp/
/documentation/
/motrumvenv/
/apps/core/static/core/images/about_company.mp4
/coolsite_cache/
/.vscode/


__pycache__/
*.pyc
*.env
*.env1

.DS_Store
db.sqlite3

checking_convertation.txt