--
-- PostgreSQL database cluster dump
--

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--





--
-- Drop roles
--

DROP ROLE postgres;


--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:tL2y734AmPu2vV986idlyw==$GyIYQ2y8r0ZXq0clXF87ImqNFVi1VDIAdId3My8tkt0=:VPiBQntozUYc4n1onnlEvPSri9IHK0n9A3S7O6y81TU=';

--
-- User Configurations
--








--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.2 (Debian 16.2-1.pgdg120+2)
-- Dumped by pg_dump version 16.2 (Debian 16.2-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO postgres;

\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: postgres
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: postgres
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.2 (Debian 16.2-1.pgdg120+2)
-- Dumped by pg_dump version 16.2 (Debian 16.2-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO postgres;

\connect postgres

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: client_client; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.client_client (
    id bigint NOT NULL,
    name character varying(25)
);


ALTER TABLE public.client_client OWNER TO postgres;

--
-- Name: client_client_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.client_client ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.client_client_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_currency; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_currency (
    id bigint NOT NULL,
    name character varying(30) NOT NULL,
    words_code character varying(30) NOT NULL,
    code smallint NOT NULL
);


ALTER TABLE public.core_currency OWNER TO postgres;

--
-- Name: core_currency_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_currency ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_currency_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_vat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_vat (
    id bigint NOT NULL,
    name smallint NOT NULL
);


ALTER TABLE public.core_vat OWNER TO postgres;

--
-- Name: core_vat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_vat ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_vat_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: logs_logsproductchange; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logs_logsproductchange (
    id bigint NOT NULL,
    name character varying(30) NOT NULL,
    type_logs character varying(7) NOT NULL,
    name_field character varying(30) NOT NULL,
    old_value character varying(130) NOT NULL,
    new_value character varying(130) NOT NULL,
    date date NOT NULL,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.logs_logsproductchange OWNER TO postgres;

--
-- Name: logs_logsproductchange_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.logs_logsproductchange ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.logs_logsproductchange_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_categoryproduct; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_categoryproduct (
    id bigint NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.product_categoryproduct OWNER TO postgres;

--
-- Name: product_categoryproduct_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_categoryproduct ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_categoryproduct_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_currencyrate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_currencyrate (
    id bigint NOT NULL,
    date date NOT NULL,
    rate integer NOT NULL,
    currency_id bigint NOT NULL,
    CONSTRAINT product_currencyrate_rate_check CHECK ((rate >= 0))
);


ALTER TABLE public.product_currencyrate OWNER TO postgres;

--
-- Name: product_currencyrate_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_currencyrate ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_currencyrate_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_groupproduct; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_groupproduct (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    article_name character varying(25) NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.product_groupproduct OWNER TO postgres;

--
-- Name: product_groupproduct_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_groupproduct ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_groupproduct_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_lot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_lot (
    id bigint NOT NULL,
    name character varying(30) NOT NULL,
    name_shorts character varying(6),
    slug character varying(50)
);


ALTER TABLE public.product_lot OWNER TO postgres;

--
-- Name: product_lot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_lot ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_lot_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_price; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_price (
    id bigint NOT NULL,
    price_supplier double precision NOT NULL,
    rub_price_supplier double precision NOT NULL,
    price_motrum double precision NOT NULL,
    currency_id bigint NOT NULL,
    vat_id bigint NOT NULL,
    prod_id bigint
);


ALTER TABLE public.product_price OWNER TO postgres;

--
-- Name: product_price_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_price ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_price_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_product (
    id bigint NOT NULL,
    article integer NOT NULL,
    article_supplier character varying(50) NOT NULL,
    additional_article_supplier character varying(50),
    name character varying(50) NOT NULL,
    category_id bigint,
    group_id bigint,
    supplier_id bigint NOT NULL,
    vendor_id bigint NOT NULL,
    data_create date NOT NULL,
    check_document_upgrade boolean NOT NULL,
    check_image_upgrade boolean NOT NULL,
    check_property_upgrade boolean NOT NULL,
    description character varying(1000),
    CONSTRAINT product_product_article_check CHECK ((article >= 0))
);


ALTER TABLE public.product_product OWNER TO postgres;

--
-- Name: product_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_productdocument; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_productdocument (
    id bigint NOT NULL,
    file character varying(100),
    link character varying(100),
    product_id bigint NOT NULL,
    hide boolean NOT NULL,
    document character varying(100)
);


ALTER TABLE public.product_productdocument OWNER TO postgres;

--
-- Name: product_productdocument_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_productdocument ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_productdocument_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_productimage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_productimage (
    id bigint NOT NULL,
    file character varying(100),
    link character varying(100) NOT NULL,
    product_id bigint NOT NULL,
    photo character varying(100),
    hide boolean NOT NULL
);


ALTER TABLE public.product_productimage OWNER TO postgres;

--
-- Name: product_productimage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_productimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_productimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_productproperty; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_productproperty (
    id bigint NOT NULL,
    name character varying(40) NOT NULL,
    value character varying(40) NOT NULL,
    unit_measure character varying(40),
    product_id bigint NOT NULL,
    hide boolean NOT NULL
);


ALTER TABLE public.product_productproperty OWNER TO postgres;

--
-- Name: product_productproperty_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_productproperty ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_productproperty_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_stock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_stock (
    id bigint NOT NULL,
    stock_supplier integer NOT NULL,
    lot_complect integer NOT NULL,
    stock_supplier_unit integer NOT NULL,
    stock_motrum integer NOT NULL,
    lot_id bigint NOT NULL,
    prod_id bigint,
    CONSTRAINT product_stock_lot_complect_check CHECK ((lot_complect >= 0)),
    CONSTRAINT product_stock_stock_motrum_check CHECK ((stock_motrum >= 0)),
    CONSTRAINT product_stock_stock_supplier_check CHECK ((stock_supplier >= 0)),
    CONSTRAINT product_stock_stock_supplier_unit_check CHECK ((stock_supplier_unit >= 0))
);


ALTER TABLE public.product_stock OWNER TO postgres;

--
-- Name: product_stock_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_stock ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_stock_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: specification_productspecification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.specification_productspecification (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    price_one integer NOT NULL,
    price_all integer NOT NULL,
    product_id bigint NOT NULL,
    specification_id bigint NOT NULL
);


ALTER TABLE public.specification_productspecification OWNER TO postgres;

--
-- Name: specification_productspecification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.specification_productspecification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.specification_productspecification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: specification_specification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.specification_specification (
    id bigint NOT NULL,
    id_bitrix integer NOT NULL,
    date date NOT NULL,
    date_stop date NOT NULL,
    currency_product bytea NOT NULL,
    tag_stop bytea NOT NULL,
    total_amount integer NOT NULL,
    file character varying(40) NOT NULL,
    admin_creator_id bigint NOT NULL,
    wholesale_id bigint NOT NULL,
    CONSTRAINT specification_specification_id_bitrix_check CHECK ((id_bitrix >= 0))
);


ALTER TABLE public.specification_specification OWNER TO postgres;

--
-- Name: specification_specification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.specification_specification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.specification_specification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplier_discount; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplier_discount (
    id bigint NOT NULL,
    percent smallint NOT NULL,
    supplier_id bigint NOT NULL,
    category_catalog_id bigint,
    group_catalog_id bigint,
    vendor_id bigint NOT NULL
);


ALTER TABLE public.supplier_discount OWNER TO postgres;

--
-- Name: supplier_discount_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplier_discount ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplier_discount_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplier_supplier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplier_supplier (
    id bigint NOT NULL,
    name character varying(40) NOT NULL,
    slug character varying(50)
);


ALTER TABLE public.supplier_supplier OWNER TO postgres;

--
-- Name: supplier_supplier_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplier_supplier ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplier_supplier_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplier_suppliercategoryproduct; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplier_suppliercategoryproduct (
    id bigint NOT NULL,
    name character varying(30) NOT NULL,
    article_name character varying(25) NOT NULL,
    category_catalog_id bigint NOT NULL
);


ALTER TABLE public.supplier_suppliercategoryproduct OWNER TO postgres;

--
-- Name: supplier_suppliercategoryproduct_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplier_suppliercategoryproduct ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplier_suppliercategoryproduct_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplier_suppliercategoryproductall; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplier_suppliercategoryproductall (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    article_name character varying(25) NOT NULL,
    supplier_id bigint NOT NULL,
    category_catalog_id bigint,
    group_catalog_id bigint
);


ALTER TABLE public.supplier_suppliercategoryproductall OWNER TO postgres;

--
-- Name: supplier_suppliercategoryproducttest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplier_suppliercategoryproductall ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplier_suppliercategoryproducttest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplier_suppliergroupproduct; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplier_suppliergroupproduct (
    id bigint NOT NULL,
    name character varying(30) NOT NULL,
    article_name character varying(25) NOT NULL,
    category_supplier_id bigint NOT NULL,
    group_catalog_id bigint NOT NULL
);


ALTER TABLE public.supplier_suppliergroupproduct OWNER TO postgres;

--
-- Name: supplier_suppliergroupproduct_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplier_suppliergroupproduct ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplier_suppliergroupproduct_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: supplier_vendor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplier_vendor (
    id bigint NOT NULL,
    name character varying(40) NOT NULL,
    currency_catalog_id bigint NOT NULL,
    supplier_id bigint NOT NULL,
    slug character varying(50),
    vat_catalog_id bigint
);


ALTER TABLE public.supplier_vendor OWNER TO postgres;

--
-- Name: supplier_vendor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.supplier_vendor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.supplier_vendor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_adminuser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_adminuser (
    user_id bigint NOT NULL,
    middle_name character varying(20) NOT NULL
);


ALTER TABLE public.user_adminuser OWNER TO postgres;

--
-- Name: user_customuser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.user_customuser OWNER TO postgres;

--
-- Name: user_customuser_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.user_customuser_groups OWNER TO postgres;

--
-- Name: user_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_customuser_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.user_customuser_user_permissions OWNER TO postgres;

--
-- Name: user_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$720000$l6sj3op3QBb8tQYaE4YyZr$8t2944qeIN9LvL1D+IJuQ+F3NCcfw0bP7fA/7BO6Efo=	2024-05-07 10:02:28.245734+00	t	admin			steisysi@gmail.com	t	t	2024-05-07 10:02:12.51765+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: client_client; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.client_client (id, name) FROM stdin;
\.


--
-- Data for Name: core_currency; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_currency (id, name, words_code, code) FROM stdin;
2	╨а╨╛╤Б╤Б╨╕╨╣╤Б╨║╨╕╨╣ ╤А╤Г╨▒╨╗╤М	RUB	643
3	╨Ъ╨╕╤В╨░╨╣╤Б╨║╨╕╨╣ ╤О╨░╨╜╤М	CNY	156
\.


--
-- Data for Name: core_vat; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_vat (id, name) FROM stdin;
3	10
4	20
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
1qfygy67w6xxh6i6yl4ju3o7y8bn1o12	.eJxVjMsOwiAQAP-FsyG7EVnw6N1vIDx2pWpoUtpT478bkh70OjOZXYW4rTVsnZcwFXVVqE6_LMX84jZEecb2mHWe27pMSY9EH7br-1z4fTvav0GNvY6tvyRhKcLoXJRkEYBiQkcGjbfABMYmIG_FG0ASLwzk8OwdcMlZfb7h6jeH:1s4bCh:44XeyB-yofYMFh71agkqy8CO4H4nUQ-yRcU48WPxMGQ	2024-05-22 06:55:03.61383+00
\.


--
-- Data for Name: logs_logsproductchange; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logs_logsproductchange (id, name, type_logs, name_field, old_value, new_value, date, product_id, user_id) FROM stdin;
\.


--
-- Data for Name: product_categoryproduct; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_categoryproduct (id, name) FROM stdin;
3	╨Я╤А╨╛╨│╤А╨░╨╝╨╝╨╕╤А╤Г╨╡╨╝╤Л╨╡ ╨╗╨╛╨│╨╕╤З╨╡╤Б╨║╨╕╨╡ ╨║╨╛╨╜╤В╤А╨╛╨╗╨╗╨╡╤А╤Л
2	╨Я╤А╨╡╨╛╨▒╤А╨░╨╖╨╛╨▓╨░╤В╨╡╨╗╨╕ ╤З╨░╤Б╤В╨╛╤В╤Л
4	╨Я╨░╨╜╨╡╨╗╨╕ ╨╛╨┐╨╡╤А╨░╤В╨╛╤А╨░
5	╨Я╤А╨╛╨╝╤Л╤И╨╗╨╡╨╜╨╜╤Л╨╡ ╨║╨╛╨╝╨╝╤Г╤В╨░╤В╨╛╤А╤Л
6	╨г╤Б╤В╤А╨╛╨╣╤Б╤В╨▓╨░ ╨┐╨╗╨░╨▓╨╜╨╛╨│╨╛ ╨┐╤Г╤Б╨║╨░
7	╨г╤Б╤В╤А╨╛╨╣╤Б╤В╨▓╨░ ╨┐╨╗╨░╨▓╨╜╨╛╨│╨╛ ╨┐╤Г╤Б╨║╨░
8	╨н╨╗╨╡╨║╤В╤А╨╛╨┤╨▓╨╕╨│╨░╤В╨╡╨╗╨╕
9	╨в╨╛╤А╨╝╨╛╨╖╨╜╤Л╨╡ ╤А╨╡╨╖╨╕╤Б╤В╨╛╤А╤Л
10	╨Ф╤А╨╛╤Б╤Б╨╡╨╗╨╕ ╨╕ ╤Б╨╕╨╜╤Г╤Б-╤Д╨╕╨╗╤М╤В╤А╤Л
11	╨Ъ╨╛╨╗╨╗╨░╨▒╨╛╤А╨░╤В╨╕╨▓╨╜╤Л╨╡ ╤А╨╛╨▒╨╛╤В╤Л
12	╤В╨╡╤Б╤В
\.


--
-- Data for Name: product_currencyrate; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_currencyrate (id, date, rate, currency_id) FROM stdin;
\.


--
-- Data for Name: product_groupproduct; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_lot; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_lot (id, name, name_shorts, slug) FROM stdin;
2	╨╜╨░╨▒╨╛╤А	╨╜╨░╨▒	nabor
3	╨║╨╛╨╝╨┐╨╗╨╡╨║╤В	╨║╨╛╨╝╨┐	komplekt
1	╤И╤В╤Г╨║╨░	╤И╤В	shtuka
\.


--
-- Data for Name: product_price; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_productdocument; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_productimage; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_productproperty; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_stock; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_stock (id, stock_supplier, lot_complect, stock_supplier_unit, stock_motrum, lot_id, prod_id) FROM stdin;
2673	35	1	35	0	1	2730
2674	39	1	39	0	1	2731
2675	36	1	36	0	1	2732
2676	40	1	40	0	1	2733
2677	40	1	40	0	1	2734
2678	40	1	40	0	1	2735
2679	40	1	40	0	1	2736
2680	40	1	40	0	1	2737
2681	32	1	32	0	1	2738
2682	39	1	39	0	1	2739
2683	42	1	42	0	1	2740
2684	38	1	38	0	1	2741
2685	30	1	30	0	1	2742
2686	40	1	40	0	1	2743
2687	30	1	30	0	1	2744
2688	10	1	10	0	1	2745
2689	40	1	40	0	1	2746
2690	0	1	0	0	1	2747
2691	40	1	40	0	1	2748
\.


--
-- Data for Name: specification_productspecification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.specification_productspecification (id, quantity, price_one, price_all, product_id, specification_id) FROM stdin;
\.


--
-- Data for Name: specification_specification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.specification_specification (id, id_bitrix, date, date_stop, currency_product, tag_stop, total_amount, file, admin_creator_id, wholesale_id) FROM stdin;
\.


--
-- Data for Name: supplier_discount; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplier_discount (id, percent, supplier_id, category_catalog_id, group_catalog_id, vendor_id) FROM stdin;
6	30	15	4	\N	5
7	30	15	3	\N	5
8	30	15	3	4	5
9	25	15	10	\N	5
10	28	15	8	\N	5
11	50	15	\N	\N	5
12	85	15	12	18	5
\.


--
-- Data for Name: supplier_supplier; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplier_supplier (id, name, slug) FROM stdin;
15	PromPower	prompower
16	╤В╨╡╤Б╤В ╨Я╨а╨Ю╨Ш╨Ч╨Т╨Ю╨Ф╨Ш╨в╨Х╨Ы╨п	test-proizvoditelya
\.


--
-- Data for Name: supplier_suppliercategoryproduct; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplier_suppliercategoryproduct (id, name, article_name, category_catalog_id) FROM stdin;
\.


--
-- Data for Name: supplier_suppliercategoryproductall; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: supplier_suppliergroupproduct; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplier_suppliergroupproduct (id, name, article_name, category_supplier_id, group_catalog_id) FROM stdin;
\.


--
-- Data for Name: supplier_vendor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplier_vendor (id, name, currency_catalog_id, supplier_id, slug, vat_catalog_id) FROM stdin;
5	PromPower	2	15	prompower	4
6	╤В╨╡╤Б╤В ╨Я╨а╨Ю╨Ш╨Ч╨Т╨Ю╨Ф╨Ш╨в╨Х╨Ы╨п	2	16	test-proizvoditelya	\N
\.


--
-- Data for Name: user_adminuser; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_adminuser (user_id, middle_name) FROM stdin;
\.


--
-- Data for Name: user_customuser; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_customuser (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$720000$Ws8x9V68us4fzkell4UniP$L+YMAzTMlSf/bT5QggdKh4++SwiXwelFV3qDBKX3a1s=	2024-05-08 06:55:03.59535+00	t	admin			steisysi@gmaol.com	t	t	2024-05-08 06:54:35.758405+00
\.


--
-- Data for Name: user_customuser_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: user_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 136, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: client_client_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.client_client_id_seq', 1, true);


--
-- Name: core_currency_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_currency_id_seq', 3, true);


--
-- Name: core_vat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_vat_id_seq', 4, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 167, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 33, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 70, true);


--
-- Name: logs_logsproductchange_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.logs_logsproductchange_id_seq', 1, false);


--
-- Name: product_categoryproduct_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_categoryproduct_id_seq', 12, true);


--
-- Name: product_currencyrate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_currencyrate_id_seq', 1, false);


--
-- Name: product_groupproduct_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_groupproduct_id_seq', 18, true);


--
-- Name: product_lot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_lot_id_seq', 3, true);


--
-- Name: product_price_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_price_id_seq', 2713, true);


--
-- Name: product_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_product_id_seq', 2748, true);


--
-- Name: product_productdocument_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_productdocument_id_seq', 1199, true);


--
-- Name: product_productimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_productimage_id_seq', 9171, true);


--
-- Name: product_productproperty_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_productproperty_id_seq', 17396, true);


--
-- Name: product_stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_stock_id_seq', 2691, true);


--
-- Name: specification_productspecification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.specification_productspecification_id_seq', 1, false);


--
-- Name: specification_specification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.specification_specification_id_seq', 1, false);


--
-- Name: supplier_discount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplier_discount_id_seq', 12, true);


--
-- Name: supplier_supplier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplier_supplier_id_seq', 16, true);


--
-- Name: supplier_suppliercategoryproduct_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplier_suppliercategoryproduct_id_seq', 1, false);


--
-- Name: supplier_suppliercategoryproducttest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplier_suppliercategoryproducttest_id_seq', 96, true);


--
-- Name: supplier_suppliergroupproduct_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplier_suppliergroupproduct_id_seq', 1, false);


--
-- Name: supplier_vendor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplier_vendor_id_seq', 6, true);


--
-- Name: user_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_customuser_groups_id_seq', 1, false);


--
-- Name: user_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_customuser_id_seq', 1, true);


--
-- Name: user_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_customuser_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: client_client client_client_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client_client
    ADD CONSTRAINT client_client_pkey PRIMARY KEY (id);


--
-- Name: core_currency core_currency_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_currency
    ADD CONSTRAINT core_currency_pkey PRIMARY KEY (id);


--
-- Name: core_vat core_vat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_vat
    ADD CONSTRAINT core_vat_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: logs_logsproductchange logs_logsproductchange_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_logsproductchange
    ADD CONSTRAINT logs_logsproductchange_pkey PRIMARY KEY (id);


--
-- Name: product_categoryproduct product_categoryproduct_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_categoryproduct
    ADD CONSTRAINT product_categoryproduct_pkey PRIMARY KEY (id);


--
-- Name: product_currencyrate product_currencyrate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_currencyrate
    ADD CONSTRAINT product_currencyrate_pkey PRIMARY KEY (id);


--
-- Name: product_groupproduct product_groupproduct_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_groupproduct
    ADD CONSTRAINT product_groupproduct_pkey PRIMARY KEY (id);


--
-- Name: product_lot product_lot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_lot
    ADD CONSTRAINT product_lot_pkey PRIMARY KEY (id);


--
-- Name: product_price product_price_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_price
    ADD CONSTRAINT product_price_pkey PRIMARY KEY (id);


--
-- Name: product_price product_price_prod_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_price
    ADD CONSTRAINT product_price_prod_id_key UNIQUE (prod_id);


--
-- Name: product_product product_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_product
    ADD CONSTRAINT product_product_pkey PRIMARY KEY (id);


--
-- Name: product_productdocument product_productdocument_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_productdocument
    ADD CONSTRAINT product_productdocument_pkey PRIMARY KEY (id);


--
-- Name: product_productimage product_productimage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_productimage
    ADD CONSTRAINT product_productimage_pkey PRIMARY KEY (id);


--
-- Name: product_productproperty product_productproperty_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_productproperty
    ADD CONSTRAINT product_productproperty_pkey PRIMARY KEY (id);


--
-- Name: product_stock product_stock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_stock
    ADD CONSTRAINT product_stock_pkey PRIMARY KEY (id);


--
-- Name: product_stock product_stock_prod_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_stock
    ADD CONSTRAINT product_stock_prod_id_key UNIQUE (prod_id);


--
-- Name: specification_productspecification specification_productspecification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.specification_productspecification
    ADD CONSTRAINT specification_productspecification_pkey PRIMARY KEY (id);


--
-- Name: specification_specification specification_specification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.specification_specification
    ADD CONSTRAINT specification_specification_pkey PRIMARY KEY (id);


--
-- Name: supplier_discount supplier_discount_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_discount
    ADD CONSTRAINT supplier_discount_pkey PRIMARY KEY (id);


--
-- Name: supplier_supplier supplier_supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_supplier
    ADD CONSTRAINT supplier_supplier_pkey PRIMARY KEY (id);


--
-- Name: supplier_suppliercategoryproduct supplier_suppliercategoryproduct_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_suppliercategoryproduct
    ADD CONSTRAINT supplier_suppliercategoryproduct_pkey PRIMARY KEY (id);


--
-- Name: supplier_suppliercategoryproductall supplier_suppliercategoryproducttest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_suppliercategoryproductall
    ADD CONSTRAINT supplier_suppliercategoryproducttest_pkey PRIMARY KEY (id);


--
-- Name: supplier_suppliergroupproduct supplier_suppliergroupproduct_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_suppliergroupproduct
    ADD CONSTRAINT supplier_suppliergroupproduct_pkey PRIMARY KEY (id);


--
-- Name: supplier_vendor supplier_vendor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_vendor
    ADD CONSTRAINT supplier_vendor_pkey PRIMARY KEY (id);


--
-- Name: user_adminuser user_adminuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_adminuser
    ADD CONSTRAINT user_adminuser_pkey PRIMARY KEY (user_id);


--
-- Name: user_customuser_groups user_customuser_groups_customuser_id_group_id_e0a2f621_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_groups_customuser_id_group_id_e0a2f621_uniq UNIQUE (customuser_id, group_id);


--
-- Name: user_customuser_groups user_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: user_customuser user_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_customuser
    ADD CONSTRAINT user_customuser_pkey PRIMARY KEY (id);


--
-- Name: user_customuser_user_permissions user_customuser_user_per_customuser_id_permission_a5da865d_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_per_customuser_id_permission_a5da865d_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: user_customuser_user_permissions user_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: user_customuser user_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_customuser
    ADD CONSTRAINT user_customuser_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: logs_logsproductchange_product_id_d26ed48d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logs_logsproductchange_product_id_d26ed48d ON public.logs_logsproductchange USING btree (product_id);


--
-- Name: logs_logsproductchange_user_id_f26036e2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logs_logsproductchange_user_id_f26036e2 ON public.logs_logsproductchange USING btree (user_id);


--
-- Name: product_currencyrate_currency_id_dd9a4a47; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_currencyrate_currency_id_dd9a4a47 ON public.product_currencyrate USING btree (currency_id);


--
-- Name: product_groupproduct_category_id_61a27dd8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_groupproduct_category_id_61a27dd8 ON public.product_groupproduct USING btree (category_id);


--
-- Name: product_lot_slug_2b4366c4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_lot_slug_2b4366c4 ON public.product_lot USING btree (slug);


--
-- Name: product_lot_slug_2b4366c4_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_lot_slug_2b4366c4_like ON public.product_lot USING btree (slug varchar_pattern_ops);


--
-- Name: product_price_currency_id_0e71f85c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_price_currency_id_0e71f85c ON public.product_price USING btree (currency_id);


--
-- Name: product_price_vat_id_0f3e2ca4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_price_vat_id_0f3e2ca4 ON public.product_price USING btree (vat_id);


--
-- Name: product_product_category_id_0c725779; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_product_category_id_0c725779 ON public.product_product USING btree (category_id);


--
-- Name: product_product_group_id_ff65447f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_product_group_id_ff65447f ON public.product_product USING btree (group_id);


--
-- Name: product_product_supplier_id_22a3a2e5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_product_supplier_id_22a3a2e5 ON public.product_product USING btree (supplier_id);


--
-- Name: product_product_vendor_id_49ed2699; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_product_vendor_id_49ed2699 ON public.product_product USING btree (vendor_id);


--
-- Name: product_productdocument_product_id_1d4f4dff; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_productdocument_product_id_1d4f4dff ON public.product_productdocument USING btree (product_id);


--
-- Name: product_productimage_product_id_544084bb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_productimage_product_id_544084bb ON public.product_productimage USING btree (product_id);


--
-- Name: product_productproperty_product_id_9171fa14; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_productproperty_product_id_9171fa14 ON public.product_productproperty USING btree (product_id);


--
-- Name: product_stock_lot_id_1f36b629; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_stock_lot_id_1f36b629 ON public.product_stock USING btree (lot_id);


--
-- Name: specification_productspecification_product_id_5afad57c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX specification_productspecification_product_id_5afad57c ON public.specification_productspecification USING btree (product_id);


--
-- Name: specification_productspecification_specification_id_10bcd336; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX specification_productspecification_specification_id_10bcd336 ON public.specification_productspecification USING btree (specification_id);


--
-- Name: specification_specification_admin_creator_id_31da0e48; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX specification_specification_admin_creator_id_31da0e48 ON public.specification_specification USING btree (admin_creator_id);


--
-- Name: specification_specification_wholesale_id_dc2960e1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX specification_specification_wholesale_id_dc2960e1 ON public.specification_specification USING btree (wholesale_id);


--
-- Name: supplier_discount_category_catalog_id_dd0480fb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_discount_category_catalog_id_dd0480fb ON public.supplier_discount USING btree (category_catalog_id);


--
-- Name: supplier_discount_group_catalog_id_dda7eccb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_discount_group_catalog_id_dda7eccb ON public.supplier_discount USING btree (group_catalog_id);


--
-- Name: supplier_discount_supplier_id_f7c9fe02; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_discount_supplier_id_f7c9fe02 ON public.supplier_discount USING btree (supplier_id);


--
-- Name: supplier_discount_vendor_id_24ccb01d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_discount_vendor_id_24ccb01d ON public.supplier_discount USING btree (vendor_id);


--
-- Name: supplier_supplier_slug_90b3a9b3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_supplier_slug_90b3a9b3 ON public.supplier_supplier USING btree (slug);


--
-- Name: supplier_supplier_slug_90b3a9b3_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_supplier_slug_90b3a9b3_like ON public.supplier_supplier USING btree (slug varchar_pattern_ops);


--
-- Name: supplier_suppliercategoryp_category_catalog_id_0a5ba3d6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_suppliercategoryp_category_catalog_id_0a5ba3d6 ON public.supplier_suppliercategoryproductall USING btree (category_catalog_id);


--
-- Name: supplier_suppliercategoryproduct_category_catalog_id_e1c67835; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_suppliercategoryproduct_category_catalog_id_e1c67835 ON public.supplier_suppliercategoryproduct USING btree (category_catalog_id);


--
-- Name: supplier_suppliercategoryproductall_group_catalog_id_dbd84988; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_suppliercategoryproductall_group_catalog_id_dbd84988 ON public.supplier_suppliercategoryproductall USING btree (group_catalog_id);


--
-- Name: supplier_suppliercategoryproducttest_supplier_id_74cf2cb6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_suppliercategoryproducttest_supplier_id_74cf2cb6 ON public.supplier_suppliercategoryproductall USING btree (supplier_id);


--
-- Name: supplier_suppliergroupproduct_category_supplier_id_f11dec07; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_suppliergroupproduct_category_supplier_id_f11dec07 ON public.supplier_suppliergroupproduct USING btree (category_supplier_id);


--
-- Name: supplier_suppliergroupproduct_group_catalog_id_6c7062e0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_suppliergroupproduct_group_catalog_id_6c7062e0 ON public.supplier_suppliergroupproduct USING btree (group_catalog_id);


--
-- Name: supplier_vendor_currency_catalog_id_16ffc9b5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_vendor_currency_catalog_id_16ffc9b5 ON public.supplier_vendor USING btree (currency_catalog_id);


--
-- Name: supplier_vendor_slug_bb90eece; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_vendor_slug_bb90eece ON public.supplier_vendor USING btree (slug);


--
-- Name: supplier_vendor_slug_bb90eece_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_vendor_slug_bb90eece_like ON public.supplier_vendor USING btree (slug varchar_pattern_ops);


--
-- Name: supplier_vendor_supplier_id_dd962245; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_vendor_supplier_id_dd962245 ON public.supplier_vendor USING btree (supplier_id);


--
-- Name: supplier_vendor_vat_catalog_id_1fa146c1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX supplier_vendor_vat_catalog_id_1fa146c1 ON public.supplier_vendor USING btree (vat_catalog_id);


--
-- Name: user_customuser_groups_customuser_id_192632a7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_customuser_groups_customuser_id_192632a7 ON public.user_customuser_groups USING btree (customuser_id);


--
-- Name: user_customuser_groups_group_id_bcbc9e48; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_customuser_groups_group_id_bcbc9e48 ON public.user_customuser_groups USING btree (group_id);


--
-- Name: user_customuser_user_permissions_customuser_id_4552d9cc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_customuser_user_permissions_customuser_id_4552d9cc ON public.user_customuser_user_permissions USING btree (customuser_id);


--
-- Name: user_customuser_user_permissions_permission_id_e57e8b9a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_customuser_user_permissions_permission_id_e57e8b9a ON public.user_customuser_user_permissions USING btree (permission_id);


--
-- Name: user_customuser_username_24be6f7e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_customuser_username_24be6f7e_like ON public.user_customuser USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: logs_logsproductchange logs_logsproductchan_product_id_d26ed48d_fk_product_p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_logsproductchange
    ADD CONSTRAINT logs_logsproductchan_product_id_d26ed48d_fk_product_p FOREIGN KEY (product_id) REFERENCES public.product_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: logs_logsproductchange logs_logsproductchan_user_id_f26036e2_fk_user_admi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_logsproductchange
    ADD CONSTRAINT logs_logsproductchan_user_id_f26036e2_fk_user_admi FOREIGN KEY (user_id) REFERENCES public.user_adminuser(user_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_currencyrate product_currencyrate_currency_id_dd9a4a47_fk_core_currency_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_currencyrate
    ADD CONSTRAINT product_currencyrate_currency_id_dd9a4a47_fk_core_currency_id FOREIGN KEY (currency_id) REFERENCES public.core_currency(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_groupproduct product_groupproduct_category_id_61a27dd8_fk_product_c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_groupproduct
    ADD CONSTRAINT product_groupproduct_category_id_61a27dd8_fk_product_c FOREIGN KEY (category_id) REFERENCES public.product_categoryproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_price product_price_currency_id_0e71f85c_fk_core_currency_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_price
    ADD CONSTRAINT product_price_currency_id_0e71f85c_fk_core_currency_id FOREIGN KEY (currency_id) REFERENCES public.core_currency(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_price product_price_prod_id_cdaecf5a_fk_product_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_price
    ADD CONSTRAINT product_price_prod_id_cdaecf5a_fk_product_product_id FOREIGN KEY (prod_id) REFERENCES public.product_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_price product_price_vat_id_0f3e2ca4_fk_core_vat_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_price
    ADD CONSTRAINT product_price_vat_id_0f3e2ca4_fk_core_vat_id FOREIGN KEY (vat_id) REFERENCES public.core_vat(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_product product_product_category_id_0c725779_fk_product_c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_product
    ADD CONSTRAINT product_product_category_id_0c725779_fk_product_c FOREIGN KEY (category_id) REFERENCES public.product_categoryproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_product product_product_group_id_ff65447f_fk_product_groupproduct_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_product
    ADD CONSTRAINT product_product_group_id_ff65447f_fk_product_groupproduct_id FOREIGN KEY (group_id) REFERENCES public.product_groupproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_product product_product_supplier_id_22a3a2e5_fk_supplier_supplier_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_product
    ADD CONSTRAINT product_product_supplier_id_22a3a2e5_fk_supplier_supplier_id FOREIGN KEY (supplier_id) REFERENCES public.supplier_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_product product_product_vendor_id_49ed2699_fk_supplier_vendor_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_product
    ADD CONSTRAINT product_product_vendor_id_49ed2699_fk_supplier_vendor_id FOREIGN KEY (vendor_id) REFERENCES public.supplier_vendor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_productdocument product_productdocum_product_id_1d4f4dff_fk_product_p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_productdocument
    ADD CONSTRAINT product_productdocum_product_id_1d4f4dff_fk_product_p FOREIGN KEY (product_id) REFERENCES public.product_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_productimage product_productimage_product_id_544084bb_fk_product_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_productimage
    ADD CONSTRAINT product_productimage_product_id_544084bb_fk_product_product_id FOREIGN KEY (product_id) REFERENCES public.product_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_productproperty product_productprope_product_id_9171fa14_fk_product_p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_productproperty
    ADD CONSTRAINT product_productprope_product_id_9171fa14_fk_product_p FOREIGN KEY (product_id) REFERENCES public.product_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_stock product_stock_lot_id_1f36b629_fk_product_lot_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_stock
    ADD CONSTRAINT product_stock_lot_id_1f36b629_fk_product_lot_id FOREIGN KEY (lot_id) REFERENCES public.product_lot(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_stock product_stock_prod_id_23d2ef67_fk_product_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_stock
    ADD CONSTRAINT product_stock_prod_id_23d2ef67_fk_product_product_id FOREIGN KEY (prod_id) REFERENCES public.product_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: specification_productspecification specification_produc_product_id_5afad57c_fk_product_p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.specification_productspecification
    ADD CONSTRAINT specification_produc_product_id_5afad57c_fk_product_p FOREIGN KEY (product_id) REFERENCES public.product_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: specification_productspecification specification_produc_specification_id_10bcd336_fk_specifica; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.specification_productspecification
    ADD CONSTRAINT specification_produc_specification_id_10bcd336_fk_specifica FOREIGN KEY (specification_id) REFERENCES public.specification_specification(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: specification_specification specification_specif_admin_creator_id_31da0e48_fk_user_admi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.specification_specification
    ADD CONSTRAINT specification_specif_admin_creator_id_31da0e48_fk_user_admi FOREIGN KEY (admin_creator_id) REFERENCES public.user_adminuser(user_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: specification_specification specification_specif_wholesale_id_dc2960e1_fk_supplier_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.specification_specification
    ADD CONSTRAINT specification_specif_wholesale_id_dc2960e1_fk_supplier_ FOREIGN KEY (wholesale_id) REFERENCES public.supplier_discount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplier_discount supplier_discount_category_catalog_id_dd0480fb_fk_product_c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_discount
    ADD CONSTRAINT supplier_discount_category_catalog_id_dd0480fb_fk_product_c FOREIGN KEY (category_catalog_id) REFERENCES public.product_categoryproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplier_discount supplier_discount_group_catalog_id_dda7eccb_fk_product_g; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_discount
    ADD CONSTRAINT supplier_discount_group_catalog_id_dda7eccb_fk_product_g FOREIGN KEY (group_catalog_id) REFERENCES public.product_groupproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplier_discount supplier_discount_supplier_id_f7c9fe02_fk_supplier_supplier_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_discount
    ADD CONSTRAINT supplier_discount_supplier_id_f7c9fe02_fk_supplier_supplier_id FOREIGN KEY (supplier_id) REFERENCES public.supplier_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplier_discount supplier_discount_vendor_id_24ccb01d_fk_supplier_vendor_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_discount
    ADD CONSTRAINT supplier_discount_vendor_id_24ccb01d_fk_supplier_vendor_id FOREIGN KEY (vendor_id) REFERENCES public.supplier_vendor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplier_suppliercategoryproductall supplier_suppliercat_category_catalog_id_0a5ba3d6_fk_product_c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_suppliercategoryproductall
    ADD CONSTRAINT supplier_suppliercat_category_catalog_id_0a5ba3d6_fk_product_c FOREIGN KEY (category_catalog_id) REFERENCES public.product_categoryproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplier_suppliercategoryproduct supplier_suppliercat_category_catalog_id_e1c67835_fk_product_c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_suppliercategoryproduct
    ADD CONSTRAINT supplier_suppliercat_category_catalog_id_e1c67835_fk_product_c FOREIGN KEY (category_catalog_id) REFERENCES public.product_categoryproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplier_suppliercategoryproductall supplier_suppliercat_group_catalog_id_dbd84988_fk_product_g; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_suppliercategoryproductall
    ADD CONSTRAINT supplier_suppliercat_group_catalog_id_dbd84988_fk_product_g FOREIGN KEY (group_catalog_id) REFERENCES public.product_groupproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplier_suppliercategoryproductall supplier_suppliercat_supplier_id_74cf2cb6_fk_supplier_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_suppliercategoryproductall
    ADD CONSTRAINT supplier_suppliercat_supplier_id_74cf2cb6_fk_supplier_ FOREIGN KEY (supplier_id) REFERENCES public.supplier_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplier_suppliergroupproduct supplier_suppliergro_category_supplier_id_f11dec07_fk_supplier_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_suppliergroupproduct
    ADD CONSTRAINT supplier_suppliergro_category_supplier_id_f11dec07_fk_supplier_ FOREIGN KEY (category_supplier_id) REFERENCES public.supplier_suppliercategoryproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplier_suppliergroupproduct supplier_suppliergro_group_catalog_id_6c7062e0_fk_product_c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_suppliergroupproduct
    ADD CONSTRAINT supplier_suppliergro_group_catalog_id_6c7062e0_fk_product_c FOREIGN KEY (group_catalog_id) REFERENCES public.product_categoryproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplier_vendor supplier_vendor_currency_catalog_id_16ffc9b5_fk_core_curr; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_vendor
    ADD CONSTRAINT supplier_vendor_currency_catalog_id_16ffc9b5_fk_core_curr FOREIGN KEY (currency_catalog_id) REFERENCES public.core_currency(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplier_vendor supplier_vendor_supplier_id_dd962245_fk_supplier_supplier_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_vendor
    ADD CONSTRAINT supplier_vendor_supplier_id_dd962245_fk_supplier_supplier_id FOREIGN KEY (supplier_id) REFERENCES public.supplier_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: supplier_vendor supplier_vendor_vat_catalog_id_1fa146c1_fk_core_vat_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_vendor
    ADD CONSTRAINT supplier_vendor_vat_catalog_id_1fa146c1_fk_core_vat_id FOREIGN KEY (vat_catalog_id) REFERENCES public.core_vat(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_adminuser user_adminuser_user_id_7c25a412_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_adminuser
    ADD CONSTRAINT user_adminuser_user_id_7c25a412_fk_user_customuser_id FOREIGN KEY (user_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_groups user_customuser_grou_customuser_id_192632a7_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_grou_customuser_id_192632a7_fk_user_cust FOREIGN KEY (customuser_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_groups user_customuser_groups_group_id_bcbc9e48_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_groups_group_id_bcbc9e48_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_user_permissions user_customuser_user_customuser_id_4552d9cc_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_customuser_id_4552d9cc_fk_user_cust FOREIGN KEY (customuser_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_user_permissions user_customuser_user_permission_id_e57e8b9a_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_permission_id_e57e8b9a_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database cluster dump complete
--

