{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="vacancy_container">
        <div class="title_container">
            <div class="bread_crumbs">
                <a href="{% url "core:index" %}">главная</a>
                <a href="{% url "core:about" %}">компания</a>
            </div>
            <div class="title">{{ title }}</div>
        </div>
        <div class="vacancy_company_slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide first-slide">
                    <div class="title">Присоединяйся к команде</div>
                    <div class="description">
                        Изучи наши вакансии.
                        <br>
                        Возможно, там есть то, что ты ищешь.
                    </div>
                    <a href="#vacancies_container">
                        <div class="arhor_btn">смотреть вакансии</div>
                    </a>
                </div>
                {% if photo_motrum|length > 0 %}
                    {% for photo_motrum_elem in photo_motrum %}
                        <div class="swiper-slide photo-slide">
                            <img src="{{ photo_motrum_elem.image.url }}" alt="img">
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="vacancy_company_slider_overlay">
                <div class="close_btn">+</div>
                <div class="vacancy_company_slider_overlay_slider">
                    <div class="swiper-wrapper">
                        {% if photo_motrum|length > 0 %}
                            {% for photo_motrum_elem in photo_motrum %}
                                <div class="swiper-slide photo-slide">
                                    <img src="{{ photo_motrum_elem.image.url }}" alt="img">
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="work_in_motrum_description_container">
            <div class="up_content">
                <div class="elem">
                    <div class="title">ТК РФ</div>
                    <div class="description">Соблюдение ТК РФ, своевременная выплата «белой» ЗП</div>
                </div>
                <div class="centered_elem">
                    <span>РАБОТА В МОТРУМ ЭТО</span>
                </div>
                <div class="elem">
                    <div class="title">Руководство</div>
                    <div class="description">Демократический стиль управления</div>
                </div>
            </div>
            <div class="middle_content">
                <div class="elem">
                    <div class="title">СОВРЕМЕННЫЙ ОФИС</div>
                    <div class="description">
                        Ухоженный оснащенными офис с удобной транспортной развязкой.
                        Наличие своей кухни с частичной
                        компенсацией затрат на обеды.
                    </div>
                </div>
                <div class="elem">
                    <div class="title">СПОРТ И ОТДЫХ</div>
                    <div class="description">
                        Каждый сезон обязательный корпоратив, участие в спортивных мероприятиях и организация досуга вне офиса
                    </div>
                </div>
            </div>
            <div class="down_content">
                <div class="elem">
                    <div class="title">ГРАФИК</div>
                    <div class="description">Возможна частичная удаленная работа и гибкий график отпусков</div>
                </div>
                <div class="elem">
                    <div class="title">ОБУЧЕНИЕ</div>
                    <div class="description">Развитая система обучения сотрудников</div>
                </div>
            </div>
        </div>
        <div class="learing_container">
            <div class="title">ОБУЧЕНИЕ</div>
            {% if photo_education|length > 0 %}
                <div class="learnig_slider">
                    <div class="swiper-wrapper">
                        {% for photo_education_elem in photo_education %}
                            <div class="swiper-slide photo_education_elem_img_container">
                                <img src="{{ photo_education_elem.image.url }}" alt="img">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="learning_slider_overlay">
                        <div class="close_btn">+</div>
                        <div class="learning_slider_overlay_slider">
                            <div class="swiper-wrapper">
                                {% for photo_education_elem in photo_education %}
                                    <div class="swiper-slide">
                                        <img src="{{ photo_education_elem.image.url }}" alt="img">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="learnig_description">
                Наши сотрудники регулярно проходят обучение, в том числе по программам Executive MBA, МВА «Управление развитием организации», Школа экспорта РЭЦ, Обучение по ПЛК фирмы Omron, Президентская программа — программа подготовки руководителей и другие
            </div>
        </div>
        <div class="vacancies_container" id="vacancies_container">
            <div class="title">ОТКРЫТЫЕ ВАКАНСИИ</div>
            <div class="description">Ознакомьтесь с вакансиями, которые открыты в нашей компании в данный момент</div>
            <div class="mobile_filter_button">Фильтр</div>
            <div class="vacancies_filter_container">
                <div class="filter_container">
                    <div class="close_btn">+</div>
                    {% if category_vacancy|length > 0 %}
                        <div class="filter_title">Сфера</div>
                        <div class="filter_elems_container">
                            {% for category_vacancy_elem in category_vacancy %}
                                {% if category_vacancy_elem.is_view %}
                                    <button class="filter_elem" slug="{{ category_vacancy_elem.slug }}">{{ category_vacancy_elem.name }}</button>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="canceled_btn">Сбросить</div>
                    {% endif %}
                </div>
                <div class="vacancies_wrapper" project-elem="wrapper">
                    <div class="loader"></div>
                    <div class="none_content">Вакансий нет</div>
                    <div class="vacancies_elems_container" project-elem="container">
                        {% for vacancy in vacancy_list %}
                            {% include "vacancy_web/includes/ajax_vacancy_item.html" with vacancy=vacancy %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="vacancies_form_container">
            <div class="title">НЕ НАШЛИ ПОДХОДЯЩУЮ ВАКАНСИЮ?</div>
            <div class="vacancy_form">
                <div class="up_form_content">
                    <div class="description">
                        Напишите нам о себе!
                        <br>
                        Возможно скоро у нас появится то, что вы искали.
                    </div>
                    <div class="inputs_container">
                        <label>
                            <input type="text" class="name_input" placeholder="Ваше имя" />
                            <div class="error name_error"></div>
                        </label>
                        <label>
                            <input type="text" class="phone_input" placeholder="Ваш телефон" />
                            <div class="error phone_error"></div>
                        </label>
                    </div>
                </div>
                <div class="down_form_content">
                    <textarea class="vacancy_form_textarea" placeholder="Сообщение"></textarea>
                    <div class="container">
                        <label class="file_label">
                            <div class="img_container">
                                <img src="{% static "vacancy_web/img/Line.png" %}" alt="">
                            </div>
                            <div class="file_description">
                                Прикрепить
                                резюме
                            </div>
                            <input class="file_input"
                                   style="display:none"
                                   type="file"
                                   accept=".xls,.xlsx,.png,.jpeg,.jpg,.pdf,.txt,.doc,.docx,.ppt,.rtf,.tiff" />
                            <div class="error file_error"></div>
                        </label>
                        <div class="submit_btn">оставить заявку</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
