@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

html,
body {
  font-size: 1.111vw;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
ul[class] {
  list-style: none;
}
ul[class],
ol[class] {
  padding: 0;
}
a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  // overflow-x: hidden;
  .site-content {
    flex: 1 0 auto;
    position: relative;
    .site-description-content {
      margin-bottom: 3.125rem;
      min-height: 22rem;
    }
  }
  .footer {
    flex: 0 0 auto;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
    z-index: 900;
    &.visible {
      opacity: 1;
    }
    &.show {
      display: flex;
    }
    .modal-window {
      width: 31.375rem;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      background-color: #fff;
      box-sizing: border-box;
      padding: 2.313rem 2.063rem;
      display: flex;
      flex-direction: column;
      gap: 1.875rem;

      .title {
        text-align: center;
        font-size: 1.875rem;
        text-transform: uppercase;
      }
      .autification-form {
        display: flex;
        flex-direction: column;
        label {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          position: relative;
          span {
            text-align: center;
            font-size: 0.813rem;
          }
          input {
            height: 3.125rem;
            font-size: 1.125rem;
            border: 0.063rem solid #a4a4a4;
            border-radius: 5px;
            text-align: center;
            &:focus {
              outline: none;
            }
            &.password-input {
              letter-spacing: 0.4rem;
            }
          }
          &.password-label {
            margin-top: 0.5rem;
            display: none;
            &.show {
              display: flex;
            }
          }
          .error-maessage {
            color: red;
            font-size: 0.5rem;
            position: absolute;
            top: 102%;
            left: 2%;
            transition: 0.6s;
            opacity: 0;
            &.show {
              opacity: 1;
            }
          }
        }
        .autification-button {
          margin-top: 1.75rem;
          height: 3.125rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          font-size: 1.125rem;
          border: none;
          border-radius: 5px;
          background-color: #a4a4a4;
          cursor: pointer;
        }
      }
    }
  }
  .error_overlay_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
    z-index: 100;

    &.visible {
      opacity: 1;
    }
    &.show {
      display: flex;
    }
    .modal_window {
      width: 31.375rem;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      background-color: #fff;
      box-sizing: border-box;
      padding: 2.313rem 2.063rem;
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
      position: relative;
      .description {
        margin: 0 auto;
        text-align: center;
        font-size: 1.875rem;
        text-transform: uppercase;
        width: 80%;
      }
    }
    .btn {
      font-size: 0.938rem;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      border: none;
      background-color: #a4a4a4;
      color: #000;
      cursor: pointer;
      padding: 0.5rem 0.875rem;
      width: 100%;
      &:disabled,
      &[disabled] {
        cursor: auto;
        background-color: #bdbdbd;
      }
      .small_loader {
        display: block;
        overflow: hidden;
        font-size: 10px;
        // margin: 50px auto;
        text-indent: -9999em;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: #65abf8;
        background: linear-gradient(
          to right,
          #a4a4a4 10%,
          rgba(101, 171, 248, 0) 42%
        );
        position: relative;
        -webkit-animation: load3 1.4s infinite linear;
        animation: load3 1.4s infinite linear;
        transform: translateZ(0);
        &:before {
          width: 50%;
          height: 50%;
          background: #a4a4a4;
          border-radius: 100% 0 0 0;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
        }
        &:after {
          background: #bdbdbd;
          width: 75%;
          height: 75%;
          border-radius: 50%;
          content: "";
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
  .overlay_new_product_in_specification {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
    z-index: 100;

    &.visible {
      opacity: 1;
    }
    &.show {
      display: flex;
    }
    .modal_window {
      width: 31.375rem;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      background-color: #fff;
      box-sizing: border-box;
      padding: 2.313rem 2.063rem;
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
      position: relative;
    }
    .close-btn {
      position: absolute;
      font-size: 2rem;
      transform: rotate(45deg);
      top: 1%;
      right: 5%;
      color: #bdbdbd;
      transition: 0.6s;
      cursor: pointer;
      &:hover {
        color: #a4a4a4;
      }
    }
    .title {
      text-align: center;
      font-size: 1.875rem;
      text-transform: uppercase;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      label {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        position: relative;
        span {
          text-align: center;
          font-size: 0.813rem;
        }
        input {
          height: 3.125rem;
          font-size: 1.125rem;
          border: 0.063rem solid #a4a4a4;
          border-radius: 5px;
          text-align: center;
          &:focus {
            outline: none;
          }
          &.password-input {
            letter-spacing: 0.4rem;
          }
        }
        &.password-label {
          margin-top: 0.5rem;
          display: none;
          &.show {
            display: flex;
          }
        }
        .error-maessage {
          color: red;
          font-size: 0.5rem;
          position: absolute;
          top: 102%;
          left: 2%;
          transition: 0.6s;
          opacity: 0;
          &.show {
            opacity: 1;
          }
        }
      }
      button {
        margin-top: 1.75rem;
        height: 3.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 1.125rem;
        border: none;
        border-radius: 5px;
        background-color: #a4a4a4;
        cursor: pointer;
      }
    }
  }

  .invoice-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
    z-index: 100;
    &.visible {
      opacity: 1;
    }
    &.show {
      display: flex;
    }
    .modal-window {
      width: 51.375rem;
      max-height: 33rem;
      overflow-y: auto;
      background-color: #fff;
      box-sizing: border-box;
      padding: 2.313rem 2.063rem;
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
      position: relative;
      .close-btn {
        position: absolute;
        font-size: 2rem;
        transform: rotate(45deg);
        top: 1%;
        right: 5%;
        color: #bdbdbd;
        transition: 0.6s;
        cursor: pointer;
        &:hover {
          color: #a4a4a4;
        }
      }
      .title {
        font-size: 1.875rem;
        text-align: center;
        text-transform: uppercase;
      }
      .tables-titles {
        display: flex;
        gap: 6.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        .table-title {
          font-weight: bold;
          font-size: 0.938rem;
          text-transform: uppercase;
        }
      }
      .invoice_content {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        .invoice-item {
          display: flex;
          align-items: center;
          font-size: 0.738rem;
          min-height: 3rem;
          padding-left: 1rem;
          padding-right: 1rem;
          &:nth-of-type(2n) {
            background-color: #f5f5f5;
          }
          .name {
            width: 22rem;
          }
          .article {
            width: 15rem;
            margin-left: 5.5rem;
          }
          .stock {
            width: 24rem;
            margin-left: 4.5rem;
          }
          label {
            width: 8.5rem;
            input {
              width: 8.5rem;
              height: 1.5rem;
              border-radius: 1rem;
              border: 1px solid #000;
              box-sizing: border-box;
              padding: 0.5rem;
              &:focus {
                outline: none;
              }
            }
            .error {
              color: red;
              font-size: 0.5rem;
              position: absolute;
              top: 102%;
              left: 2%;
              transition: 0.6s;
              opacity: 0;
              &.show {
                opacity: 1;
              }
            }
          }
        }
      }
      .invoice-btn {
        font-size: 0.938rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: none;
        background-color: #a4a4a4;
        color: #000;
        cursor: pointer;
        padding: 0.5rem 0.875rem;
        width: 20%;
        &:disabled,
        &[disabled] {
          cursor: auto;
          background-color: lightgray;
          border-color: lightgray;
          border: 1px solid gray;
        }
        .small_loader {
          display: block;
          overflow: hidden;
          font-size: 10px;
          text-indent: -9999em;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background: #65abf8;
          margin: 0 auto;
          background: linear-gradient(
            to right,
            #bdbdbd 10%,
            rgba(101, 171, 248, 0) 42%
          );
          position: relative;
          -webkit-animation: load3 1.4s infinite linear;
          animation: load3 1.4s infinite linear;
          transform: translateZ(0);
          &:before {
            width: 50%;
            height: 50%;
            background: #bdbdbd;
            border-radius: 100% 0 0 0;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
          }
          &:after {
            background-color: lightgray;
            width: 75%;
            height: 75%;
            border-radius: 50%;
            content: "";
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
          }
        }
      }
    }
  }
  .overlay_modal_complete {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
    z-index: 100;
    &.visible {
      opacity: 1;
    }
    &.show {
      display: flex;
    }
    .modal-window {
      width: 31.375rem;
      overflow-y: auto;
      background-color: #fff;
      box-sizing: border-box;
      padding: 2.313rem 2.063rem;
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
      position: relative;
      .close-btn {
        position: absolute;
        font-size: 2rem;
        transform: rotate(45deg);
        top: 1%;
        right: 5%;
        color: #bdbdbd;
        transition: 0.6s;
        cursor: pointer;
        &:hover {
          color: #a4a4a4;
        }
      }
      .title {
        font-size: 1.875rem;
        text-align: center;
        text-transform: uppercase;
      }
      .calendar_label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .calendar_label-description {
          font-size: 1rem;
        }
        .calendar {
          width: 8rem;
          font-size: 1rem;
          font-family: "Nunito", sans-serif;
        }
      }
      .button_container {
        position: relative;
        .complete_order_button {
          width: 100%;
          font-size: 0.938rem;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          border: none;
          background-color: #a4a4a4;
          color: #000;
          cursor: pointer;
          padding: 0.5rem 0.875rem;

          &:disabled,
          &[disabled] {
            cursor: auto;
            background-color: lightgray;
            border-color: lightgray;
            border: 1px solid gray;
          }
          .small_loader {
            display: block;
            overflow: hidden;
            font-size: 10px;
            text-indent: -9999em;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: #65abf8;
            margin: 0 auto;
            background: linear-gradient(
              to right,
              #bdbdbd 10%,
              rgba(101, 171, 248, 0) 42%
            );
            position: relative;
            -webkit-animation: load3 1.4s infinite linear;
            animation: load3 1.4s infinite linear;
            transform: translateZ(0);
            &:before {
              width: 50%;
              height: 50%;
              background: #bdbdbd;
              border-radius: 100% 0 0 0;
              position: absolute;
              top: 0;
              left: 0;
              content: "";
            }
            &:after {
              background-color: lightgray;
              width: 75%;
              height: 75%;
              border-radius: 50%;
              content: "";
              margin: auto;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
            }
          }
        }
        .error {
          color: red;
          font-size: 0.8rem;
          position: absolute;
          top: 102%;
          left: 2%;
          transition: 0.6s;
          opacity: 0;
          &.show {
            opacity: 1;
          }
        }
      }
    }
  }
  .change_of_payment_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
    z-index: 100;
    &.visible {
      opacity: 1;
    }
    &.show {
      display: flex;
    }
    .modal-window {
      width: 31.375rem;
      overflow-y: auto;
      background-color: #fff;
      box-sizing: border-box;
      padding: 2.313rem 2.063rem;
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
      position: relative;
      .close-btn {
        position: absolute;
        font-size: 2rem;
        transform: rotate(45deg);
        top: 1%;
        right: 5%;
        color: #bdbdbd;
        transition: 0.6s;
        cursor: pointer;
        &:hover {
          color: #a4a4a4;
        }
      }
      .title {
        font-size: 1.875rem;
        text-align: center;
        text-transform: uppercase;
      }
      .payment_label {
        position: relative;
        .payment_input {
          width: 100%;
          height: 2rem;
          border-radius: 0.7rem;
          border: 1px solid #000;
          box-sizing: border-box;
          padding: 0.5rem;
          font-size: 1rem;
          &:focus {
            outline: none;
          }
        }
        .payment_error {
          color: red;
          font-size: 0.8rem;
          position: absolute;
          top: 102%;
          left: 2%;
          transition: 0.6s;
          opacity: 0;
          &.show {
            opacity: 1;
          }
        }
      }
      .change-payment-btn {
        font-size: 0.938rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: none;
        background-color: #a4a4a4;
        color: #000;
        cursor: pointer;
        padding: 0.5rem 0.875rem;
        width: 100%;
        &:disabled,
        &[disabled] {
          cursor: auto;
          background-color: lightgray;
          border-color: lightgray;
          border: 1px solid gray;
        }
        .small_loader {
          display: block;
          overflow: hidden;
          font-size: 10px;
          text-indent: -9999em;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background: #65abf8;
          margin: 0 auto;
          background: linear-gradient(
            to right,
            #bdbdbd 10%,
            rgba(101, 171, 248, 0) 42%
          );
          position: relative;
          -webkit-animation: load3 1.4s infinite linear;
          animation: load3 1.4s infinite linear;
          transform: translateZ(0);
          &:before {
            width: 50%;
            height: 50%;
            background: #bdbdbd;
            border-radius: 100% 0 0 0;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
          }
          &:after {
            background-color: lightgray;
            width: 75%;
            height: 75%;
            border-radius: 50%;
            content: "";
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
          }
        }
      }
    }
  }

  div[window-elem="cookie"] {
    width: 100%;
    height: 6.688rem;
    background-color: #d9d9d9;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    bottom: 0;
    z-index: 400;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    box-sizing: border-box;
    display: none;
    transition: 0.6s;
    opacity: 0;
    &.visible {
      display: flex;
      align-items: center;
      opacity: 1;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .text {
        width: 80%;
        font-size: 1.25rem;
      }
      .cookie_button {
        height: 3.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 1.125rem;
        border: none;
        border-radius: 5px;
        background-color: #a4a4a4;
        cursor: pointer;
        width: 15%;
      }
    }
  }
}

.header {
  margin: 3.688rem 3.125rem 0 3.125rem;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .logo-container {
    width: 18.75rem;
    height: 4.63rem;
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }
  .user-navigation {
    width: 62.047rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 2.938rem;
    .navigation {
      display: flex;
      gap: 1.953rem;
      .nav-elem {
        text-transform: lowercase;
        color: #a4a4a4;
        font-size: 1.313rem;
        a {
          text-decoration: none;
          color: #000;
        }
        span {
          border-radius: 30px;
          border: 0.094rem solid black;
          color: #000;
          box-sizing: border-box;
          padding: 0.884rem 1.125rem 0.866rem 1.188rem;
        }
      }
    }
    .cart-elems {
      display: flex;
      gap: 1.125rem;
      // margin-left: 5.419rem;
      .cart-elem {
        font-size: 0.938rem;
        text-transform: uppercase;
        cursor: pointer;
        color: #000;
        text-decoration: none;
        position: relative;

        .img-container {
          width: 2.75rem;
          height: 2.35rem;
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
        span {
          position: absolute;
          font-size: 0.625rem;
          font-weight: bold;
          top: 0;
          left: 102%;
          &.cart-count {
            background-color: #ff5b00;
            color: #fff;
            width: 1.25rem;
            height: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            top: -20%;
            left: 85%;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
  li {
    list-style-type: none; /* Убираем маркеры */
  }
}

.footer {
  background-color: #95bad4;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.938rem 3.119rem 1.669rem 3.25rem;
  .motrum-footer {
    display: flex;
    align-items: flex-start;
    gap: 3.252rem;
    .motrum-logo-container {
      width: 15.367rem;
      height: 3.858rem;
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
    .description {
      margin-top: -0.3rem;
      font-size: 0.938rem;
      color: #fff;
      display: flex;
      flex-direction: column;
      a {
        color: #fff;
      }
    }
  }
  .lemur-footer {
    margin-top: -0.3rem;
    display: flex;
    align-items: flex-end;
    gap: 0.813rem;
    .description {
      font-size: 0.938rem;
      color: #fff;
      div {
        text-align: right;
        a {
          color: #fff;
        }
      }
    }
    .lemur-logo-container {
      width: 2.569rem;
      height: 1.625rem;
      img {
        margin-top: -0.3rem;
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
  }
}

.personal-manager-container {
  width: 27.438rem;
  height: 5.625rem;
  display: flex;
  transition: 0.6s;
  overflow: hidden;
  float: left;
  position: -webkit-sticky;
  position: sticky;
  left: 3.125rem;
  bottom: 1.625rem;
  z-index: 300;
  opacity: 0;
  &.visible {
    opacity: 1;
  }
  .img-container {
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 2rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .description-container {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background-color: #95bad4;
    width: 21.813rem;
    box-sizing: border-box;
    padding: 1.438rem 1.938rem;
    color: #fff;
    .name-description {
      display: flex;
      gap: 0.5rem;
      font-size: 1.125rem;
      font-weight: bold;
    }
    .description {
      font-size: 1.125rem;
      font-weight: 300;
    }
  }
}

.head-page-container {
  margin: 1.625rem 3.125rem 0 3.125rem;
  display: flex;
  flex-direction: column;

  .promo-slider {
    width: 100%;
    height: 28.188rem;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.875rem;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #bdbdbd;
  }
  .products {
    display: grid;
    grid-template-columns: 20.188rem 20.188rem 20.188rem 20.188rem;
    gap: 1rem;
    margin-top: 3.75rem;
    .title-container {
      display: flex;
      flex-direction: column;
      .title {
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: bold;
      }
      .description {
        font-size: 1.5rem;
        font-weight: 300;
        width: 12.875rem;
      }
      .title-link {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 18.114rem;
        height: 3.537rem;
        box-sizing: border-box;
        border-radius: 2.5rem;
        border: 0.089rem solid #000;
        padding: 0.801rem 2.749rem;
        .title-link-description {
          color: #000;
          font-size: 1.313rem;
        }
        .arrow-container {
          width: 3.954rem;
          height: 1.593rem;
          transform: rotate(180deg);
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
      }
    }
    .category-elem {
      width: 20.188rem;
      height: 16.5rem;
      border-radius: 2rem;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
      .background-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: linear-gradient(
          180deg,
          rgba(1, 1, 1, 0) 33%,
          #95bad4 85%
        );
      }
      .hover_container {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #ff5b00;
        z-index: 2;
        transition: 0.6s;
        opacity: 0;
        top: 0;
        left: 0;
      }
      .name {
        position: absolute;
        left: 2.108rem;
        bottom: 1.704rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        z-index: 3;
        color: #fff;
        width: 15.188rem;
      }
      &:hover {
        .hover_container {
          opacity: 1;
        }
      }
    }
  }
  .solutions {
    display: flex;
    margin-top: 6.008rem;
    gap: 6.443rem;
    .description-container {
      display: flex;
      flex-direction: column;
      gap: 1.319rem;
      width: 14.813rem;
      .title {
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: bold;
      }
      .description {
        font-size: 1.5rem;
        font-weight: 300;
      }
    }
    .content-container {
      width: 62.032rem;
      display: flex;
      justify-content: space-between;
      .content-elem {
        width: 29.491rem;
        height: 16.193rem;
        border-radius: 40px;
        border: 0.089rem solid #000;
        position: relative;
        .first_item_content {
          height: 4.283rem;
          padding: 1.346rem 2.075rem;
          box-sizing: border-box;
          .title {
            font-size: 1.5rem;
            text-transform: uppercase;
          }
        }
        .second_item_content {
          padding: 0.8rem 2.079rem;
          .description {
            width: 24.313rem;
            font-size: 1.125rem;
            font-weight: 300;
          }
        }
        .img-container {
          position: absolute;
          &.marking-img-container {
            width: 6.171rem;
            height: 8.209rem;
            top: 3%;
            right: 4%;
          }
          &.cobots-img-container {
            width: 9.549rem;
            height: 7.953rem;
            top: 0%;
            right: 0%;
          }
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
        &:nth-of-type(1) {
          .first_item_content {
            position: relative;
            &::before {
              content: "";
              width: 22.6rem;
              height: 0.089rem;
              background-color: #000;
              bottom: 0;
              left: 0;
              position: absolute;
            }
            &::after {
              content: "";
              width: 1.3rem;
              height: 0.089rem;
              background-color: #000;
              bottom: 0;
              right: 0;
              position: absolute;
            }
          }
        }
        &:nth-of-type(2) {
          .first_item_content {
            position: relative;
            &::before {
              content: "";
              width: 23.4rem;
              height: 0.089rem;
              background-color: #000;
              bottom: 0;
              left: 0;
              position: absolute;
            }
          }
        }
      }
    }
  }
  .projects {
    display: grid;
    grid-template-columns: 40.351rem 40.351rem;
    // -moz-column-gap: 3.082rem;
    // column-gap: 3.082rem;
    row-gap: 2.928rem;
    justify-content: space-between;
    margin-top: 5.511rem;
    .title-container {
      display: flex;
      flex-direction: column;
      .title {
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: bold;
        line-height: 0.9em;
      }
      .description {
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 1.231rem;
      }

      .title-link {
        margin-top: 1.853rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 18.114rem;
        height: 3.537rem;
        box-sizing: border-box;
        border-radius: 30px;
        border: 0.089rem solid #000;
        padding: 0.801rem 2.749rem;
        .title-link-description {
          color: #000;
          font-size: 1.313rem;
        }
        .arrow-container {
          width: 3.954rem;
          height: 1.593rem;
          transform: rotate(180deg);
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
      }
    }
    .project {
      width: 40.351rem;
      height: 16.193rem;
      display: flex;
      .img-container {
        width: 16.193rem;
        height: 16.193rem;
        border-radius: 2rem;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
      .project_name {
        width: 24.158rem;
        height: 16.193rem;
        border-radius: 2rem;
        background-color: #95bad4;
        padding: 2.061rem 1.173rem 2.061rem 2.423rem;
        box-sizing: border-box;
        font-size: 1.5rem;
        color: #fff;
        text-transform: uppercase;
        transition: 0.6s;
      }
      &:hover {
        .project_name {
          background-color: #ff5b00;
        }
      }
    }
  }

  .direction-container {
    margin-top: 5.954rem;
    display: flex;
    flex-direction: column;
    gap: 3.177rem;
    .container {
      display: flex;
      justify-content: space-between;
      .we_instal_contaner {
        width: 18.661rem;
        height: 13.256rem;
        border-radius: 2.5rem;
        border: 0.089rem solid black;
        box-sizing: border-box;
        padding: 2.304rem 2.074rem;
        position: relative;
        .arrow-container {
          width: 2.716rem;
          height: 1.593rem;
          position: absolute;
          right: -15.3%;
          top: 50%;
          transform: translateY(-50%);
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
        .title {
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        .content {
          width: 9.226rem;
          font-size: 1.125rem;
          font-weight: 300;
          margin-top: 0.555rem;
        }
        .img-container {
          position: absolute;
          width: 8.481rem;
          height: 6.946rem;
          bottom: -0.2%;
          right: 1.856rem;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
      }
      .head_container {
        width: 40.246rem;
        height: 13.256rem;
        border-radius: 2.5rem;
        border: 0.089rem solid black;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        .title {
          width: 23.875rem;
          height: 7.25rem;
          font-size: 3rem;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
        }
      }
      .we_supported_container {
        width: 18.661rem;
        height: 13.256rem;
        border-radius: 2.5rem;
        border: 0.089rem solid black;
        box-sizing: border-box;
        padding: 2.304rem 2.074rem;
        position: relative;
        .arrow-container {
          width: 2.716rem;
          height: 1.593rem;
          position: absolute;
          left: -15.3%;
          top: 50%;
          transform: translateY(-50%) rotate(180deg);
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
        .title {
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        .content {
          width: 9.75rem;
          font-size: 1.125rem;
          font-weight: 300;
        }
        .img-container {
          position: absolute;
          width: 9.95rem;
          height: 8.406rem;
          bottom: -0.2%;
          right: 0.503rem;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
      }
      .wee_adjusting_container {
        width: 40.246rem;
        height: 13.256rem;
        border-radius: 2.5rem;
        border: 0.089rem solid black;
        box-sizing: border-box;
        padding: 1.378rem 2.665rem;
        position: relative;
        .arrow-container {
          width: 2.716rem;
          height: 1.593rem;
          position: absolute;
          left: 75%;
          top: -21%;
          transform: rotate(270deg);
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
        .title {
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        .content {
          font-size: 1.125rem;
          font-weight: 300;
          margin-top: 0.555rem;
          ul {
            margin: 0;
            padding: 0;
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
            li {
              list-style: none;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                width: 0.625rem;
                height: 0.625rem;
                left: -0.845rem;
                top: 55%;
                transform: translateY(-50%);
                border-radius: 100%;
                background-color: #95bad4;
              }
            }
          }
        }
        .img-container {
          position: absolute;
          width: 8.674rem;
          height: 6.254rem;
          bottom: -0.2%;
          right: 5.213rem;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
      }
      .wee_programming_container {
        width: 40.246rem;
        height: 13.256rem;
        border-radius: 2.5rem;
        border: 0.089rem solid black;
        box-sizing: border-box;
        padding: 1.378rem 2.665rem;
        position: relative;
        .arrow-container {
          width: 2.716rem;
          height: 1.593rem;
          position: absolute;
          left: 15%;
          top: -21%;
          transform: rotate(270deg);
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
        .title {
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        .content {
          font-size: 1.125rem;
          font-weight: 300;
          ul {
            margin: 0;
            padding: 0;
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
            li {
              list-style: none;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                width: 0.625rem;
                height: 0.625rem;
                left: -0.845rem;
                top: 55%;
                transform: translateY(-50%);
                border-radius: 100%;
                background-color: #95bad4;
              }
            }
          }
        }
        .img-container {
          position: absolute;
          width: 13.557rem;
          height: 11.191rem;
          top: -0.2%;
          right: 2.023rem;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
      }
      .we_controling_container {
        width: 17.461rem;
        height: 13.256rem;
        border-radius: 2.5rem;
        border: 0.089rem solid black;
        box-sizing: border-box;
        padding: 2.304rem 2.074rem;
        position: relative;
        .arrow-container {
          width: 2.716rem;
          height: 1.593rem;
          position: absolute;
          left: 45%;
          top: -21.2%;
          transform: rotate(270deg);
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
        .title {
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        .content {
          width: 9.601rem;
          font-size: 1.125rem;
          font-weight: 300;
        }
        .img-container {
          position: absolute;
          width: 6.493rem;
          height: 6.504rem;
          bottom: 1.868rem;
          right: -0.2%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
      }
      .we_bring_container {
        width: 17.461rem;
        height: 13.256rem;
        border-radius: 2.5rem;
        border: 0.089rem solid black;
        box-sizing: border-box;
        padding: 2.304rem 2.074rem;
        position: relative;
        .arrow-container {
          width: 2.716rem;
          height: 1.593rem;
          position: absolute;
          left: 35%;
          top: -21.2%;
          transform: rotate(270deg);
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
        .title {
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        .content {
          width: 12.904rem;
          font-size: 1.125rem;
          font-weight: 300;
        }
        .img-container {
          position: absolute;
          width: 6.012rem;
          height: 6.277rem;
          bottom: 0.806rem;
          right: -0.2%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
      }
      &:nth-of-type(3) {
        width: 37.547rem;
        margin: 0 auto;
      }
    }
  }
  .motrum_in_numbers-container {
    margin-top: 6.757rem;
    display: flex;
    gap: 1.651rem;
    .description-container {
      display: flex;
      flex-direction: column;
      gap: 0.865rem;
      width: 20rem;
      .title {
        font-size: 3rem;
        font-weight: bold;
      }
      .content {
        font-size: 1.5rem;
        font-weight: 300;
      }
    }
    .dynamics_content-container {
      display: grid;
      grid-template-columns: 24.2rem 24.2rem;
      row-gap: 1.844rem;
      -moz-column-gap: 3.746rem;
      column-gap: 3.746rem;
      .dynamics_content-elem {
        display: flex;
        .number_container {
          width: 5.5rem;
          height: 5.5rem;
          border: 0.089rem solid #000;
          border-radius: 100%;
          &.long_number {
            width: 8.25rem;
            border-radius: 70px;
          }
          position: relative;
          .quantity {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3rem;
            font-weight: bold;
          }
        }
        .content {
          width: 18.634rem;
          height: 5.5rem;
          padding: 1.438rem 1.875rem;
          border: 0.089rem solid #000;
          border-radius: 40px;
          box-sizing: border-box;
          font-size: 1.125rem;
          font-weight: 300;
          &.short_content {
            width: 15.787rem;
            text-align: right;
          }
        }
      }
    }
  }
}

.cart_container {
  margin: 1.625rem 3.125rem;
  .title_container {
    .bread-crumbs {
      a {
        font-size: 0.938rem;
        text-transform: lowercase;
        font-weight: 300;
      }
    }
    h1 {
      margin: 0;
      padding: 0;
      font-size: 3rem;
      font-weight: bold;
    }
  }
  .cart_elems_container {
    margin-top: 1.813rem;
    .products {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .product_item {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 1rem 1.875rem;
        border-radius: 10px;
        font-size: 0.813rem;
        border: 0.094rem solid black;
        border-radius: 2.5rem;
        .img-contaner {
          width: 9.375rem;
          height: 9.375rem;
          background-color: #ff5b00;
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
        .product_item-description {
          display: flex;
          flex-direction: column;
          margin-left: 1.125rem;
          width: 28.188rem;
          .name {
            max-width: 28.188rem;
            font-size: 1.5rem;
          }
          .article {
            max-width: 28.188rem;
            font-size: 1.125rem;
            font-weight: 300;
          }
          .chars {
            margin-top: 1.125rem;
            max-width: 28.188rem;
            display: flex;
            flex-direction: column;
            .char {
              width: 100%;
              font-size: 1.125rem;
              font-weight: 300;
              display: flex;
              gap: 0.5rem;
            }
          }
        }
        .one-prce-container {
          display: flex;
          flex-direction: column;
          margin-left: 4.563rem;
          .lot {
            width: 9.938rem;
            font-size: 1.125rem;
            font-weight: 300;
          }
          .price_once {
            font-size: 1.5rem;
            font-weight: bold;
            .discount {
              font-size: 1.125rem;
              font-weight: 300;
              width: 8.75rem;
              display: block;
              margin-top: 0.625rem;
            }
          }
        }
        .item-buttons_container {
          display: flex;
          align-items: center;
          gap: 3.063rem;
          margin-left: 7.438rem;
          .cart_buttons_container {
            display: flex;
            flex-direction: column;
            gap: 1.125rem;
            align-items: center;
            .quantity-buttons {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 12.313rem;
              height: 3.563rem;
              border: 0.094rem solid black;
              position: relative;
              border-radius: 1.875rem;
              background-color: #fff;
              input {
                width: 2.063rem;
                height: 100%;
                text-align: center;
                border: none;
                background-color: transparent;
                font-size: 1.125rem;
                font-weight: bold;
                &:focus {
                  outline: none;
                }
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              }
              button {
                border: none;
                background-color: transparent;
                color: #a4a4a4;
                height: -webkit-max-content;
                height: -moz-max-content;
                height: max-content;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.625rem;
                height: 1.625rem;
                &:disabled,
                &[disabled] {
                  cursor: auto;
                  opacity: 0.7;
                }
                &.minus-button {
                  font-size: 2rem;
                  position: relative;
                  left: 1.688rem;
                  img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: contain;
                    object-fit: contain;
                  }
                }
                &.plus-button {
                  font-size: 1.8rem;
                  position: relative;
                  right: 1.688rem;
                  img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: contain;
                    object-fit: contain;
                  }
                }
              }
            }
            .price {
              font-weight: bold;
              font-size: 1.5rem;
            }
          }
          .delete_cart_button {
            width: 1.613rem;
            height: 1.613rem;
            display: flex;
            border: none;
            align-items: center;
            justify-content: center;
            background-color: inherit;
            font-size: 0.813rem;
            color: #000;
            text-transform: lowercase;
            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
              -o-object-fit: cover;
              object-fit: cover;
            }
          }
        }
      }
    }
    .total_sum {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 1.125rem;
      .total_sum_item {
        display: flex;
        align-items: flex-end;
        width: 20.313rem;
        justify-content: space-between;
        font-weight: 300;
        span {
          &:nth-of-type(1) {
            font-size: 1.125rem;
          }
          &:nth-of-type(2) {
            span {
              font-size: 1.5rem;
            }
            font-size: 1.5rem;
          }
        }
        &.total_sum_all {
          font-weight: bold;
          font-size: 1.5rem;
          span {
            &:nth-of-type(1) {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
    .client-order-details {
      .button_cart-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 0.813rem;
        .save_cart_button {
          width: 14rem;
          height: 3.563rem;
          border-radius: 1.875rem;
          font-size: 1.313rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          text-transform: lowercase;
          background-color: #95bad4;
          border: none;
          transition: 0.6s;
          cursor: pointer;
          &:hover {
            background-color: #ff5b00;
          }
        }
      }
    }
    .logout_container {
      display: flex;
      justify-content: flex-end;
      margin-top: 1.188rem;
      .autification-form-cart {
        display: flex;
        gap: 1rem;
        margin-right: 1rem;
        label {
          width: 13.938rem;
          height: 3.563rem;
          position: relative;
          input {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-radius: 2rem;
            border: 0.094rem solid black;
            padding: 1.125rem 1.938rem;
            font-size: 1.125rem;
            font-weight: 300;
            font-family: "Nunito", sans-serif;
            &:focus {
              outline: none;
            }
          }
        }
      }
      .button_cart-wrapper {
        width: 13.938rem;
        height: 3.563rem;
        button {
          width: 100%;
          height: 100%;
          border-radius: 2rem;
          border: none;
          color: #fff;
          background-color: #95bad4;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.313rem;
          text-transform: lowercase;
          cursor: pointer;
          transition: 0.6s;
          &:hover {
            background-color: #ff5b00;
          }
        }
      }
    }
  }
}
