@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  font-size: 1.111vw;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
ul[class] {
  list-style: none;
}
ul[class],
ol[class] {
  padding: 0;
}
a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  .site-content {
    flex: 1 0 auto;
    position: relative;
    .site-description-content {
      margin-bottom: 3.125rem;
      min-height: 22rem;
    }
  }
  .footer {
    flex: 0 0 auto;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
    z-index: 100;
    &.visible {
      opacity: 1;
    }
    &.show {
      display: flex;
    }
    .modal-window {
      width: 31.375rem;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      background-color: #fff;
      box-sizing: border-box;
      padding: 2.313rem 2.063rem;
      display: flex;
      flex-direction: column;
      gap: 1.875rem;

      .title {
        text-align: center;
        font-size: 1.875rem;
        text-transform: uppercase;
      }
      .autification-form {
        display: flex;
        flex-direction: column;
        label {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          position: relative;
          span {
            text-align: center;
            font-size: 0.813rem;
          }
          input {
            height: 3.125rem;
            font-size: 1.125rem;
            border: 0.063rem solid #a4a4a4;
            border-radius: 5px;
            text-align: center;
            &:focus {
              outline: none;
            }
            &.password-input {
              letter-spacing: 0.4rem;
            }
          }
          &.password-label {
            margin-top: 0.5rem;
            display: none;
            &.show {
              display: flex;
            }
          }
          .error-maessage {
            color: red;
            font-size: 0.5rem;
            position: absolute;
            top: 102%;
            left: 2%;
            transition: 0.6s;
            opacity: 0;
            &.show {
              opacity: 1;
            }
          }
        }
        .autification-button {
          margin-top: 1.75rem;
          height: 3.125rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          font-size: 1.125rem;
          border: none;
          border-radius: 5px;
          background-color: #a4a4a4;
          cursor: pointer;
        }
      }
    }
  }
  .overlay_new_product_in_specification {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
    z-index: 100;
    &.visible {
      opacity: 1;
    }
    &.show {
      display: flex;
    }
    .modal_window {
      width: 31.375rem;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      background-color: #fff;
      box-sizing: border-box;
      padding: 2.313rem 2.063rem;
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
    }
    .title {
      text-align: center;
      font-size: 1.875rem;
      text-transform: uppercase;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      label {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        position: relative;
        span {
          text-align: center;
          font-size: 0.813rem;
        }
        input {
          height: 3.125rem;
          font-size: 1.125rem;
          border: 0.063rem solid #a4a4a4;
          border-radius: 5px;
          text-align: center;
          &:focus {
            outline: none;
          }
          &.password-input {
            letter-spacing: 0.4rem;
          }
        }
        &.password-label {
          margin-top: 0.5rem;
          display: none;
          &.show {
            display: flex;
          }
        }
        .error-maessage {
          color: red;
          font-size: 0.5rem;
          position: absolute;
          top: 102%;
          left: 2%;
          transition: 0.6s;
          opacity: 0;
          &.show {
            opacity: 1;
          }
        }
      }
      button {
        margin-top: 1.75rem;
        height: 3.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 1.125rem;
        border: none;
        border-radius: 5px;
        background-color: #a4a4a4;
        cursor: pointer;
      }
    }
  }
  div[window-elem="cookie"] {
    width: 100%;
    height: 6.688rem;
    background-color: #d9d9d9;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    bottom: 0;
    z-index: 400;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    box-sizing: border-box;
    display: none;
    transition: 0.6s;
    opacity: 0;
    &.visible {
      display: flex;
      align-items: center;
      opacity: 1;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .text {
        width: 80%;
        font-size: 1.25rem;
      }
      .cookie_button {
        height: 3.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 1.125rem;
        border: none;
        border-radius: 5px;
        background-color: #a4a4a4;
        cursor: pointer;
        width: 15%;
      }
    }
  }
}

.header {
  margin: 2.563rem 3.125rem 0 3.125rem;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .logo-container {
    width: 15.061rem;
    height: 3.75rem;
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }
  .call-back-container {
    display: flex;
    font-size: 0.938rem;
    gap: 1.688rem;
    color: #676767;
    .call-back-link {
      text-decoration: underline;
    }
  }
  .user-navigation {
    position: absolute;
    width: 77%;
    top: 70%;
    left: 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navigation {
      display: flex;
      gap: 2.188rem;
      width: 45.313rem;
      .nav-elem {
        text-transform: uppercase;
        color: #a4a4a4;
        font-weight: bold;
        font-size: 0.938rem;
      }
    }
    .cart-elems {
      display: flex;
      gap: 1.25rem;
      .cart-elem {
        font-size: 0.938rem;
        text-transform: uppercase;
        cursor: pointer;
        color: #000;
        text-decoration: none;
        position: relative;
        span {
          position: absolute;
          font-size: 0.625rem;
          font-weight: bold;
          top: 0;
          left: 102%;
        }
      }
    }
  }
  li {
    list-style-type: none; /* Убираем маркеры */
  }
}

.footer {
  background-color: #a9a7a7;
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 3.125rem 2.938rem 3.125rem;
  .motrum-footer {
    display: flex;
    align-items: flex-end;
    gap: 1.875rem;
    .motrum-logo-container {
      width: 9.375rem;
      height: 2.334rem;
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
    .description {
      font-size: 0.75rem;
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
  .lemur-footer {
    display: flex;
    align-items: flex-end;
    gap: 1.875rem;
    .description {
      font-size: 0.75rem;
      color: #fff;
      div {
        text-align: right;
        a {
          color: #fff;
        }
      }
    }
    .lemur-logo-container {
      width: 3.69rem;
      height: 2.334rem;
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
  }
}

.personal-manager-container {
  width: 21.938rem;
  height: 6.688rem;
  background-color: #d9d9d9;
  display: flex;
  gap: 1.125rem;
  box-sizing: border-box;
  padding: 1.563rem 3.125rem 1.875rem 1.5rem;
  transition: 0.6s;
  overflow: hidden;
  float: right;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  bottom: 0;
  z-index: 300;
  opacity: 0;

  .img-container {
    width: 3.25rem;
    height: 3.25rem;
    background-color: #fff;
    border-radius: 100%;
  }
  .description-container {
    display: flex;
    flex-direction: column;
    gap: 1.588rem;
    .name-description {
      display: flex;
      flex-direction: column;
      .title-name {
        font-size: 0.938rem;
        font-weight: bold;
      }
      .description {
        font-size: 0.813rem;
        text-transform: lowercase;
      }
    }
  }
  .contacts-description {
    display: none;
  }
  &.visible {
    opacity: 1;
  }
  &.show {
    width: 28.25rem;
    height: 12.813rem;
    gap: 1.625rem;
    padding: 1.875rem 1.875rem 1.938rem 1.563rem;
    .img-container {
      width: 9rem;
      height: 9rem;
      background-color: #fff;
      border-radius: 100%;
    }
    .description-container {
      gap: 1.588rem;
    }
    .contacts-description {
      display: flex;
      flex-direction: column;
      .description {
        font-size: 0.813rem;
      }
      .send-manager {
        width: 14.188rem;
        height: 2.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 0.938rem;
        background-color: #a4a4a4;
        margin-top: 0.438rem;
        cursor: pointer;
      }
    }
  }
}

.head-page-container {
  margin: 1.625rem 3.125rem 0 3.125rem;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;

  .promo-slider {
    width: 100%;
    height: 28.188rem;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.875rem;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #bdbdbd;
  }
  .products {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    .title-container {
      display: flex;
      align-items: center;
      position: relative;
      .title {
        text-transform: uppercase;
        font-size: 1.875rem;
      }
      .title-link {
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.938rem;
        color: #000;
        text-decoration: none;
        position: absolute;
        top: 42.5%;
        left: 12rem;
      }
    }
    .products-categories {
      display: grid;
      grid-template-columns: 18.75rem 18.75rem 18.75rem 18.75rem;
      justify-content: space-between;
      row-gap: 2.5rem;
      .category-elem {
        width: 100%;
        height: 18.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5;
        text-decoration: none;
        color: #bdbdbd;
        border-radius: 10px;
        span {
          text-align: center;
          width: 90%;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }
  .solutions {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    .title {
      text-transform: uppercase;
      font-size: 1.875rem;
    }
    .solutions-container {
      display: flex;
      justify-content: space-between;
      .solution {
        width: 40.1rem;
        height: 18.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5;
        color: #bdbdbd;
        font-weight: bold;
        font-size: 1.25rem;
        border-radius: 10px;
        text-transform: uppercase;
      }
    }
  }
  .projects {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    .title-container {
      display: flex;
      align-items: center;
      position: relative;
      .title {
        text-transform: uppercase;
        font-size: 1.875rem;
      }
      .title-link {
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.938rem;
        color: #000;
        text-decoration: none;
        position: absolute;
        top: 42.5%;
        left: 31.5rem;
      }
    }
    .projects-slider {
      width: 100%;
      overflow: hidden;
      position: relative;
      .swiper-wrapper {
        .project-elem {
          width: 40.18rem;
          height: 18.75rem;
          padding-right: 2.6rem;
          &:last-child {
            padding-right: 0;
          }
          .content {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f5f5f5;
            color: #bdbdbd;
            font-weight: bold;
            font-size: 1.25rem;
            border-radius: 10px;
            text-transform: uppercase;
          }
        }
      }
      .swiper-button-prev {
        position: absolute;
        top: 50%;
        left: -1.3%;
        border-radius: 100%;
        background-color: #fff;
        width: 3.125rem;
        height: 3.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          color: #f5f5f5 !important;
        }
      }
      .swiper-button-next {
        position: absolute;
        top: 50%;
        right: -1.25%;
        border-radius: 100%;
        background-color: #fff;
        width: 3.125rem;
        height: 3.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          color: #f5f5f5 !important;
        }
      }
    }
  }
  .company-promo {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    .title {
      text-transform: uppercase;
      font-size: 1.875rem;
    }
    .promo {
      width: 100%;
      height: 28.188rem;
      background-color: #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.875rem;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: bold;
      color: #bdbdbd;
    }
  }
}

.lc-container {
  margin: 1.625rem 3.125rem 0 3.125rem;
  .title-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .bread-crumbs {
      margin-bottom: 0;
      .bread-crumb-elem {
        font-size: 0.813rem;
        text-transform: lowercase;
      }
    }
    .title {
      margin: 0;
      padding: 0;
    }
  }
  .navigation-and-sorting {
    margin-top: 1.313rem;
    display: flex;
    justify-content: space-between;
    .navigation {
      display: flex;
      gap: 1.875rem;
      .nav-elem {
        font-size: 0.938rem;
        font-weight: bold;
        color: #a4a4a4;
        text-transform: uppercase;
        text-decoration: none;
        &.active {
          font-weight: bold;
          color: #000;
        }
      }
    }
    .sort-container {
      display: flex;
      gap: 1.875rem;
      font-size: 0.938rem;
      .sort-elem {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        .arrow {
          position: relative;
          width: 0.688rem;
          height: 0.361rem;
          display: flex;
          gap: 0.23rem;
          .arrow-elem-1 {
            width: 0.102rem;
            height: 0.453rem;
            border-radius: 2px;
            transform: rotate(-45deg);
            background-color: #000;
          }
          .arrow-elem-2 {
            width: 0.102rem;
            height: 0.453rem;
            border-radius: 2px;
            transform: rotate(45deg);
            background-color: #000;
          }
        }
      }
    }
  }
}

.cart_container {
  margin: 1.625rem 3.125rem;
  .cart_elems_container {
    margin-top: 1.25rem;
    .titles {
      display: flex;
      margin-left: 1.875rem;
      .small_title {
        font-size: 0.938rem;
        font-weight: bold;
        text-transform: uppercase;
        &:nth-of-type(2) {
          margin-left: 12.563rem;
        }
        &:nth-of-type(3) {
          margin-left: 5.563rem;
        }
        &:nth-of-type(4) {
          margin-left: 5.375rem;
        }
        &:nth-of-type(5) {
          margin-left: 2.25rem;
        }
      }
    }
    .products {
      margin-top: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 0.313rem;
      .product_item {
        display: flex;
        background-color: #f5f5f5;
        box-sizing: border-box;
        padding: 1rem 1.875rem;
        border-radius: 10px;
        font-size: 0.813rem;
        .name {
          width: 13.063rem;
        }
        .article {
          margin-left: 3rem;
          width: 6.188rem;
        }
        .chars {
          margin-left: 4.25rem;
          width: 10.25rem;
          word-break: break-all;
        }
        .lot {
          margin-left: 4.75rem;
          width: 2.063rem;
        }
        .price {
          width: 5.875rem;
          margin-left: 3.375rem;
          font-weight: bold;
          font-size: 0.938rem;
        }
        .price_once {
          width: 6.563rem;
          margin-left: 4.688rem;
        }
        .item-buttons_container {
          display: flex;
          gap: 3.063rem;
          margin-left: 2.375rem;
          .quantity-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 5.563rem;
            height: 2.125rem;
            border: 1px solid black;
            position: relative;
            border-radius: 10px;
            background-color: #fff;
            input {
              width: 2.063rem;
              height: 100%;
              text-align: center;
              border: none;
              background-color: transparent;
              font-size: 1.125rem;
              font-weight: bold;
              &:focus {
                outline: none;
              }
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }
            button {
              border: none;
              background-color: transparent;
              color: #a4a4a4;
              height: -webkit-max-content;
              height: -moz-max-content;
              height: max-content;
              cursor: pointer;
              &:disabled,
              &[disabled] {
                cursor: auto;
              }
              &.minus-button {
                font-size: 2rem;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
              }
              &.plus-button {
                font-size: 1.8rem;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
          .delete_cart_button {
            display: flex;
            border: none;
            align-items: center;
            justify-content: center;
            background-color: inherit;
            font-size: 0.813rem;
            color: #000;
            text-transform: lowercase;
            cursor: pointer;
          }
        }
      }
    }
  }
}
