@import "base.scss";
@import "../../../../admin_specification/static/admin_specification/scss/style.scss";
@import "../../../../user/static/user/scss/style.scss";
@import "../../../../client/static/client/scss/style.scss";
@import "../../../../product/static/product/scss/style.scss";
@import "../../../../projects_web/static/projects_web/scss/style.scss";
@import "../../../../vacancy_web/static/vacancy_web/scss/style.scss";
