/* 
  h1{
    color: aqua;
  }
  .none-item-fealds label{
    color: red;
  }
  .flex-container  > textarea:empty{
    background: #ff777724;
    
    display: inline-block;
  } */

   /* option  > textarea:empty{
    background: #ff777724;
    
    display: inline-block;
   }  */


