{% load static %}
{% load number_into_digits %}
<!-- товар из бд-->
<div  class="item_container data-base-product-container "
     data-vendor=""
     data-supplier=""
     data-product-name-new=""
     data-product-id-cart="{{ item.id_product_cart }}"
     data-product-pk="{{ item.pk }}"
     data-price-motrum="{% if item.price_motrum_cart %}{{ item.price_motrum_cart }}{% else %} {% if item.price_motrum %}{{ item.price_motrum }}{% else %}{% if item.price_one_motrum_spesif %}{{ item.price_one_motrum_spesif }}{% else %}{% endif %}{% endif %} {% endif %}"
     data-id="{{ item.id_product_cart }}"
     data-order="{% if item.order %}{{ item.order }}{% else %}0{% endif %}"
     data-price=" {% if item.price_cart %} {{ item.price_cart }} {% else %} {% if item.id_product_spesif %} {{ item.old_price_one_full }} {% else %} 0 {% endif %} {% endif %}"
     data-price-exclusive="{% if item.price == "0" or item.price == "0.0" or item.price.extra_price == True %}1{% else %}0{% endif %}"
     data-product-specification-id="{{ item.id_product_spesif }}"
     data-multiplicity="{% if item.stock.is_one_sale %}1{% else %}{{ item.stock.order_multiplicity }}{% endif %}"
     data-comment-item="{% if item.comment %}{{ item.comment }}{% endif %}">
    <div title="Удалить элемент" class="item_conainer-delete_btn">+</div>
    <div title="Редактировать элемент" class="change_icon_container">
        <img src="{% static "core/images/changeIcon.svg" %}" alt="icon" />
    </div>
    <div title="Cохранить элемент" class="save_icon_container">
        <img src="{% static "core/images/save-okt-icon.png" %}" alt="icon" />
    </div>
    <div class="item_value">
        {{ item.name }}
        <br>
        <div class="article">Арт. {{ item.article_supplier }}</div>
        {% if item.comment %}
            <div class="comment true">Посмотреть комментарий</div>
        {% else %}
            <div class="comment false">Добавить комментарий</div>
        {% endif %}
    </div>
    <div class="item_value">
        {% if item.stock %}
            <div class="stock_item">
                {% if item.stock.to_order %}
                    Поставщик:
                    <br>
                    Под заказ
                {% else %}
                    {% if item.stock.stock_supplier != None %}
                        Поставщик: <span class="supplier_unit">{{ item.stock.stock_supplier_unit }}</span> шт
                    {% else %}
                        Поставщик: -
                    {% endif %}
                {% endif %}
            </div>
            <div class="stock_item">
                Motrum: <span class="motrum_unit">{{ item.stock.stock_motrum }}</span>
                {% if item.stock.stock_motrum_reserve %}
                    <br>
                    Motrum резерв: <span class="motrum_unit_reserve">{{ item.stock.stock_motrum_reserve }}</span>
                {% endif %}
            </div>
            {% if item.stock.stock_supplier != None %}
                <span class="span-transit">{{ item.stock.data_update|date:"d.m.Y" }}</span>
                <br>
                <span class="span-transit">
                    {% if item.stock.transit_count %}
                        Ближайшая поставка: {{ item.stock.data_transit|date:"d.m.Y" }} - {{ item.stock.transit_count }} шт.
                    {% endif %}
                </span>
            {% endif %}
        {% else %}
            {% if item.stock.to_order %}Под заказ{% endif %}
            Неизвестно
        {% endif %}
    </div>
    {% if item.price_cart  == 0  or item.is_prise is None %}
        <div class="item_value">
            <input class="price-input"
                   name="price-input-extra"
                   type="text"
                   placeholder="Введите цену по запросу"
                   maxlength="10"
                   value="{% if bill_upd and item.id_product_spesif %}{{ item.old_price_one }}{% else %}{% endif %}" />
            <label for="price-input-extra">
                <br>
                {% if item.old_price_one_full %}{{ item.old_date }} - {{ item.old_price_one_full }}{% endif %}
            </label>
        </div>
        <div class="item_value input_quantity quantity">
            <div class="input-container">
                <button class="minus-button">
                    <img src="{% static "admin_specification/images/minus_btn.svg" %}"
                         alt="img" />
                </button>
                <input class="input-quantity"
                       type="text"
                       value="{% if item.stock.is_one_sale %}{{ item.quantity }}{% else %}{{ item.stock.order_multiplicity }}{% endif %}"
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       maxlength="5"
                       onkeypress='validate(event)'>
                <button class="plus-button">
                    <img src="{% static "admin_specification/images/plus_btn.svg" %}"
                         alt="img" />
                </button>
            </div>
        </div>
        <div class="item_value input_totla-cost total_cost price">0</div>
    {% else %}
        <div class="item_value">
            {% if item.price_cart  == None and item.id_product_spesif == None %}
                <input class="price-input price price_once "
                       disabled
                       name="price-input-extra"
                       type="text"
                       placeholder="Введите цену по запросу"
                       maxlength="10"
                       value="{% if bill_upd and item.id_product_spesif %}{{ item.old_price_one }}{% else %}{% endif %}" />
                <label for="price-input-extra">
            {% else %}
                    <span class="price price_once">{{ item.price_cart }}</span>
                   
            {% endif %}
                <div class="change_input_price_title">ПРАЙС</div>
                <input class="change_input_price" value="
                {% if item.price_cart  %}
                    {{item.price_cart}}
                {% else %}
                    {{ item.old_price_one }}
                {% endif %}" />
                {% if item.price_cart != item.actual_price %}
                    {% if item.actual_price %}
                        {% comment %} <span class="okt-price">Цена прайс: <span class="price">{{ item.price_cart|number_into_digits }}</span> ₽</span> {% endcomment %}
                        <span class="okt-price">Цена в ОКТ: <span class="price">{{ item.actual_price|number_into_digits }}</span> ₽</span>
                    {% elif item.price_cart  == None %}
                        <span class="okt-price">Цена по запросу</span>
                    {% else %}
                        <span class="okt-price">Цена по запросу</span>
                    {% endif %}
                {% endif %}
            </div>
            <div class="item_value input_quantity quantity">
                <div class="input-container">
                    <button class="minus-button">
                        <img src="{% static "admin_specification/images/minus_btn.svg" %}"
                             alt="img" />
                    </button>
                    <input class="input-quantity"
                           type="text"
                           value="{% if item.stock.is_one_sale %}{{ item.quantity }}{% else %}{{ item.stock.order_multiplicity }}{% endif %}"
                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                           maxlength="5"
                           onkeypress='validate(event)'>
                    <button class="plus-button">
                        <img src="{% static "admin_specification/images/plus_btn.svg" %}"
                             alt="img" />
                    </button>
                </div>
            </div>
            <div class="item_value total_cost price"></div>
        {% endif %}
        <div class="item_value">
            <div class="price_motrum"
                 price-motrum="{% if item.price_motrum_cart %}{{ item.price_motrum_cart }}{% else %}{% if item.price_motrum %}{{ item.price_motrum }}{% else %}{% if item.price_one_motrum_spesif %}{{ item.price_one_motrum_spesif }}{% else %}0{% endif %}{% endif %}{% endif %}">
                {% if item.price_motrum_cart %}
                    {{ item.price_motrum_cart }}
                {% else %}
                    {% if item.price_motrum %}
                        {{ item.price_motrum }}
                    {% else %}
                        {% if item.price_one_motrum_spesif %}
                            {{ item.price_one_motrum_spesif }}
                        {% else %}
                            0
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="">
                {% if item.sale_motrum %}
                    скидка на прайс <span class="motrum_sale_persent">{{ item.sale_motrum }}</span>
                    <input class="change-input-sale-percent-motrum"
                           value="{{ item.sale_motrum }}" />
                    %
                {% endif %}
                <span class="change-motrum-sale-percent-without-sale">
                    скидка на прайс
                    <input class="change-input-sale-percent-motrum" value="0" />
                    %
                </span>
            </div>
            <div class="">
                {% if item.sale_motrum != item.price.sale.percent %}
                    {% if item.sale_motrum == 0 and item.price.sale.percent == None %}
                    {% else %}
                        <span style=" color: #ff5b00 "> cкидка в OKT:
                            {% if item.price.sale %}
                                {{ item.price.sale.percent }} %
                            {% else %}
                                Нет
                            {% endif %}
                        </span>
                    {% endif %}
                {% endif %}
            </div>
            <label class="change_price_motrum_label"for="change_price_motrum_hands">или цена закупки за ед.</label>
            <input class="change_price_motrum"
                   id="change_price_motrum_hands"
                   value="{% if item.price_motrum_cart %}{{ item.price_motrum_cart }}{% endif %}">
        </div>
        <div class="item_value">
            <input class="discount-input"
                   {% if item.sale_marja %}disabled{% endif %}
                   type="text"
                   name="price-input-discount"
                   placeholder="% скидки"
                   maxlength="6"
                   value="{% if item.sale_client %}{{ item.sale_client }}{% endif %}" />
            <span style="color: #ff5b00;
                         font-weight: 300;
                         font-size: 0.625rem;
                         display: flex;
                         justify-content: center">
                {% if bill_upd and item.id_product_spesif and item.old_extra_discount and item.old_extra_discount != item.sale_client %}
                    Была в счете:{{ item.old_extra_discount }}
                {% endif %}
            </span>
        </div>
        <div class="item_value">
            <input class="marja-input"
                   {% if item.sale_client %}disabled{% endif %}
                   type="text"
                   name="marja-input-discount"
                   placeholder="% маржа"
                   maxlength="6"
                   value="{% if item.sale_marja %}{{ item.sale_marja }}{% endif %}" />
        </div>
        <div class="item_value">
            <div>
                <span class="marginality">0</span> ₽
            </div>
            <div>
                / <span class="marginality-persent">0</span> %
            </div>
        </div>
        <div class="item_value">
            <label>
                {% if bill_upd %}
                    <input class="delivery_date"
                           type="date"
                           name="calendar"
                           value="{% if item.date_delivery_cart|date %}{{ item.date_delivery_cart|date:"Y-m-d" }}{% else %}{% if item.date_delivery_bill %}{{ item.date_delivery_bill|date:"Y-m-d" }}{% else %}{{ item.date_delivery_first|date:"Y-m-d" }}{% endif %}{% endif %}">
                {% else %}
                    <input class="delivery_date"
                           type="date"
                           name="calendar"
                           min="{{ current_date }}"
                           value="{% if item.date_delivery_cart %}{{ item.date_delivery_cart|date:"Y-m-d" }}{% endif %}">
                    {% if item.date_delivery %}
                        <br>
                        <span class="">{{ item.date_delivery }}</span>
                    {% endif %}
                {% endif %}
            </label>
        </div>
    
        <div title="Перетащить элемент" class="drag-handle">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
            </svg>
        </div>
    </div>
