{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="cart_container">
        <input class="personal_discount"
               type="hidden"
               data-personal-discount="{{ discount_client }}" />
        <div class="title_container">
            <div class="bread-crumbs">
                <a href={% url "core:index" %}>главная</a>
            </div>
            <h1>Заказ {{ order.id }}</h1>
        </div>
        <div class="cart_elems_container">
            {% if product|length > 0 %}
                <div class="products">
                    {% for product_item in product %}
                  
                        {{product_item.sale_price}}
                        {{product_item.full_price}}
                        {{product_item.price_all_item}}
                        {{total_full_price}}
                        {{product_item.bill_name}}
                        



                        <div class="product_item"
                             product-id="{{ product_item.product.id_product_cart }}"
                             order-multiplicity="{{ product_item.product.stock.order_multiplicity }}">
                            <div class="img-contaner">
                                {% for productimage in product_item.product.productimage_set.all %}
                                    {% if forloop.counter == 1 %}<img src="{{ productimage.photo.url }}" alt="">{% endif %}
                                {% empty %}
                                    <img src={% static "core/images/nophoto.png" %} alt="">
                                {% endfor %}
                            </div>
                            <div class="product_item_description_container">
                                <div class="product_item-description">
                                    <div class="name">{{ product_item.product.name }}</div>
                                    <div class="article">Артикул: {{ product_item.product.article }}</div>
                                    <div class="chars">
                                        {% if product_item.product.productproperty_set != 'product.ProductProperty.None' %}
                                            {% for productproperty in product_item.product.productproperty_set.all %}
                                                {% if forloop.counter < 4 %}
                                                    <div class="char">
                                                        <span>{{ productproperty.name }}:</span>
                                                        <span>{{ productproperty.value }}</span>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="one-prce-container">
                                    <div class="lot">{{ product_item.quantity }} {{ product_item.product.stock.lot.name_shorts }}</div>
                                    <div class="price_once">
                                        {% if product_item.product.price.rub_price_supplier %}
                                            <span> <span class="cart_price">{{ product_item.price_one }}</span> ₽</span>
                                            {% comment %} {% if discount_client %}
                                                <br />
                                                <span class="discount">розничная цена:
                                                    <span class="all_cart_no_sale_price">{{ product_item.price.rub_price_supplier }}</span> ₽ </span>
                                                {% else %}
                                                {% endif %}{% endcomment %}
                                        {% else %}
                                        <span>по запросу</span> 
                                        {% endif %}
                                        <input class="cart_price_one_no_sale"
                                               type="hidden"
                                               data-cart-one-no-sale="{{ product_item.price.rub_price_supplier }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
