{% extends "core/base.html" %}
{% load static %}
{% load number_into_digits %}
{% block content %}
    <div class="order_one_container">
        <input class="personal_discount"
               type="hidden"
               data-personal-discount="{{ discount_client }}" />
        <div class="title_container">
            <div class="bread-crumbs">
                <a href={% url "core:index" %}>главная</a>
            </div>
            <h1>Заказ {{ order.id }}</h1>
        </div>
        <div class="cart_elems_container">
            {% if product|length > 0 %}
                <div class="products">
                    {% for product_item in product %}
                        {% comment %} {{ product_item.sale_price }}
                        {{ product_item.full_price }}
                        {{ product_item.price_all_item }}
                        {{ total_full_price }}
                        {{ product_item.bill_name }} {% endcomment %}
                        <div class="product_item"
                             product-id="{{ product_item.product.id_product_cart }}"
                             order-multiplicity="{{ product_item.product.stock.order_multiplicity }}">
                            <div class="img-contaner">
                                {% for productimage in product_item.product.productimage_set.all %}
                                    {% if forloop.counter == 1 %}<img src="{{ productimage.photo.url }}" alt="">{% endif %}
                                {% empty %}
                                    <img src="{% static "core/images/nophoto1.png" %}" alt="img">
                                {% endfor %}
                            </div>
                            <div class="product_item_description_container">
                                <div class="product_item-description">
                                    <div class="name">
                                        {% if product_item.product.in_view_website %}
                                            <a href="{{ product_item.product.get_absolute_url }}">{{ product_item.product.name }}</a>
                                        {% else %}
                                            {{ product_item.product.name }}
                                        {% endif %}
                                    </div>
                                    <div class="article">Артикул: {{ product_item.product.article }}</div>
                                    <div class="chars">
                                        {% if product_item.product.productproperty_set != 'product.ProductProperty.None' %}
                                            {% for productproperty in product_item.product.productproperty_set.all %}
                                                {% if forloop.counter < 4 %}
                                                    <div class="char">
                                                        <span>{{ productproperty.name }}:</span>
                                                        <span>{{ productproperty.value }}</span>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="one-prce-container">
                                    <div class="lot">{{ product_item.product.stock.lot_complect }} {{ product_item.product.stock.lot.name_shorts }}</div>
                                    <div class="price_once">
                                        <span> <span class="cart_price">{{ product_item.sale_price|number_into_digits }}</span> ₽</span>
                                        <input class="cart_price_one_no_sale"
                                               type="hidden"
                                               data-cart-one-no-sale="{{ product_item.price.rub_price_supplier }}" />
                                    </div>
                                    {% if product_item.full_price > product_item.sale_price %}
                                        <div class="price_no_sale">
                                            <div>Розничная цена:</div>
                                            <span><span>{{ product_item.full_price|number_into_digits }}</span> ₽</span>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="total_price_container">
                                    <div class="lot">{{ product_item.quantity }} {{ product_item.product.stock.lot.name_shorts }}</div>
                                    <div class="price">{{ product_item.price_all_item|number_into_digits }}  ₽</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="total_sum_wrapper {% if is_final_price == False %}between{% endif %}">
                    {% if is_final_price == False %}
                        <div class="final_price_description">
                            <div>Обратите внимание!</div>
                            <div>Стоимость заказа не окончательная.</div>
                            <div>Часть товаров требуют уточнения стоимости.</div>
                        </div>
                    {% endif %}
                    <div class="total_sum_container">
                        <div class="total_sum_elem">
                            <div class="descr">Розничная цена</div>
                            <div class="price">{{ total_full_price.all_sum_full_price|number_into_digits }} ₽</div>
                        </div>
                        <div class="total_sum_elem">
                            <div class="descr">Ваша скидка</div>
                            <div class="price">{{ total_full_price.all_sum_sale|number_into_digits }} ₽</div>
                        </div>
                        <div class="total_sum_elem">
                            <div class="descr">Итого</div>
                            <div class="price">{{ total_full_price.all_sum_sale_price|number_into_digits }} ₽</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
