{% extends "core/base.html" %}
{% load static %}
{% load my_document_link %}
{% load my_order_link %}
{% block content %}
    <div class="lc-container">
        <div class="title-container">
            <div class="bread-crumbs">
                <a href={% url "core:index" %} class="bread-crumb-elem">Главная</a>
            </div>
            <h1 class="title">Личный Кабинет</h1>
        </div>
        <div class="navigation-and-sorting">
            <div class="navigation">
                {% my_order_link %}
                {% my_document_link %}
                {% url 'client:my_details' as my_details_url %}
                {% if request.get_full_path == my_details_url or type_url == "/my_details" %}
                    <span class="nav-elem active">мои реквизиты</span>
                {% else %}
                    <a href={% url "client:my_details" %} class="nav-elem">мои реквизиты</a>
                {% endif %}
                {% url 'client:my_contacts' as my_contacts_url %}
                {% if request.get_full_path == my_contacts_url or type_url == "/my_contacts" %}
                    <span class="nav-elem active">Персональные данные</span>
                {% else %}
                    <a href={% url "client:my_contacts" %} class="nav-elem">Персональные данные</a>
                {% endif %}
                    {% comment %} <a href={% url "client:user_logout" %} class="nav-elem logout-user">Выйти</a> {% endcomment %}
            </div>
            <div class="sort-container">
                {% if request.get_full_path == my_orders_url or type_url == "/my_orders" %}
                    <div class="sort-title">Сортировать по:</div>
                    <div class="sort-elem">
                        <span>дата заказа</span>
                        <div class="arrow">
                            <div class="arrow-elem-1"></div>
                            <div class="arrow-elem-2"></div>
                        </div>
                    </div>
                    <div class="sort-elem">
                        <span>сумма заказа</span>
                        <div class="arrow">
                            <div class="arrow-elem-1"></div>
                            <div class="arrow-elem-2"></div>
                        </div>
                    </div>
                    <div class="sort-elem">
                        <span>статус</span>
                        <div class="arrow">
                            <div class="arrow-elem-1"></div>
                            <div class="arrow-elem-2"></div>
                        </div>
                    </div>
                {% endif %}
                {% if request.get_full_path == my_documents_url or type_url == "/my_documents" %}
                    <div class="sort-title">Сортировать по:</div>
                    <div class="sort-elem">
                        <span>дата создания</span>
                        <div class="arrow">
                            <div class="arrow-elem-1"></div>
                            <div class="arrow-elem-2"></div>
                        </div>
                    </div>
                    <div class="sort-elem">
                        <span>тип документа</span>
                        <div class="arrow">
                            <div class="arrow-elem-1"></div>
                            <div class="arrow-elem-2"></div>
                        </div>
                    </div>
                    <div class="sort-elem">
                        <span>статус</span>
                        <div class="arrow">
                            <div class="arrow-elem-1"></div>
                            <div class="arrow-elem-2"></div>
                        </div>
                    </div>
                    <div class="sort-elem">
                        <span>юр.лицо</span>
                        <div class="arrow">
                            <div class="arrow-elem-1"></div>
                            <div class="arrow-elem-2"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% block personal_account_content %}
        {% endblock personal_account_content %}
    </div>
{% endblock content %}
