{% extends "client/lc.html" %}
{% load archive_tag %}

{% block personal_account_content %}
<div class="document_container">
    <div class="document_wrapper" document-elem="wrapper">
        {% comment %} <div class="loader">loading</div> {% endcomment %}
        <div class="site_document_container" document-elem="container">
            {% for document in document_list %}
                {% include "document/includes/document_item.html" with document=document %}
            {% endfor %}
        </div>
       
        <div class="end_content">
            <button class="add_more" document-elem="button">загрузить еще</button>
            
        </div>
    </div>

</div>


    <div class="personal_account_content">
        <h2>Документов пока нет</h2>
    </div>
{% endblock personal_account_content %}
