{% extends "client/lc.html" %}
{% block personal_account_content %}
    <div class="document_container">
        <div class="document_wrapper" document-elem="wrapper">
            <div class="document_filters">
                <div value="date" descr="ASC" class="document_filter">по дате</div>
                <div value="type" descr="ASC" class="document_filter">по типу</div>
                <div value="requisites_legal_entity" descr="ASC" class="document_filter">по юр.лицу</div>
                <div class="canсeled_btn">сбросить</div>
            </div>
            <div class="loader"></div>
            <div class="site_document_container" document-elem="container">
                {% for document in document_list %}
                    {% include "document/includes/document_item.html" with document=document %}
                {% endfor %}
            </div>
            <div class="small_loader"></div>
            <div class="end_content">
                <button class="add_more" catalog-elem="button">загрузить еще</button>
                <div class="pagination">
                    <div class="first">1</div>
                    <div class="dots first_dots">...</div>
                    <div class="elem"></div>
                    <div class="elem"></div>
                    <div class="elem"></div>
                    <div class="dots last_dots">...</div>
                    <div class="last">578</div>
                </div>
            </div>
        </div>
    </div>
{% endblock personal_account_content %}
