{% extends "client/lc.html" %}
{% block personal_account_content %}
    <div class="personal_account_content">
        <div class="details">
            <div class="legal_entitis">
                {% comment %} {% if details %} {% endcomment %}
                <div class="small_titles">
                    <div class="small_title">Юридическое лицо и договор</div>
                    <div class="small_title">ИНН</div>
                    <div class="small_title">КПП</div>
                    <div class="small_title">ОГРН</div>
                </div>
                <div class="container">
                    {% comment %} {% for detail in details %} {% endcomment %}
                    <div class="legal_entity_wrapper">
                        <div>
                            <div legal-entity-adress="{{ detail.id }}" class="legal_entity">
                                <div class="head_legal_entity_details">
                                    <div class="detail name_detail">
                                        <div class="detail">{{ detail.legal_entity }}</div>
                                        <div class="detail">Договор №{{ detail.contract }}</div>
                                    </div>
                                    <div class="detail">ИНН {{ detail.inn }}</div>
                                    <div class="detail">КПП {{ detail.kpp }}</div>
                                    <div class="detail">ОГРН {{ detail.ogrn }}</div>
                                    <button class="change_button">Изменить</button>
                                </div>
                                <div class="addresses">
                                    <div class="address">
                                        <div class="title">Юридический адрес</div>
                                        <div class="legal_adress_form">
                                            <label>
                                                <input value="{{ detail.legal_post_code }}"
                                                       class="current_legal_adress_index"
                                                       type="text"
                                                       placeholder="Индекс" />
                                                <div class="error current_legal_adress_index_error"></div>
                                            </label>
                                            <label>
                                                <input value="{{ detail.legal_city }}"
                                                       class="current_legal_adress_city"
                                                       type="text"
                                                       placeholder="Город" />
                                                <div class="error current_legal_adress_city_error"></div>
                                            </label>
                                            <label>
                                                <input value="{{ detail.legal_address }}"
                                                       class="current_legal_adress_adress"
                                                       type="text"
                                                       placeholder="Адрес" />
                                                <div class="error current_legal_adress_adress_error"></div>
                                            </label>
                                            <button class="change-legal-adress-button">Изменить</button>
                                        </div>
                                    </div>
                                    <div class="address">
                                        <div class="title">Почтовый адрес</div>
                                        <div class="post_adress_form">
                                            <label>
                                                <input value="{{ detail.postal_post_code }}"
                                                       class="current_post_adress_index"
                                                       type="text"
                                                       placeholder="Индекс" />
                                                <div class="error current_post_adress_index_error"></div>
                                            </label>
                                            <label>
                                                <input value="{{ detail.postal_city }}"
                                                       class="current_post_adress_city"
                                                       type="text"
                                                       placeholder="Город" />
                                                <div class="error current_post_adress_error"></div>
                                            </label>
                                            <label>
                                                <input value="{{ detail.postal_address }}"
                                                       class="current_post_adress_adress"
                                                       type="text"
                                                       placeholder="Адрес" />
                                                <div class="error current_post_adress_adress_error"></div>
                                            </label>
                                            <button class="change-post-adress-button">Изменить</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="bank-details-container">
                                    <div class="title">Расчётный счёт</div>
                                    <div class="bank-details">
                                        {% for bank_detail in detail.accountrequisites_set.all %}
                                            <div class="bank_detail">
                                                <label>
                                                    {% comment %} <span>Расчётный счёт {{ forloop.counter }}:</span> {% endcomment %}
                                                    <input value="{{ bank_detail.account_requisites }}"
                                                           class="bank_detail-current_account"
                                                           type="text"
                                                           placeholder="Расчётный счёт" />
                                                    <div class="error bank_detail-current_account_error"></div>
                                                </label>
                                                <label>
                                                    {% comment %} <span>Банк:</span> {% endcomment %}
                                                    <input value="{{ bank_detail.bank }}"
                                                           class="bank_detail-bank"
                                                           type="text"
                                                           placeholder="Банк" />
                                                    <div class="error bank_detail-bank_error"></div>
                                                </label>
                                                <label>
                                                    {% comment %} <span>Корреспондентский счёт:</span> {% endcomment %}
                                                    <input value="{{ bank_detail.kpp }}"
                                                           class="bank_detail-correspondent_account"
                                                           type="text"
                                                           placeholder="Корреспондентский счёт" />
                                                    <div class="error bank_detail-correspondent_account_error"></div>
                                                </label>
                                                <label>
                                                    {% comment %} <span>БИК:</span> {% endcomment %}
                                                    <input value="{{ bank_detail.bic }}"
                                                           class="bank_detail-bic"
                                                           type="text"
                                                           placeholder="БИК" />
                                                    <div class="error bank_detail-bic"></div>
                                                </label>
                                                <button class="bank-detail-button">Изменить</button>
                                            </div>
                                        {% endfor %}
                                        <div class="new_bank_detail">
                                            <label>
                                                <input class="bank_detail-current_account"
                                                       type="text"
                                                       placeholder="Расчётный счёт" />
                                                <div class="error bank_detail-current_account_error"></div>
                                            </label>
                                            <label>
                                                <input class="bank_detail-bank" type="text" placeholder="Банк" />
                                                <div class="error bank_detail-bank_error"></div>
                                            </label>
                                            <label>
                                                <input class="bank_detail-correspondent_account"
                                                       type="text"
                                                       placeholder="Корреспондентский счёт" />
                                                <div class="error bank_detail-correspondent_account"></div>
                                            </label>
                                            <label>
                                                <input class="bank_detail-bic" type="text" placeholder="БИК" />
                                                <div class="error bank_detail-bic"></div>
                                            </label>
                                            <button class="bank-detail-button">Добавить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %} {% endfor %} {% endcomment %}
                    {% comment %} {% for detail in details %}
                            <div class="legal_entity_wrapper">
                                <div>
                                    <div class="legal_entity">
                                        <div class="head_legal_entity_details">
                                            <div class="detail">{{ detail.name }}</div>
                                            <div class="detail">ИНН {{ detail.inn }}</div>
                                            <div class="detail">КПП {{ detail.kpp }}</div>
                                            <div class="detail">ОГРН {{ detail.ogrn }}</div>
                                            <div class="detail">Договор №{{ detail.contract }}</div>
                                            <button class="change_button">Редактировать</button>
                                        </div>
                                        <div class="addresses">
                                            <div class="address">
                                                <div class="title">Юридический адрес</div>
                                                <div class="legal_adress_form">
                                                    <label>
                                                        <span>Индекс</span>
                                                        <input value={{ detail.legal_post_code }} class="current_legal_adress_index" type="text" />
                                                        <div class="error current_legal_adress_index_error"></div>
                                                    </label>
                                                    <label>
                                                        <span>Город</span>
                                                        <input value={{ detail.legal_city }} class="current_legal_adress_city" type="text" />
                                                        <div class="error current_legal_adress_city_error"></div>
                                                    </label>
                                                    <label>
                                                        <span>Адрес</span>
                                                        <input value="{{ detail.legal_address }}" class="current_legal_adress_adress" type="text" />
                                                        <div class="error current_legal_adress_adress_error"></div>
                                                    </label>
                                                    <button class="change-legal-adress-button">Изменить</button>
                                                </div>
                                            </div>
                                            <div class="address">
                                                <div class="title">Почтовый адрес</div>
                                                <div class="post_adress_form">
                                                    <label>
                                                        <span>Индекс</span>
                                                        <input value={{ detail.postal_post_code }} class="current_post_adress_index" type="text" />
                                                        <div class="error current_post_adress_index_error"></div>
                                                    </label>
                                                    <label>
                                                        <span>Город</span>
                                                        <input value={{ detail.postal_city }} class="current_post_adress_city" type="text" />
                                                        <div class="error current_post_adress_error"></div>
                                                    </label>
                                                    <label>
                                                        <span>Адрес</span>
                                                        <input value="{{ detail.postal_address }}" class="current_post_adress_adress" type="text" />
                                                        <div class="error current_post_adress_adress_error"></div>
                                                    </label>
                                                    <button class="change-post-adress-button">Изменить</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bank-details-container">
                                            <div class="title">Расчётный счёт</div>
                                            <div class="bank-details">
                                                {% for bank_detail in detail.bank_details %}
                                                    <div bank-details-id="{{ bank_detail.id }}" class="bank_detail">
                                                        <label>
                                                            <span>Расчётный счёт {{ forloop.counter }}:</span>
                                                            <input value="{{ bank_detail.account_requisites }}" class="bank_detail-current_account" type="text" />
                                                            <div class="error bank_detail-current_account_error"></div>
                                                        </label>
                                                        <label>
                                                            <span>Банк:</span>
                                                            <input value="{{ bank_detail.bank }}" class="bank_detail-bank" type="text" />
                                                            <div class="error bank_detail-bank_error"></div>
                                                        </label>
                                                        <label>
                                                            <span>Корреспондентский счёт:</span>
                                                            <input value="{{ bank_detail.kpp }}" class="bank_detail-correspondent_account" type="text" />
                                                            <div class="error bank_detail-correspondent_account_error"></div>
                                                        </label>
                                                        <label>
                                                            <span>БИК:</span>
                                                            <input value="{{ bank_detail.bic }}" class="bank_detail-bic" type="text" />
                                                            <div class="error bank_detail-bic_error"></div>
                                                        </label>
                                                        <button class="bank-detail-button">Изменить</button>
                                                    </div>
                                                {% endfor %}
                                                <div class="new_bank_detail">
                                                    <label>
                                                        <span>Расчётный счёт <span class="new_bank_detail_counter"></span>:</span>
                                                        <input class="bank_detail-current_account" type="text" />
                                                        <div class="error bank_detail-current_account_error"></div>
                                                    </label>
                                                    <label>
                                                        <span>Банк:</span>
                                                        <input class="bank_detail-bank" type="text" />
                                                        <div class="error bank_detail-bank_error"></div>
                                                    </label>
                                                    <label>
                                                        <span>Корреспондентский счёт:</span>
                                                        <input class="bank_detail-correspondent_account" type="text" />
                                                        <div class="error bank_detail-correspondent_account"></div>
                                                    </label>
                                                    <label>
                                                        <span>БИК:</span>
                                                        <input class="bank_detail-bic" type="text" />
                                                        <div class="error bank_detail-bic"></div>
                                                    </label>
                                                    <button class="bank-detail-button">Добавить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %} {% endcomment %}
                </div>
                {% comment %} {% endif %} {% endcomment %}
            </div>
            <div class="new_legal_entity_wrapper">
                <div>
                    <div class="new_legal_entity">
                        <form class="legal_entity_form">
                            <div class="head_details">
                                <label>
                                    <input class="name" type="text" placeholder="Наименование юрлица" />
                                    <div class="error new_legal_entity_name_error"></div>
                                </label>
                                <label>
                                    <input class="inn" type="text" placeholder="ИНН" />
                                    <div class="error new_legal_entity_inn_error"></div>
                                </label>
                                <label>
                                    <input class="kpp" type="text" placeholder="КПП" />
                                    <div class="error new_legal_entity_kpp_error"></div>
                                </label>
                                <label>
                                    <input class="ogrn" type="text" placeholder="ОГРН" />
                                    <div class="error new_legal_entity_ogrn_error"></div>
                                </label>
                                <label>
                                    <input class="contract" type="text" placeholder="Договор" />
                                    <div class="error new_legal_entity_contract_error"></div>
                                </label>
                            </div>
                            <div class="address legal_address_container">
                                <div class="title">Юридический адрес</div>
                                <div class="labels">
                                    <label>
                                        <input class="legal-adress-index" type="text" placeholder="Индекс" />
                                        <div class="error new_legal_entity_legal_adress_index_error"></div>
                                    </label>
                                    <label>
                                        <input class="legal-adress-city" type="text" placeholder="Город" />
                                        <div class="error new_legal_entity_legal_adress_city_error"></div>
                                    </label>
                                    <label>
                                        <input class="legal-adress-adress" type="text" placeholder="Адрес" />
                                        <div class="error new_legal_entity_legal_adress_adress_error"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="address post_address_container">
                                <div class="title">Почтовый адрес</div>
                                <div class="labels">
                                    <label>
                                        <input class="post-adress-index" type="text" placeholder="Индекс" />
                                        <div class="error new_legal_entity_post_adress_index_error"></div>
                                    </label>
                                    <label>
                                        <input class="post-adress-city" type="text" placeholder="Город" />
                                        <div class="error new_legal_entity_post_adress_city_error"></div>
                                    </label>
                                    <label>
                                        <input class="post-adress-adress" type="text" placeholder="Адрес" />
                                        <div class="error new_legal_entity_post_adress_adress_error"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="bank-details-container">
                                <div class="title">Расчетный счет</div>
                                <div class="labels">
                                    <label>
                                        <input class="bank-details-input-current-account"
                                               type="text"
                                               placeholder="Расчетный счет" />
                                        <div class="error new_legal_entity_bank_current_account_error"></div>
                                    </label>
                                    <label>
                                        <input class="bank-details-input-bank" type="text" placeholder="Банк" />
                                        <div class="error new_legal_entity_bank_error"></div>
                                    </label>
                                    <label>
                                        <input class="bank-details-input-correspondent-account"
                                               type="text"
                                               placeholder="Корреспондентский счёт">
                                        <div class="error new_legal_entity_bank_correspondent_account_error"></div>
                                    </label>
                                    <label>
                                        <input class="bank-details-input-bik" type="text" placeholder="БИК" />
                                        <div class="error new_legal_entity_bank_bik_error"></div>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="save_legal_entity">Сохранить реквизиты</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="add_legal_entity">добавить юридическое лицо</div>
        </div>
    </div>
{% endblock personal_account_content %}
