<div class="project_item"
     project-id="{{ id }}"
     project-elem="project-item">
        <a class="title_link" href="{{ url }}">
                {{ category_name }}.
                {% if projectclientcategoryprojectmarking_set|length > 0 %}
                        {% for marking_categ in projectclientcategoryprojectmarking_set %}
                                {{ marking_categ.category_name }}{% if loop.last %}:{% else %},{% endif %}
                        {% endfor %}
                {% endif %}
                {{ name }}
        </a>
        <div class="project_description_content">
                <div class="category_content">
                        {% for client_category in projectclientcategoryproject_set %}
                                <div class="{% if client_category.category_check %}check{% endif %} category_elem">
                                        {{ client_category.client_category_name }}
                                </div>
                        {% endfor %}
                </div>
                {{ category_project_marking_get }}
                <div class="place_content">
                        <div>{{ place_object }}</div>
                        <div>{{ data_project }}</div>
                </div>
        </div>
</div>
