{% load static %}
{% load number_into_digits %}

<div class="item_container added_item_container"
        data-vendor="{{ item.vendor.id }}"
        data-product-pk=""
        data-product-name-new="{{ item.product_new }}"
        data-product-id-cart="{{ item.id }}"
        data-product-article-new="{{ item.product_new_article }}"
        data-id="{{ item.id }}"
        data-price="{{ item.product_new_price }}"
        data-price-exclusive="1"
        data-product-specification-id="">
    <div title="Удалить элемент" class="item_conainer-delete_btn">+</div>
    <div class="change_icon_container">
        <img src="{% static "core/images/changeIcon.svg" %}" alt="icon" />
    </div>
    <div class="item_value">
        {{ item.product_new }}
        <br>
        <div class="article">Арт. {{ item.product_new_article }}</div>
        <br>
        <textarea style="width: 200px;
                            height: 15px;
                            border-radius: 5px"
                    class="comment-input"
                    name="comment-input-name"
                    placeholder="Комментарий">{% if item.comment %}{{ item.comment }}{% endif %}</textarea>
    </div>
    <div class="item_value"></div>
    {% if item.price.rub_price_supplier == 0 %}
        <div class="item_value input_quantity quantity">
            <div class="input-container">
                <button class="minus-button">-</button>
                <input class="input-quantity" type="text" value={{ item.quantity }} oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="5" onkeypress='validate(event)'>
                <button class="plus-button">+</button>
            </div>
        </div>
        <div class="item_value">
            <input class="price-input"
                    name="price-input-extra"
                    type="text"
                    placeholder="Введите цену по запросу"
                    maxlength="10" />
            <label for="price-input-extra">
                {% if item.product_price_extra_old %}{{ item.data_old }} - {{ item.product_price_extra_old }}{% endif %}
            </label>
        </div>
        <div class="item_value input_totla-cost total_cost price">0</div>
    {% else %}
        <div class="item_value price price_once">{{ item.product_new_price }}</div>
        <div class="item_value quantity">
            <div class="input-container">
                <button class="minus-button">-</button>
                <input class="input-quantity" type="text" value={{ item.quantity }} oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="5" onkeypress='validate(event)'>
                <button class="plus-button">+</button>
            </div>
        </div>
        <div class="item_value total_cost price"></div>
    {% endif %}
    <div class="item_value">
        <div price-motrum="{% if item.price_motrum == 0 or item.price_motrum == None %}0{% else %}{{ item.price_motrum }}{% endif %}"
                class="price_motrum">
            {% if item.price_motrum == 0 or item.price_motrum == None %}
                0
            {% else %}
                {{ item.price_motrum }}
            {% endif %}
        </div>
        <div class="">
            {% if item.product_new_sale_motrum %}
                скидка <span class="motrum_sale_persent">{{ item.product_new_sale_motrum }}</span>%
            {% else %}
            {% endif %}
        </div>
    </div>
    
    <div class="item_value">
        <input class="discount-input"
                type="text"
                name="price-input-discount"
                placeholder="% скидки"
                maxlength="6"
                value="{% if item.old_extra_discount %}{{ item.old_extra_discount }}{% endif %}{% if item.sale_client %}{{item.sale_client}}{% endif %}" />
        <label for="price-input-discount">
            %
            <br>
            {% if item.old_extra_discount %}
                {{ item.old_extra_discount }}%
            {% endif %}
        </label>
    </div>
    <div class="item_value">
        <span class="marginality">0</span> ₽ /
        <br>
        <span class="marginality-persent">0</span> %
    </div>
    <div class="item_value">
        <label>
            {% if bill_upd %}
                <input placeholder="Укажите срок поставки"
                        class="invoice-data-input"
                        type="text"
                        value="{% if item.id_product_spesif %}{{ item.text_delivery }}{% endif %}">
            {% else %}
                <input class="delivery_date" type="date" name="calendar" min={{ current_date }}>
            {% endif %}
            {% comment %} <input class="delivery_date" type="date" name="calendar" min={{ current_date }}> {% endcomment %}
        </label>
    </div>
    <div class="change_item_container_wrapper">

        <div class="change_item_container">
            <div class="change_item_container_value">
                <label class="name_label">
                    <input placeholder="Имя товара"
                            class="new_item_container_name_input"
                            type="text"
                            value="{{ item.product_new }}" />
                    <div class="error"></div>
                </label>
                <label class="article_label">
                    <input placeholder="Артикул товара"
                            class="new_item_container_article_input"
                            type="text"
                            value="{{ item.product_new_article }}" />
                    <div class="error"></div>
                </label>
                <label class="vedor_label">
                    <select class="vendor_select" value="">
                        <option value="" disabled selected>Выберете производителя</option>
                        {% for vendor_item in vendor %}
                            <option value="{{ vendor_item.id }}"
                                    {% if vendor_item.id == item.vendor.id %}selected{% endif %}>
                                {{ vendor_item.name }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="change_item_container_value">
                <label class="price_once_label">
                    <input placeholder="цена за 1шт"
                            type="text"
                            class="price_input"
                            value="{{ item.product_new_price }}" />
                    <div class="error"></div>
                </label>
            </div>
            <div class="change_item_container_value">
                <label class="quantity_label">
                    <input placeholder="Количество"
                            type="text"
                            class="quantity_input"
                            value="{{ item.quantity }}" />
                    <div class="error"></div>
                </label>
            </div>
            <div class="change_item_container_value">
                <div class="change_item_container_value_total_cost">0</div>
            </div>
            <div class="change_item_container_value">
                <div class="change_item_container_value_motrum_price">0</div>
                <div>
                    Cкидка
                    <input class="persent_sale"
                            type="text"
                            placeholder="%"
                            value="{% if item.product_new_sale_motrum %}{{ item.product_new_sale_motrum }}{% endif %}" />
                    %
                </div>
            </div>
            <div class="add_change_item_in_cart_container">
                <button class="add_new_item_in_cart">Изменить</button>
                <div class="add_new_item_in_cart_container_error"></div>
            </div>
            <div class="close-btn">+</div>
        </div>
    </div>
</div>