{% load static %}
{% load number_into_digits %}
<div class="item_container data-base-product-container"
     data-vendor=""
     data-product-name-new=""
     data-product-id-cart="{{ item.id_product_cart }}"
     data-product-pk="{{ item.pk }}"
     data-id="{{ item.id_product_cart }}"
     data-price=" {% if item.price_cart %} {{ item.price_cart }} {% else %} {% if item.id_product_spesif %} {{ item.old_price_one_full }} {% else %} 0 {% endif %} {% endif %}{% comment %} {% if bill_upd and item.id_product_spesif %} {{ item.old_price_one_full }} {% else %} {% if item.price.rub_price_supplier %} {{ item.price.rub_price_supplier }} {% else %} 0 {% endif %} {% endif %} {% endcomment %}"
     data-price-exclusive="{% if item.price == "0" or item.price == "0.0" or item.price.extra_price == True %}1{% else %}0{% endif %}"
     data-product-specification-id="{{ item.id_product_spesif }}"
     data-multiplicity="{% if item.stock.is_one_sale %}1{% else %}{{ item.stock.order_multiplicity }}{% endif %}">
    <div title="Удалить элемент" class="item_conainer-delete_btn">+</div>
    <div title="Редактировать элемент" class="change_icon_container">
        <img src="{% static "core/images/changeIcon.svg" %}" alt="icon" />
    </div>
    <div title="Cохранить элемент" class="save_icon_container">
        <img src="{% static "core/images/save-okt-icon.png" %}" alt="icon"/>
    </div>
    <div class="item_value">
        {{ item.name }}
        <br>
        <div class="article">Арт. {{ item.article_supplier }}</div>
        <br>
        <textarea style="width: 200px;
                         height: 15px;
                         border-radius: 5px"
                  class="comment-input"
                  name="comment-input-name"
                  placeholder="Комментарий">{% if item.comment %}{{ item.comment }}{% endif %}</textarea>
    </div>
    <div class="item_value">
        {% if item.stock %}
            <div class="stock_item">
                {% if item.stock.to_order %}
                    Поставщик:
                    <br>
                    Под заказ
                {% else %}
                    {% if item.stock.stock_supplier != None %}
                        Поставщик: <span class="supplier_unit">{{ item.stock.stock_supplier_unit }}</span> шт
                    {% else %}
                        Поставщик: -
                    {% endif %}
                {% endif %}
            </div>
            <div class="stock_item">
                Motrum: <span class="motrum_unit">{{ item.stock.stock_motrum }}</span>
                {% if item.stock.stock_motrum_reserve %}
                    Motrum резерв: <span class="motrum_unit_reserve">{{ item.stock.stock_motrum_reserve }}</span>
                {% endif %}
            </div>
            {% if item.stock.stock_supplier != None %}
                <span class="span-transit">{{ item.stock.data_update|date:"d.m.Y" }}</span>
                <br>
                <span class="span-transit">
                    {% if item.stock.transit_count %}
                        Ближайшая поставка: {{ item.stock.data_transit|date:"d.m.Y" }} - {{ item.stock.transit_count }} шт.
                    {% endif %}
                </span>
            {% endif %}
        {% else %}
            {% if item.stock.to_order %}Под заказ{% endif %}
            Неизвестно
        {% endif %}
    </div>
    {% if item.price_cart  == 0 or item.price_cart  == None or item.is_prise is None %}
        {% comment %} {% if item.price.rub_price_supplier == 0 or item.price.rub_price_supplier == None or item.is_prise is None %} {% endcomment %}
        <div class="item_value">
            <input class="price-input"
                   name="price-input-extra"
                   type="text"
                   placeholder="Введите цену по запросу"
                   maxlength="10"
                   value="{% if bill_upd and item.id_product_spesif %}{{ item.old_price_one }}{% else %}{% endif %}" />
            <label for="price-input-extra">
                <br>
                {% if item.old_price_one_full %}{{ item.old_date }} - {{ item.old_price_one_full }}{% endif %}
            </label>
        </div>
        <div class="item_value input_quantity quantity">
            <div class="input-container">
                <button class="minus-button">-</button>
                <input class="input-quantity"
                       type="text"
                       value="{{ item.quantity }}"
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       maxlength="5"
                       onkeypress='validate(event)'>
                <button class="plus-button">+</button>
            </div>
        </div>
        <div class="item_value input_totla-cost total_cost price">0</div>
    {% else %}
        <div class="item_value">
            <span class="price price_once">{{ item.price_cart }}</span>
            <input class="change_input_price" value="{{ item.price_cart }}" />
            {% if item.price_cart != item.actual_price %}
                {% if item.actual_price %}
                    <span style="color: #ff5b00; display:block;">цена товара в ОКТ: <span class="price">{{ item.actual_price|number_into_digits }}</span> ₽</span>
                {% else %}
                    <span style="color: #ff5b00; display:block;">цена по запросу</span>
                {% endif %}
            {% endif %}
        </div>
        {% comment %} {% if bill_upd and item.id_product_spesif %}
            <div class="item_value price price_once">{{ item.old_price_one_full }}</div>
            <input class="change_input_price" value="{{ item.old_price_one_full }}" />
        {% else %}
            <div class="item_value price price_once">{{ item.price.rub_price_supplier }}</div>
            <input class="change_input_price" value="{{ item.price.rub_price_supplier }}" />
        {% endif %} {% endcomment %}
        <div class="item_value quantity">
            <div class="input-container">
                <button class="minus-button">-</button>
                <input class="input-quantity"
                       type="text"
                       value="{{ item.quantity }}"
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       maxlength="5"
                       onkeypress='validate(event)'>
                <button class="plus-button">+</button>
            </div>
        </div>
        <div class="item_value total_cost price"></div>
    {% endif %}
    <div class="item_value">
        <div class="price_motrum"
             price-motrum=" {% if item.price_motrum %} {{ item.price_motrum }} {% else %} 0 {% endif %} {% comment %} {% if item.price.price_motrum == 0 or item.price.price_motrum == None %} 0 {% else %} {% if bill_upd and item.id_product_spesif %} {{ item.old_price_one_motrum }} {% else %} {{ item.price.price_motrum }} {% endif %} {% endif %} {% endcomment %} ">
            {% if item.price_motrum %}
                {{ item.price_motrum }}
            {% else %}
                0
            {% endif %}
            {% comment %} {% if item.price.price_motrum == 0 or item.price.price_motrum == None or item.is_prise is None %}
                0
            {% else %}
                {% if bill_upd and item.id_product_spesif %}
                    {{ item.old_price_one_motrum }}
                {% else %}
                    {{ item.price.price_motrum }}
                {% endif %}
            {% endif %} {% endcomment %}
        </div>
        <div class="">
            {% if item.sale_motrum %}
                скидка <span class="motrum_sale_persent">{{ item.sale_motrum }}</span>
                <input class="change-input-sale-percent-motrum"
                       value="{{ item.sale_motrum }}" />
                %
                {% comment %} <span class="change-motrum-sale-percent-without-sale">
                скидка <input class="change-input-sale-percent-motrum" value="0" />%
                </span> {% endcomment %}
            {% endif %}
            <span class="change-motrum-sale-percent-without-sale">
                скидка
                <input class="change-input-sale-percent-motrum" value="0" />
                %
            </span>
        </div>
        <div class="">
            {% if item.sale_motrum != item.price.sale.percent %}
                <span style=" color: red; "> cкидка в OKT:
                    {% if item.price.sale %}
                        {{ item.price.sale.percent }} %
                    {% else %}
                        Нет
                    {% endif %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="item_value">
        <input class="discount-input"
               type="text"
               name="price-input-discount"
               placeholder="% скидки"
               maxlength="6"
               value="{% if bill_upd and item.id_product_spesif %}{% if item.old_extra_discount %}{{ item.old_extra_discount }}{% endif %}{% else %}{% if item.sale_client %}{{ item.sale_client }}{% endif %}{% endif %}" />
        <label for="price-input-discount">
            %
            <br>
            {% if item.old_extra_discount %}
                {{ item.old_extra_discount }}%
            {% endif %}
        </label>
    </div>
    <div class="item_value">
        <span class="marginality">0</span> ₽ /
        <br>
        <span class="marginality-persent">0</span> %
    </div>
    <div class="item_value">
        <label>
            {% if bill_upd %}
                <input placeholder="Укажите срок поставки"
                       {% if item.date_delivery_bill %}disabled{% endif %}
                       class="invoice-data-input"
                       type="text"
                       value="{% if item.id_product_spesif %}{% if item.date_delivery_bill %}{{ item.date_delivery_bill|date:"d.m.Y" }}{% else %}{{ item.text_delivery }}{% endif %}{% endif %}">
            {% else %}
                <input class="delivery_date"
                       type="date"
                       name="calendar"
                       min="{{ current_date }}">
                {% if item.date_delivery %}
                    <br>
                    <span class="">{{ item.date_delivery }}</span>
                {% endif %}
            {% endif %}
            {% comment %} <input class="delivery_date" type="date" name="calendar" min={{ current_date }}> {% endcomment %}
        </label>
    </div>
</div>
