{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!--css инклудить в общий -->
        {% include "core/includes/stylesheets.html" %}

        <title>{{ title }}</title>
    </head>
    <body>
        <input id="user_id" type="hidden" data-user-id="{% if request.user.is_staff %}{{ request.user.id }}{% endif %}"></input>
        <input id="client_id" type="hidden" data-user-id="{% if request.user.is_staff == False %}{{ request.user.id }}{% endif %}"></input>


        {% block content %}
        {% endblock content %}

       <!--разбивать js на отдельные фаилы по задачам и инклудить в общий -->
        {% include "core/includes/scripts.html" %}

   
    </body>
</html>
