{% load static %}
{% load header_menu_counter %}
{% load header_menu_url %}
{% url 'core:index' as index_url %}
<header class="header">
  <div class="logo-container">
    {% if request.get_full_path == index_url %}
      <img src={% static "core/images/logo.png" %} alt="logo" />
    {% else %}
      <a class="navbar_menu_item_link" href="/">
        <img src={% static "core/images/logo.png" %} alt="logo" />
      </a>
    {% endif %}
  </div>
  <div class="fixed-logo-container">
    {% if request.get_full_path == index_url %}
      <img src={% static "core/images/fixed-menu-logo.png" %} alt="logo" />
    {% else %}
      <a class="navbar_menu_item_link" href="/">
        <img src={% static "core/images/fixed-menu-logo.png" %} alt="logo" />
      </a>
    {% endif %}
  </div>
  <div class="user-navigation">
    <div class="navigation">
      <!-- ЭТОТ ТЕГ НАДО ВЗЯТЬ В UL  -->
      {% header_menu_url %}
    </div>
    <div class="cart-elems">{% header_menu_counter %}</div>
  </div>
</header>
