{% load static %}
{% load header_menu_counter %}
{% load header_menu_url %}
{% url 'core:index' as index_url %}
<header class="header">
  <div class="logo-container">
    {% if request.get_full_path == index_url %}
      <img src={% static "core/images/logo.png" %} alt="logo" />
    {% else %}
      <a class="navbar_menu_item_link" href="/">
        <img src={% static "core/images/logo.png" %} alt="logo" />
      </a>
    {% endif %}
  </div>
  <div class="fixed-logo-container">
    {% if request.get_full_path == index_url %}
      <img src={% static "core/images/fixed-menu-logo.png" %} alt="logo" />
    {% else %}
      <a class="navbar_menu_item_link" href="/">
        <img src={% static "core/images/fixed-menu-logo.png" %} alt="logo" />
      </a>
    {% endif %}
  </div>
  <div class="user-navigation">
    <div class="navigation">{% header_menu_url %}</div>
    <div class="cart-elems">{% header_menu_counter %}</div>
  </div>
  <svg class="burger_menu_nav" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.063rem" height="1rem">
    <path fill-rule="evenodd"  fill="rgb(0, 0, 20)" d="M-0.000,-0.000 L17.000,-0.000 L17.000,2.000 L-0.000,2.000 L-0.000,-0.000 Z"/>
    <path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M-0.000,7.000 L17.000,7.000 L17.000,9.000 L-0.000,9.000 L-0.000,7.000 Z"/>
    <path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M-0.000,14.000 L17.000,14.000 L17.000,16.000 L-0.000,16.000 L-0.000,14.000 Z"/>
  </svg>
</header>
