{% url 'product:catalog' as catalog_url %}
{% url 'core:solutions' as solutions_url %}
{% url 'project:projects' as projects_url %}
{% url 'core:about' as company_url %}
{% url 'core:contact' as contact_url %}
<li class="nav-elem">
  {% if namespace == 'product' %}
    <div class="disabled-link">
      <span class="navbar_menu_item_text active">Товары</span>
      <div class="circle"></div>
    </div>
  {% else %}
    <a class="navbar_menu_item_link" href="{{ catalog_url }}">Товары</a>
  {% endif %}
</li>
<li class="nav-elem">
  {% if view_name == 'core:solutions' %}
    <div class="disabled-link">
      <span class="navbar_menu_item_text active">Решения</span>
      <div class="circle"></div>
    </div>
  {% else %}
    <a class="navbar_menu_item_link" href="{{ solutions_url }}">Решения</a>
  {% endif %}
</li>
<li class="nav-elem">
  {% if view_name == 'project:projects' %}
    <div class="disabled-link">
      <span class="navbar_menu_item_text active">Реализованные проекты</span>
      <div class="circle"></div>
    </div>
  {% else %}
    <a class="navbar_menu_item_link" href="{{ projects_url }}">Реализованные проекты</a>
  {% endif %}
</li>
<li class="nav-elem">
  {% if view_name == 'core:about' or view_name == 'core:about_company' or view_name == 'core:vacancy' %}
    <div class="disabled-link">
      <span class="navbar_menu_item_text active">Компания</span>
      <div class="circle"></div>
    </div>
  {% else %}
    <a class="navbar_menu_item_link" href="{{ company_url }}">Компания</a>
  {% endif %}
</li>
<li class="nav-elem">
  {% if view_name == 'core:contact' %}
    <div class="disabled-link">
      <span class="navbar_menu_item_text active">Контакты</span>
      <div class="circle"></div>
    </div>
  {% else %}
    <a class="navbar_menu_item_link" href="{{ contact_url }}">Контакты</a>
  {% endif %}
</li>
{% comment %} <div class="nav-elem">Товары</div>
<div class="nav-elem">Решения</div>
<div class="nav-elem">Реализованные проекты</div>
<div class="nav-elem">Компания</div>
<div class="nav-elem">Контакты</div> {% endcomment %}
