

{% if request.user.username and request.user.is_staff == False %}
    <a href={% url 'client:my_orders' %} class="cart-elem">
        Заказы <span class="">
        {% if notifications_order %}{{ notifications_order }}{% endif %}
    </span>
    </a>
    <a href={% url "core:cart" %} class="cart-elem">
        Корзина <span class="global_cart_count">
        {% if count_cart %}{{ count_cart }}{% endif %}
    </span>
    </a>
    <a href={% url 'client:my_orders' %} class="cart-elem">
        Л.К <span class="">
        {% if count_notifications_all %}{{ count_notifications_all }}{% endif %}
    </span>
    </a>
    {% elif request.user.is_staff  %}  
    <div class="cart-elem enter-in-site">вход</div>
    {% else %}
    <a href={% url "core:cart" %} class="cart-elem">
        Корзина <span class="global_cart_count">
        {% if count_cart %}{{ count_cart }}{% endif %}
    </span>
    </a>
    <div class="cart-elem enter-in-site">вход</div>
{% endif %}

    {% comment %} {% if request.user.username and request.user.is_staff == False %}
        {% order_link %}
        {% cart_link %}
        {% lk_link %}
    {% elif request.user.is_staff  %}    
        <div class="cart-elem enter-in-site">вход</div>
    {% else %}
        {% cart_link %}
        <div class="cart-elem enter-in-site">вход</div>
    {% endif %} {% endcomment %}
