{% url 'product:catalog' as catalog_url %}
{% url 'core:solutions' as solutions_url %}
{% url 'project:projects' as projects_url %}
{% url 'core:about' as company_url %}
{% url 'core:contact' as contact_url %}
<li class="nav-elem">
  {% if namespace == 'product' %}
    <div class="disabled-link">
      <span class="navbar_menu_item_text active">Товары</span>
      <div class="circle"></div>
    </div>
  {% else %}
    <a class="navbar_menu_item_link" href="{{ catalog_url }}">
      <span>Товары</span>
      <div class="circle"></div>
    </a>
  {% endif %}
</li>
<li class="nav-elem">
  {% if view_name == 'core:solutions' %}
    <div class="disabled-link">
      <span class="navbar_menu_item_text active">Решения</span>
      <div class="circle"></div>
    </div>
  {% else %}
    <a class="navbar_menu_item_link" href="{{ solutions_url }}">
      <span>Решения</span>
      <div class="circle"></div>
    </a>
  {% endif %}
</li>
<li class="nav-elem">
  {% if view_name == 'project:projects' %}
    <div class="disabled-link">
      <span class="navbar_menu_item_text active">Реализованные проекты</span>
      <div class="circle small_circle"></div>
    </div>
  {% else %}
    <a class="navbar_menu_item_link" href="{{ projects_url }}">
      <span>Реализованные проекты</span>
      <div class="circle small_circle"></div>
    </a>
  {% endif %}
</li>
<li class="nav-elem company-nav-elem {% if view_name == 'core:vacancy:vacancy' %}gap{% endif %}">
  {% if view_name == 'core:about' or view_name == 'core:about_company' or view_name == 'core:vacancy:vacancy' %}
    <div class="disabled-link">
      <span class="navbar_menu_item_text active">Компания</span>
      <div class="circle"></div>
    </div>
    {% if view_name == 'core:vacancy:vacancy' %}
      <div class="disabled-link vacancy_link">
        <span class="navbar_menu_item_text active">Карьера</span>
        <div class="circle"></div>
      </div>
    {% else %}
      <a href="{% url "core:vacancy_web:vacancy" %}" class="vacancy_link">
        <span>Карьера</span>
        <div class="circle"></div>
      </a>
    {% endif %}
  {% else %}
    <a class="navbar_menu_item_link" href="{{ company_url }}">
      <span>Компания</span>
      <div class="circle"></div>
    </a>
    <a href="{% url "core:vacancy_web:vacancy" %}" class="vacancy_link">
      <span>Карьера</span>
      <div class="vacancy_circle"></div>
    </a>
  {% endif %}
</li>
<li class="nav-elem">
  {% if view_name == 'core:contact' %}
    <div class="disabled-link">
      <span class="navbar_menu_item_text active">Контакты</span>
      <div class="circle"></div>
    </div>
  {% else %}
    <a class="navbar_menu_item_link" href="{{ contact_url }}">
      <span>Контакты</span>
      <div class="circle"></div>
    </a>
  {% endif %}
</li>
