.lc-container {
  margin: 1.625rem 3.125rem 0 3.125rem;
  .title-container {
    display: flex;
    flex-direction: column;
    // gap: 0.5rem;
    .bread-crumbs {
      margin-bottom: 0;
      .bread-crumb-elem {
        font-size: 0.938rem;
        text-transform: lowercase;
        font-weight: 300;
        color: #000;
      }
    }
    .title {
      margin: 0;
      padding: 0;
      font-size: 3rem;
      font-weight: 700;
    }
  }
  .navigation-and-sorting {
    margin-top: 1.313rem;
    display: flex;
    justify-content: space-between;
    .navigation {
      display: flex;
      gap: 1rem;
      margin-bottom: 3.375rem;
      .nav-elem {
        font-size: 1.125rem;
        font-weight: 300;
        color: #000;
        text-transform: lowercase;
        text-decoration: none;
        border: 0.094rem solid black;
        padding: 0.938rem 2.813rem 0.938rem 1.813rem;
        box-sizing: border-box;
        height: 3.563rem;
        border-radius: 2rem;
        position: relative;
        &.active {
          font-weight: bold;
        }
        .global_cart_count {
          position: absolute;
          top: 0.563rem;
          right: 1.5rem;
          width: 1.25rem;
          height: 1.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.75rem;
          font-weight: 700;
          color: #fff;
          background-color: #95bad4;
          border-radius: 100%;
        }
      }
    }
    .sort-container {
      display: flex;
      gap: 1.875rem;
      font-size: 0.938rem;
      .sort-elem {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        .arrow {
          position: relative;
          width: 0.688rem;
          height: 0.361rem;
          display: flex;
          gap: 0.23rem;
          .arrow-elem-1 {
            width: 0.102rem;
            height: 0.453rem;
            border-radius: 0.125rem;
            transform: rotate(-45deg);
            background-color: #000;
          }
          .arrow-elem-2 {
            width: 0.102rem;
            height: 0.453rem;
            border-radius: 0.125rem;
            transform: rotate(45deg);
            background-color: #000;
          }
        }
      }
    }
  }
  .document_container {
    .document_wrapper {
      .loader {
        overflow: hidden;
        font-size: 0.625rem;
        margin: 0.0125rem auto;
        text-indent: -9999em;
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
        background: #65abf8;
        background: linear-gradient(
          to right,
          #bdbdbd 10%,
          rgba(101, 171, 248, 0) 42%
        );
        position: relative;
        -webkit-animation: load3 1.4s infinite linear;
        animation: load3 1.4s infinite linear;
        transform: translateZ(0);
        &.remove {
          display: none;
        }
        &:before {
          width: 50%;
          height: 50%;
          background: #bdbdbd;
          border-radius: 100% 0 0 0;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
        }
        &:after {
          background: white;
          width: 75%;
          height: 75%;
          border-radius: 50%;
          content: "";
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
        &.hide {
          display: none;
        }
      }
      .site_document_container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .document_item {
          height: 6.813rem;
          width: 100%;
          border: 0.094rem solid #000;
          border-radius: 2.5rem;
          padding: 2rem 1.875rem;
          box-sizing: border-box;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 1.125rem;
          font-weight: 300;
          .name {
            width: 12.188rem;
          }
          .contract {
            width: 22.313rem;
          }
          .summ_and_status {
            display: flex;
            flex-direction: column;
            width: 9.063rem;
            font-size: 1.125rem;
            font-weight: bold;
            .summ_container {
            }
            .status {
              text-transform: lowercase;
            }
          }
          .download {
            margin-right: 5.375rem;
            a {
              font-size: 1.125rem;
              font-weight: bold;
              color: #95bad4;
              cursor: pointer;
            }
          }
        }
      }
    }
    .small_loader {
      display: none;
      overflow: hidden;
      font-size: 0.625rem;
      margin: 3.125rem auto;
      text-indent: -9999em;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      background: #65abf8;
      background: linear-gradient(
        to right,
        #bdbdbd 10%,
        rgba(101, 171, 248, 0) 42%
      );
      position: relative;
      -webkit-animation: load3 1.4s infinite linear;
      animation: load3 1.4s infinite linear;
      transform: translateZ(0);
      &:before {
        width: 50%;
        height: 50%;
        background: #bdbdbd;
        border-radius: 100% 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
      }
      &:after {
        background: white;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        content: "";
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      &.show {
        display: block;
      }
    }
    .end_content {
      display: none;
      justify-content: space-between;
      margin-top: 1.688rem;
      &.show {
        display: flex;
      }
      .add_more {
        font-size: 1.313rem;
        background-color: inherit;
        border: 0.094rem solid black;
        text-transform: lowercase;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1.875rem;
        width: 12.563rem;
        height: 3.563rem;
        transition: 0.6s;
        &:disabled,
        &[disabled] {
          border: 0.094rem solid rgba(16, 16, 16, 0.3);
          cursor: auto;
          &:hover {
            background-color: inherit;
            color: rgba(16, 16, 16, 0.3);
            border: 0.094rem solid rgba(16, 16, 16, 0.3);
          }
        }
        &:hover {
          background-color: #95bad4;
          color: #fff;
          border: 0.094rem solid #95bad4;
        }
      }
      .pagination {
        display: flex;
        align-items: center;
        gap: 0.438rem;
        text-transform: uppercase;
        .first {
          display: none;
          cursor: pointer;
          transition: 0.6s;
          &.show {
            width: 3.563rem;
            height: 3.563rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 100%;
            border: 0.094rem solid black;
            background-color: inherit;
          }
          &:hover {
            background-color: #95bad4;
            color: #fff;
            border: 0.094rem solid #95bad4;
          }
        }
        .dots {
          display: none;
          font-size: 1.313rem;
          &.first_dots {
            &.show {
              display: block;
            }
          }
          &.last_dots {
            &.show {
              display: block;
            }
          }
        }
        .elem {
          width: 3.563rem;
          height: 3.563rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 100%;
          border: 0.094rem solid black;
          background-color: inherit;
          transition: 0.6s;
          &.active {
            background-color: #95bad4;
            color: #fff;
            border: 0.094rem solid #95bad4;
            cursor: auto;
          }
          &:hover {
            background-color: #95bad4;
            color: #fff;
            border: 0.094rem solid #95bad4;
          }
        }
        .last {
          cursor: pointer;
          display: none;
          transition: 0.6s;
          &.show {
            width: 3.563rem;
            height: 3.563rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 100%;
            border: 0.094rem solid black;
            background-color: inherit;
          }
          &:hover {
            background-color: #95bad4;
            color: #fff;
            border: 0.094rem solid #95bad4;
          }
        }
        .next {
          cursor: pointer;
          display: none;
          &.show {
            display: block;
          }
        }
      }
    }
  }
  .order_container {
    .order_wrapper {
      .loader {
        overflow: hidden;
        font-size: 0.625rem;
        margin: 0.0125rem auto;
        text-indent: -9999em;
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
        background: #65abf8;
        background: linear-gradient(
          to right,
          #bdbdbd 10%,
          rgba(101, 171, 248, 0) 42%
        );
        position: relative;
        -webkit-animation: load3 1.4s infinite linear;
        animation: load3 1.4s infinite linear;
        transform: translateZ(0);
        &.remove {
          display: none;
        }
        &:before {
          width: 50%;
          height: 50%;
          background: #bdbdbd;
          border-radius: 100% 0 0 0;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
        }
        &:after {
          background: white;
          width: 75%;
          height: 75%;
          border-radius: 50%;
          content: "";
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
        &.hide {
          display: none;
        }
      }
      .site_order_container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .order_item {
          width: 100%;
          border: 0.094rem solid #000;
          border-radius: 2.5rem;
          height: 9.375rem;
          padding: 1.875rem 2rem;
          box-sizing: border-box;
          display: flex;
          gap: 2.688rem;
          .description_order {
            display: flex;
            flex-direction: column;
            font-size: 1.125rem;
            font-weight: 300;
            width: 13rem;
            .order_status {
              margin-top: 1.375rem;
              color: #ff5b00;
              font-weight: bold;
              text-transform: lowercase;
            }
          }
          .order_composition {
            width: 32rem;
            .order_composition_container {
              height: 4.125rem;
              width: 100%;
              overflow: hidden;
            }
            .add_more_btn {
              color: #95bad4;
              text-decoration: underline;
              text-transform: lowercase;
              font-weight: bold;
              cursor: pointer;
            }
          }
          .order_invoice_details_container {
            width: 9.063rem;
            .bill_sum_details {
              font-weight: bold;
              font-size: 1.125rem;
            }
          }
          .order_documents {
            width: 17.125rem;
            display: flex;
            flex-direction: column;
            .order_documents_item {
              color: #95bad4;
              text-decoration: underline;
              text-transform: lowercase;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
      .small_loader {
        display: none;
        overflow: hidden;
        font-size: 0.625rem;
        margin: 3.125rem auto;
        text-indent: -9999em;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        background: #65abf8;
        background: linear-gradient(
          to right,
          #bdbdbd 10%,
          rgba(101, 171, 248, 0) 42%
        );
        position: relative;
        -webkit-animation: load3 1.4s infinite linear;
        animation: load3 1.4s infinite linear;
        transform: translateZ(0);
        &:before {
          width: 50%;
          height: 50%;
          background: #bdbdbd;
          border-radius: 100% 0 0 0;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
        }
        &:after {
          background: white;
          width: 75%;
          height: 75%;
          border-radius: 50%;
          content: "";
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
        &.show {
          display: block;
        }
      }
      .end_content {
        display: none;
        justify-content: space-between;
        margin-top: 1.688rem;
        &.show {
          display: flex;
        }
        .add_more {
          font-size: 1.313rem;
          background-color: inherit;
          border: 0.094rem solid black;
          text-transform: lowercase;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1.875rem;
          width: 12.563rem;
          height: 3.563rem;
          transition: 0.6s;
          &:disabled,
          &[disabled] {
            border: 0.094rem solid rgba(16, 16, 16, 0.3);
            cursor: auto;
            &:hover {
              background-color: inherit;
              color: rgba(16, 16, 16, 0.3);
              border: 0.094rem solid rgba(16, 16, 16, 0.3);
            }
          }
          &:hover {
            background-color: #95bad4;
            color: #fff;
            border: 0.094rem solid #95bad4;
          }
        }
        .pagination {
          display: flex;
          align-items: center;
          gap: 0.438rem;
          text-transform: uppercase;
          .first {
            display: none;
            cursor: pointer;
            transition: 0.6s;
            &.show {
              width: 3.563rem;
              height: 3.563rem;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              border-radius: 100%;
              border: 0.094rem solid black;
              background-color: inherit;
            }
            &:hover {
              background-color: #95bad4;
              color: #fff;
              border: 0.094rem solid #95bad4;
            }
          }
          .dots {
            display: none;
            font-size: 1.313rem;
            &.first_dots {
              &.show {
                display: block;
              }
            }
            &.last_dots {
              &.show {
                display: block;
              }
            }
          }
          .elem {
            width: 3.563rem;
            height: 3.563rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 100%;
            border: 0.094rem solid black;
            background-color: inherit;
            transition: 0.6s;
            &.active {
              background-color: #95bad4;
              color: #fff;
              border: 0.094rem solid #95bad4;
              cursor: auto;
            }
            &:hover {
              background-color: #95bad4;
              color: #fff;
              border: 0.094rem solid #95bad4;
            }
          }
          .last {
            cursor: pointer;
            display: none;
            transition: 0.6s;
            &.show {
              width: 3.563rem;
              height: 3.563rem;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              border-radius: 100%;
              border: 0.094rem solid black;
              background-color: inherit;
            }
            &:hover {
              background-color: #95bad4;
              color: #fff;
              border: 0.094rem solid #95bad4;
            }
          }
          .next {
            cursor: pointer;
            display: none;
            &.show {
              display: block;
            }
          }
        }
      }
    }
  }
}

.personal_account_content {
  .details {
    margin-top: 2.188rem;
    .legal_entitis {
      .small_titles {
        display: flex;
        margin-left: 1.813rem;
        .small_title {
          font-size: 1.313rem;
          // text-transform: uppercase;
          font-weight: bold;
          &:nth-of-type(2) {
            margin-left: 6.25rem;
          }
          &:nth-of-type(3) {
            margin-left: 11.438rem;
          }
          &:nth-of-type(4) {
            margin-left: 9.5rem;
          }
        }
      }
      .container {
        display: flex;
        flex-direction: column;
        gap: 0.313rem;
        margin-top: 1.25rem;
        .legal_entity_wrapper {
          display: flex;
          width: 100%;
          &.show {
            div {
              .legal_entity {
                height: 100%;
                .head_legal_entity_details {
                  margin-top: 0rem;
                }
              }
            }
            .addresses {
              margin-top: 0;
            }
          }
          div {
            width: 100%;
            .legal_entity {
              width: 100%;
              height: 6.813rem;
              background-color: #fff;
              border-radius: 2.5rem;
              border: 0.094rem solid #000;
              box-sizing: border-box;
              padding: 2rem 2rem 2rem 1.75rem;
              overflow: hidden;
              transition: 1s;
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 1.875rem;
              .head_legal_entity_details {
                display: flex;
                align-items: center;
                font-size: 1.125rem;
                position: relative;
                font-weight: 300;
                margin-top: 0.5rem;
                transition: 0.6s;
                .detail {
                  width: 11.563rem;
                  &:nth-of-type(2) {
                    width: 6.5rem;
                    margin-left: 3.625rem;
                  }
                  &:nth-of-type(3) {
                    width: 6.125rem;
                    margin-left: 5.063rem;
                  }
                  &:nth-of-type(4) {
                    width: 9.063rem;
                    margin-left: 4.5rem;
                  }
                  &:nth-of-type(5) {
                    width: 9.063rem;
                    margin-left: 4.188rem;
                  }
                }
                .change_button {
                  color: #95bad4;
                  text-decoration: underline;
                  width: 5.625rem;
                  transition: 0.6s;
                  opacity: 1;
                  border: none;
                  background-color: transparent;
                  font-size: 1.125rem;
                  font-weight: 700;
                  text-transform: lowercase;
                  cursor: pointer;
                  // &.show {
                  //   opacity: 1;
                  // }
                }
              }
            }
          }
        }
        .addresses {
          display: flex;
          flex-direction: column;
          gap: 1.875rem;
          margin-top: 5rem;
          transition: 0.6s;
          .address {
            display: flex;
            flex-direction: column;
            gap: 0.938rem;
            width: 100%;
            .title {
              font-size: 1.125rem;
              font-weight: bold;
            }
            div {
              display: flex;
              gap: 1rem;
              width: 100%;
              align-items: center;
              label {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                width: 12.813rem;
                position: relative;
                &:nth-of-type(2) {
                  width: 17.563rem;
                }
                &:nth-of-type(3) {
                  width: 36.25rem;
                }
                span {
                  font-size: 0.813rem;
                  margin-left: 0.688rem;
                }
                input {
                  height: 3.563rem;
                  box-sizing: border-box;
                  border-radius: 2rem;
                  border: 0.094rem solid #000;
                  padding: 1.125rem 1.938rem;
                  font-family: "Nunito", sans-serif;
                  font-size: 1.125rem;
                  &::-webkit-input-placeholder {
                    color: #000;
                  }
                  &::-moz-placeholder {
                    color: #000;
                  }
                  &:-ms-input-placeholder {
                    color: #000;
                  }
                  &::-ms-input-placeholder {
                    color: #000;
                  }
                  &::placeholder {
                    color: #000;
                  }
                  &:focus {
                    outline: none;
                    &::-webkit-input-placeholder {
                      color: transparent;
                    }
                    &::-moz-placeholder {
                      color: transparent;
                    }
                    &:-ms-input-placeholder {
                      color: transparent;
                    }
                    &::-ms-input-placeholder {
                      color: transparent;
                    }
                    &::placeholder {
                      color: transparent;
                    }
                  }
                }
                .error {
                  position: absolute;
                  font-size: 0.625rem;
                  top: 100%;
                  left: 0.688rem;
                  color: red;
                  opacity: 0;
                  transition: 0.6s;
                  &.show {
                    opacity: 1;
                  }
                }
              }
              button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10.313rem;
                height: 3.563rem;
                border: none;
                border-radius: 1.875rem;
                background-color: #95bad4;
                font-size: 1.313rem;
                text-transform: lowercase;
                color: #fff;
                cursor: pointer;
                transition: 0.6s;
                &:hover {
                  background-color: #ff5b00;
                }
              }
            }
          }
        }
        .bank-details-container {
          display: flex;
          flex-direction: column;
          gap: 0.813rem;
          .title {
            font-size: 1.125rem;
            font-weight: bold;
          }
          .bank-details {
            display: flex;
            flex-direction: column;
            gap: 1.875rem;
            .bank_detail {
              display: flex;
              align-items: center;
              gap: 1rem;
              label {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                width: 17.813rem;
                position: relative;
                &:nth-of-type(2) {
                  width: 19.5rem;
                }
                &:nth-of-type(3) {
                  width: 17.438rem;
                }
                &:nth-of-type(4) {
                  width: 10.875rem;
                }
                span {
                  font-size: 0.813rem;
                  margin-left: 0.688rem;
                  &.new_bank_detail_counter {
                    margin-left: 0rem;
                  }
                }
                input {
                  height: 3.563rem;
                  box-sizing: border-box;
                  border-radius: 2rem;
                  border: 0.094rem solid #000;
                  padding: 1.125rem 1.938rem;
                  font-family: "Nunito", sans-serif;
                  font-size: 1.125rem;
                  &::-webkit-input-placeholder {
                    color: #000;
                  }
                  &::-moz-placeholder {
                    color: #000;
                  }
                  &:-ms-input-placeholder {
                    color: #000;
                  }
                  &::-ms-input-placeholder {
                    color: #000;
                  }
                  &::placeholder {
                    color: #000;
                  }
                  &:focus {
                    outline: none;
                    &::-webkit-input-placeholder {
                      color: transparent;
                    }
                    &::-moz-placeholder {
                      color: transparent;
                    }
                    &:-ms-input-placeholder {
                      color: transparent;
                    }
                    &::-ms-input-placeholder {
                      color: transparent;
                    }
                    &::placeholder {
                      color: transparent;
                    }
                  }
                }
                .error {
                  position: absolute;
                  font-size: 0.625rem;
                  top: 100%;
                  left: 0.688rem;
                  color: red;
                  opacity: 0;
                  transition: 0.6s;
                  &.show {
                    opacity: 1;
                  }
                }
              }
              button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10.313rem;
                height: 3.563rem;
                border: none;
                border-radius: 1.875rem;
                background-color: #95bad4;
                font-size: 1.313rem;
                text-transform: lowercase;
                color: #fff;
                cursor: pointer;
                transition: 0.6s;
                &:hover {
                  background-color: #ff5b00;
                }
              }
            }
          }
          .new_bank_detail {
            display: flex;
            align-items: center;
            gap: 1rem;
            label {
              display: flex;
              flex-direction: column;
              gap: 0.25rem;
              width: 17.813rem;
              position: relative;
              &:nth-of-type(2) {
                width: 19.5rem;
              }
              &:nth-of-type(3) {
                width: 17.438rem;
              }
              &:nth-of-type(4) {
                width: 10.875rem;
              }
              span {
                font-size: 0.813rem;
                margin-left: 0.688rem;
                &.new_bank_detail_counter {
                  margin-left: 0rem;
                }
              }
              input {
                height: 3.563rem;
                box-sizing: border-box;
                border-radius: 2rem;
                border: 0.094rem solid #000;
                padding: 1.125rem 1.938rem;
                font-family: "Nunito", sans-serif;
                font-size: 1.125rem;
                &::-webkit-input-placeholder {
                  color: #000;
                }
                &::-moz-placeholder {
                  color: #000;
                }
                &:-ms-input-placeholder {
                  color: #000;
                }
                &::-ms-input-placeholder {
                  color: #000;
                }
                &::placeholder {
                  color: #000;
                }
                &:focus {
                  outline: none;
                  &::-webkit-input-placeholder {
                    color: transparent;
                  }
                  &::-moz-placeholder {
                    color: transparent;
                  }
                  &:-ms-input-placeholder {
                    color: transparent;
                  }
                  &::-ms-input-placeholder {
                    color: transparent;
                  }
                  &::placeholder {
                    color: transparent;
                  }
                }
              }
              .error {
                position: absolute;
                font-size: 0.625rem;
                top: 100%;
                left: 0.688rem;
                color: red;
                opacity: 0;
                transition: 0.6s;
                &.show {
                  opacity: 1;
                }
              }
            }
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 10.313rem;
              height: 3.563rem;
              border: none;
              border-radius: 1.875rem;
              background-color: #95bad4;
              font-size: 1.313rem;
              text-transform: lowercase;
              color: #fff;
              cursor: pointer;
              transition: 0.6s;
              &:hover {
                background-color: #ff5b00;
              }
            }
          }
        }
      }
    }
    .new_legal_entity_wrapper {
      margin-top: 0.875rem;
      display: flex;
      &.show {
        div {
          margin-bottom: 0.875rem;
          .new_legal_entity {
            height: 100%;
            opacity: 1;
          }
        }
      }
      div {
        width: 100%;
        .new_legal_entity {
          width: 100%;
          height: 0;
          background-color: #fff;
          border-radius: 2.5rem;
          border: 0.094rem solid #000;
          box-sizing: border-box;
          overflow: hidden;
          transition: 1s;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1.875rem;
          opacity: 0;
          .legal_entity_form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.563rem;
            padding: 2rem 2rem 2rem 1.75rem;
            box-sizing: border-box;
            .head_details {
              display: flex;
              gap: 0.938rem;
              label {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 0.25rem;
                position: relative;
                span {
                  font-size: 0.813rem;
                  margin-left: 0.688rem;
                }
                input {
                  width: 100%;
                  height: 3.563rem;
                  box-sizing: border-box;
                  border-radius: 2rem;
                  border: 0.094rem solid #000;
                  padding: 1.125rem 1.938rem;
                  font-family: "Nunito", sans-serif;
                  font-size: 1.125rem;
                  &::-webkit-input-placeholder {
                    color: #000;
                  }
                  &::-moz-placeholder {
                    color: #000;
                  }
                  &:-ms-input-placeholder {
                    color: #000;
                  }
                  &::-ms-input-placeholder {
                    color: #000;
                  }
                  &::placeholder {
                    color: #000;
                  }
                  &:focus {
                    outline: none;
                    &::-webkit-input-placeholder {
                      color: transparent;
                    }
                    &::-moz-placeholder {
                      color: transparent;
                    }
                    &:-ms-input-placeholder {
                      color: transparent;
                    }
                    &::-ms-input-placeholder {
                      color: transparent;
                    }
                    &::placeholder {
                      color: transparent;
                    }
                  }
                  &:disabled {
                    filter: opacity(50%);
                  }
                }
                .error {
                  position: absolute;
                  font-size: 0.625rem;
                  top: 100%;
                  left: 0.688rem;
                  color: red;
                  opacity: 0;
                  transition: 0.6s;
                  &.show {
                    opacity: 1;
                  }
                }
                .legal_entitis_container {
                  position: absolute;
                  top: 100%;
                  left: 0;
                  width: 100%;
                  max-height: 5rem;
                  border: 0.094rem solid #000;
                  overflow: auto;
                  z-index: 100;
                  display: none;
                  &.show {
                    display: block;
                  }
                  .legal_entitis_search_elems {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 0;
                    .legal_entitis_search_elem {
                      padding: 0.75rem;
                      font-size: 1.125rem;
                      font-weight: 300;
                      cursor: pointer;
                      box-sizing: border-box;
                      margin: 0;
                      div {
                        margin: 0;
                      }
                      &:hover {
                        background-color: #95bad4;
                        color: #fff;
                      }
                    }
                  }
                  .add_new_legal_entity {
                    padding: 0.75rem;
                    font-size: 1.125rem;
                    font-weight: 300;
                    cursor: pointer;
                    box-sizing: border-box;
                    margin: 0;
                    &:hover {
                      background-color: #95bad4;
                      color: #fff;
                    }
                  }
                }
              }
            }
            .address {
              display: flex;
              flex-direction: column;
              gap: 0.938rem;
              width: 100%;
              .title {
                font-size: 1.125rem;
                font-weight: bold;
              }
              div {
                display: flex;
                gap: 1rem;
                width: 100%;
                align-items: center;
                label {
                  display: flex;
                  flex-direction: column;
                  gap: 0.25rem;
                  width: 100%;
                  // width: 12.813rem;
                  position: relative;
                  // &:nth-of-type(2) {
                  //   width: 17.563rem;
                  // }
                  // &:nth-of-type(3) {
                  //   width: 36.25rem;
                  // }
                  span {
                    font-size: 0.813rem;
                    margin-left: 0.688rem;
                  }
                  input {
                    height: 3.563rem;
                    box-sizing: border-box;
                    border-radius: 2rem;
                    border: 0.094rem solid #000;
                    padding: 1.125rem 1.938rem;
                    font-family: "Nunito", sans-serif;
                    font-size: 1.125rem;
                    &:disabled {
                      filter: opacity(50%);
                    }
                    &::-webkit-input-placeholder {
                      color: #000;
                    }
                    &::-moz-placeholder {
                      color: #000;
                    }
                    &:-ms-input-placeholder {
                      color: #000;
                    }
                    &::-ms-input-placeholder {
                      color: #000;
                    }
                    &::placeholder {
                      color: #000;
                    }
                    &:focus {
                      outline: none;
                      &::-webkit-input-placeholder {
                        color: transparent;
                      }
                      &::-moz-placeholder {
                        color: transparent;
                      }
                      &:-ms-input-placeholder {
                        color: transparent;
                      }
                      &::-ms-input-placeholder {
                        color: transparent;
                      }
                      &::placeholder {
                        color: transparent;
                      }
                    }
                  }
                  .error {
                    position: absolute;
                    font-size: 0.625rem;
                    top: 100%;
                    left: 0.688rem;
                    color: red;
                    opacity: 0;
                    transition: 0.6s;
                    &.show {
                      opacity: 1;
                    }
                  }
                }
              }
            }
            // .legal_address_container {
            //   display: flex;
            //   flex-direction: column;
            //   gap: 0.875rem;
            //   .title {
            //     font-size: 0.813rem;
            //     font-weight: bold;
            //   }
            //   .labels {
            //     display: flex;
            //     gap: 0.938rem;
            //     label {
            //       display: flex;
            //       flex-direction: column;
            //       gap: 0.25rem;
            //       width: 5.875rem;
            //       position: relative;
            //       &:nth-of-type(2) {
            //         width: 6.75rem;
            //       }
            //       &:nth-of-type(3) {
            //         width: 15.188rem;
            //       }
            //       span {
            //         margin-left: 0.688rem;
            //         font-size: 0.813rem;
            //       }
            //       input {
            //         height: 2.125rem;
            //         box-sizing: border-box;
            //         border-radius: 5px;
            //         border: 0.063rem solid #a4a4a4;
            //         padding: 0.563rem 0.688rem;
            //         font-family: "Montserrat";
            //         font-size: 0.813rem;
            //         &:focus {
            //           outline: none;
            //         }
            //       }
            //       .error {
            //         position: absolute;
            //         font-size: 0.625rem;
            //         top: 100%;
            //         left: 0.688rem;
            //         color: red;
            //         opacity: 0;
            //         transition: 0.6s;
            //         &.show {
            //           opacity: 1;
            //         }
            //       }
            //     }
            //   }
            // }
            // .post_address_container {
            //   display: flex;
            //   flex-direction: column;
            //   gap: 0.875rem;
            //   .title {
            //     font-size: 0.813rem;
            //     font-weight: bold;
            //   }
            //   .labels {
            //     display: flex;
            //     gap: 0.938rem;
            //     label {
            //       display: flex;
            //       flex-direction: column;
            //       gap: 0.25rem;
            //       width: 5.875rem;
            //       position: relative;
            //       &:nth-of-type(2) {
            //         width: 6.75rem;
            //       }
            //       &:nth-of-type(3) {
            //         width: 15.188rem;
            //       }
            //       span {
            //         margin-left: 0.688rem;
            //         font-size: 0.813rem;
            //       }
            //       input {
            //         height: 2.125rem;
            //         box-sizing: border-box;
            //         border-radius: 5px;
            //         border: 0.063rem solid #a4a4a4;
            //         padding: 0.563rem 0.688rem;
            //         font-family: "Montserrat";
            //         font-size: 0.813rem;
            //         &:focus {
            //           outline: none;
            //         }
            //       }
            //       .error {
            //         position: absolute;
            //         font-size: 0.625rem;
            //         top: 100%;
            //         left: 0.688rem;
            //         color: red;
            //         opacity: 0;
            //         transition: 0.6s;
            //         &.show {
            //           opacity: 1;
            //         }
            //       }
            //     }
            //   }
            // }
            .bank-details-container {
              display: flex;
              flex-direction: column;
              gap: 0.875rem;
              .title {
                font-size: 1.125rem;
                font-weight: bold;
              }
              .labels {
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 100%;
                label {
                  display: flex;
                  flex-direction: column;
                  gap: 0.25rem;
                  width: 100%;
                  position: relative;
                  // &:nth-of-type(2) {
                  //   width: 19.5rem;
                  // }
                  // &:nth-of-type(3) {
                  //   width: 17.438rem;
                  // }
                  // &:nth-of-type(4) {
                  //   width: 10.875rem;
                  // }
                  span {
                    font-size: 0.813rem;
                    margin-left: 0.688rem;
                    &.new_bank_detail_counter {
                      margin-left: 0rem;
                    }
                  }
                  input {
                    width: 100%;
                    height: 3.563rem;
                    box-sizing: border-box;
                    border-radius: 2rem;
                    border: 0.094rem solid #000;
                    padding: 1.125rem 1.938rem;
                    font-family: "Nunito", sans-serif;
                    font-size: 1.125rem;
                    &:disabled {
                      filter: opacity(50%);
                    }
                    &::-webkit-input-placeholder {
                      color: #000;
                    }
                    &::-moz-placeholder {
                      color: #000;
                    }
                    &:-ms-input-placeholder {
                      color: #000;
                    }
                    &::-ms-input-placeholder {
                      color: #000;
                    }
                    &::placeholder {
                      color: #000;
                    }
                    &:focus {
                      outline: none;
                      &::-webkit-input-placeholder {
                        color: transparent;
                      }
                      &::-moz-placeholder {
                        color: transparent;
                      }
                      &:-ms-input-placeholder {
                        color: transparent;
                      }
                      &::-ms-input-placeholder {
                        color: transparent;
                      }
                      &::placeholder {
                        color: transparent;
                      }
                    }
                  }
                  .error {
                    position: absolute;
                    font-size: 0.625rem;
                    top: 100%;
                    left: 0.688rem;
                    color: red;
                    opacity: 0;
                    transition: 0.6s;
                    &.show {
                      opacity: 1;
                    }
                  }
                }
              }
            }
            .save_legal_entity {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 18rem;
              height: 3.563rem;
              border: none;
              border-radius: 1.875rem;
              background-color: #95bad4;
              font-size: 1.313rem;
              text-transform: lowercase;
              color: #fff;
              cursor: pointer;
              transition: 0.6s;
              &:hover {
                background-color: #ff5b00;
              }
            }
          }
        }
      }
    }
    .add_legal_entity {
      width: 21.688rem;
      height: 3.563rem;
      // margin-top: 0.875rem;
      text-transform: lowercase;
      border: 0.094rem solid #000;
      border-radius: 1.875rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.313rem;
    }
  }
  .contacts {
    // margin-top: 3.625rem;
    .titles {
      display: flex;
      margin-left: 1.875rem;
      .title {
        font-size: 1.313rem;
        font-weight: bold;
        &:nth-of-type(2) {
          margin-left: 13.438rem;
        }
        &:nth-of-type(3) {
          margin-left: 12.25rem;
        }
      }
    }
    .contact_people {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1.188rem;
      margin-top: 1.188rem;
      .contact_person {
        width: 100%;
        // height: 6.813rem;
        border: 0.094rem solid #000;
        border-radius: 2.5rem;
        box-sizing: border-box;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        transition: 0.6s;
        .contact_person_details {
          margin: 2.063rem 1.75rem;
          display: flex;
          align-items: center;
          &.no_visible {
            display: none;
          }
          .contact_preson_elem {
            font-size: 1.125rem;
            font-weight: 300;
            &:nth-of-type(1) {
              width: 14.813rem;
            }
            &:nth-of-type(2) {
              margin-left: 9.75rem;
              width: 12.688rem;
            }
            &:nth-of-type(3) {
              width: 20.25rem;
              margin-left: 6.813rem;
            }
            &:nth-of-type(4) {
              margin-left: 6.125rem;
              font-size: 1.125rem;
              color: #95bad4;
              text-decoration: underline;
              font-weight: bold;
              text-transform: lowercase;
              cursor: pointer;
            }
            &.links {
              display: flex;
              flex-direction: column;
              .tel_link {
                color: #000;
              }
              .mail_link {
                color: #95bad4;
                font-weight: bold;
              }
            }
          }
        }
        .contact_person_form {
          margin: 1.5rem 1.75rem;
          display: none;
          flex-direction: column;
          align-items: flex-end;
          gap: 0.938rem;
          transition: 1s;
          &.show {
            display: flex;
          }
          div {
            display: flex;
            align-items: center;
            gap: 0.938rem;
            &.contact_user_extra_fields {
              width: 100%;
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr;
              label {
                width: 100%;
              }
            }
            label {
              position: relative;
              width: 25.8rem;
              height: 3.563rem;
              input {
                width: 100%;
                height: 100%;
                border-radius: 2rem;
                box-sizing: border-box;
                padding: 1.125rem 2.25rem;
                border: 0.094rem solid #000;
                font-size: 1.125rem;
                font-family: "Nunito", sans-serif;
                &::-webkit-input-placeholder {
                  color: #000;
                }
                &::-moz-placeholder {
                  color: #000;
                }
                &:-ms-input-placeholder {
                  color: #000;
                }
                &::-ms-input-placeholder {
                  color: #000;
                }
                &::placeholder {
                  color: #000;
                }
                &:focus {
                  outline: none;
                  &::-webkit-input-placeholder {
                    color: transparent;
                  }
                  &::-moz-placeholder {
                    color: transparent;
                  }
                  &:-ms-input-placeholder {
                    color: transparent;
                  }
                  &::-ms-input-placeholder {
                    color: transparent;
                  }
                  &::placeholder {
                    color: transparent;
                  }
                }
              }
              .error {
                color: red;
                font-size: 0.625rem;
                margin-left: 0.688rem;
                position: absolute;
                top: 100%;
                opacity: 0;
                transition: 0.6s;
                &.show {
                  opacity: 1;
                }
              }
            }
          }
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 26.048rem;
            height: 3.563rem;
            border: none;
            border-radius: 1.875rem;
            background-color: #95bad4;
            font-size: 1.313rem;
            text-transform: lowercase;
            color: #fff;
            cursor: pointer;
            transition: 0.6s;
            &:hover {
              background-color: #ff5b00;
            }
          }
        }
      }
    }
    .new_contact_person {
      display: flex;
      &.show {
        div {
          .contact-form {
            height: 6.813rem;
            margin-top: 1.188rem;
            opacity: 1;
            padding: 2.063rem 1.75rem;
            box-sizing: border-box;
          }
        }
      }
      div {
        width: 100%;
        .contact-form {
          margin-top: 0rem;
          border: 0.094rem solid #000;
          height: 6.813rem;
          border-radius: 2.5rem;
          display: flex;
          align-items: center;
          gap: 0.938rem;
          transition: 1s;
          height: 0;
          opacity: 0;
          overflow: hidden;
          label {
            position: relative;
            width: 15.048rem;
            height: 3.563rem;
            input {
              width: 100%;
              height: 100%;
              border-radius: 2rem;
              box-sizing: border-box;
              padding: 1.125rem 2.25rem;
              border: 0.094rem solid #000;
              font-size: 1.125rem;
              font-family: "Nunito", sans-serif;
              &::-webkit-input-placeholder {
                color: #000;
              }
              &::-moz-placeholder {
                color: #000;
              }
              &:-ms-input-placeholder {
                color: #000;
              }
              &::-ms-input-placeholder {
                color: #000;
              }
              &::placeholder {
                color: #000;
              }
              &:focus {
                outline: none;
                &::-webkit-input-placeholder {
                  color: transparent;
                }
                &::-moz-placeholder {
                  color: transparent;
                }
                &:-ms-input-placeholder {
                  color: transparent;
                }
                &::-ms-input-placeholder {
                  color: transparent;
                }
                &::placeholder {
                  color: transparent;
                }
              }
            }
            .error {
              color: red;
              font-size: 0.625rem;
              margin-left: 0.688rem;
              position: absolute;
              top: 100%;
              opacity: 0;
              transition: 0.6s;
              &.show {
                opacity: 1;
              }
            }
          }
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15.048rem;
            height: 3.563rem;
            border: none;
            border-radius: 1.875rem;
            background-color: #95bad4;
            font-size: 1.313rem;
            text-transform: lowercase;
            color: #fff;
            cursor: pointer;
            transition: 0.6s;
            &:hover {
              background-color: #ff5b00;
            }
          }
        }
      }
    }
    .add_new_contact_btn {
      width: 21.688rem;
      height: 3.563rem;
      margin-top: 0.875rem;
      text-transform: lowercase;
      border: 0.094rem solid #000;
      border-radius: 1.875rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.313rem;
    }
  }
}
