
<div class="specification_item table_item {% if bill_status == false %}bill_notpayment{% endif %}{% if bill_status == None and specification_list.tag_stop == false %}disabled{% endif %}"
     specification-id="{{ specification_list.id }}"
     order-id="{{ id }}"
     status="{{ status }}"
     specification-elem="specification-item">
        <div class="table_item_value">
                <a data-cart-id="{{ specification_list.cart }}"
                   href="{{ specification_list.url }}">№ {{ specification_list.id }} просмотр</a>
                <input class="cart_id" type="hidden" value={{ specification_list.cart }}>
                <br>
                <span class="table_item_value_span">Дата создания: {{ specification_list.date }}</span>
                {% if specification_list.date_update and specification_list.date != specification_list.date_update %}
                        <br>
                        <span class="table_item_value_span">Дата обновления: {{ specification_list.date_update }}</span>
                {% endif %}
                {% if superuser != false %}
                        <br>
                        <span class="table_item_value_span">Создал: {{ specification_list.admin_creator_name }}</span>
                        <br>
                        
                {% endif %}
        </div>
        <div class="table_item_value">
                Статус: {{ status_full }}
                <br>
                до
                {% if bill_date_stop %}
                        {{ bill_date_stop }}
                {% else %}
                        {{ specification_list.date_stop }}
                {% endif %}
        </div>
        <div class="table_item_value ">
                
                <span class="price">
                        Сумма:
                        
                        <span class="price_bill_sum_paid">
                                {% if bill_sum_paid %}
                                        {{ bill_sum_paid}}
                                {% else %}
                                        0
                                {% endif %}
                        </span>
                        / {{ specification_list.total_amount }}
                </span> ₽
                
                {% if prepay_persent %}
                        <div class="paument_tupe">
                                {% if postpay_persent != 0 %}
                                        Предоплата: {{ prepay_persent }}%
                                        Постоплата {{ postpay_persent }} %
                                {% else %}
                                        Предоплата: {{ prepay_persent }}%
                                {% endif %}
                        </div>
                {% endif %}
                {% if bill_file and bill_sum_paid < bill_sum %}
                        
                        <button class="add_payment_button">+</button>
                        
                {% endif %}
        </div>
        <div class="table_item_value invoice-table_item_value">
                {% if bill_status == None and specification_list.tag_stop == true %}
                        <button data-specication-id-to-bill="{{ specification }}"
                                class="create-bill-button">Создать счет</button>
                {% elif bill_status == None and specification_list.tag_stop == false %}
                        <span class="table_item_value_span">Срок действия спецификации истек. Для выставления счета необходимо актуализировать спецификацию </span>
                {% elif bill_status == true and bill_sum_paid == 0 %}
                        <button data-specication-id-to-bill="{{ specification }}"
                                class="create-bill-button">Обновить счет</button>
                        <a class="invoice-link" href="{{ bill_file }}">Счет ссылка</a>
                {% elif bill_status == false %}
                        <span class="table_item_value_span">Не оплачено в срок. Для выставления счета необходимо актуализировать спецификацию и выствить новый счет </span>
                {% elif bill_sum_paid and bill_sum_paid > 0 %}
                
                {% endif %}
        </div>
        {% if bill_sum_paid %}
        {% elif bill_status == None and specification_list.tag_stop == false %}
                <button class="uptate-specification-button">Актуализировать</button>
        {% elif bill_status == false %}
                <button class="uptate-specification-button">Актуализировать</button>
        {% else %}
                <button class="change-specification-button">Редактировать</button>
                <br>
                {% if bill_sum %}
                        <span class="table_item_value_span"
                              style="position: absolute;
                                     z-index: 20;
                                     right: -20px;
                                     bottom: 20px;
                                     width: 200px;
                                     line-height: 0.8;
                                     color: gray">при редактировании будет необходимо создать счет заново</span>
                {% endif %}
        {% endif %}
</div>
