<div
  class="specification_item table_item
  {% if bill_status == false %}bill_notpayment{% endif %} 
  {% if bill_status == None and specification_list.tag_stop == false %}
        disabled

        {% endif %} 
  "
  specification-id="{{ id }}"
  specification-elem="specification-item">

        <div class="table_item_value">
                <a 
                data-cart-id="{{ specification_list.cart }}"
                href="{{specification_list.url}}"> № {{specification_list.id}} просмотр</a>
                <input class="cart_id" type="hidden" value={{ specification_list.cart }}>
                <br>
                <span class="table_item_value_span">Дата создания: {{specification_list.date}}</span>
                {% if specification_list.date_update and specification_list.date != specification_list.date_update  %} <br>
                <span class="table_item_value_span">Дата обновления: {{specification_list.date_update}}</span> {% endif %}
                
                {% if superuser != false %}
                        <br>
                        <span class="table_item_value_span">Создал: {{ specification_list.admin_creator_name }}</span>
                        <br>
                        <span class="table_item_value_span">
                        <a href="{{specification_list.url_history}}">История </a>
                        </span>
                {% endif %}



        </div>

        <div class="table_item_value">
                Статус: {{ status_full }} 
                <br>до 
                {% if bill_date_stop %}
                    {{ bill_date_stop}} 
                {% else %}
                    {{ specification_list.date_stop }}
                {% endif %}
        </div>

        <div class="table_item_value ">
                <span class="price">
                        Сумма:{% if requisites_set.bill_sum_paid %}{{requisites_set.bill_sum_paid}}
                        {% else %}0
                        {% endif %}
                        / {{ specification_list.total_amount }} 
                        
                        
                        </span> ₽
                <br>
                <br>
                {% if account_requisites %}
                <div class="paument_tupe">
                        {{ requisites_set.type_payment_full }}
                
                </div> 
                <div class="paument_tupe">
                        {% if requisites_set.postpay_persent != 0 or requisites_set.prepay_persent != 0 %}
                        Предоплата: {{requisites_set.prepay_persent}}% 
                        Постоплата {{requisites_set.postpay_persent}} %
                        {% endif %}
                
                </div> 
                {% endif %}
                        
                
        </div>

        <div class="table_item_value ">
                {% if bill_status == None and specification_list.tag_stop == true %}
                        <button data-specication-id-to-bill="{{specification}}" class="create-bill-button">Создать счет</button>
                {% elif bill_status == None and specification_list.tag_stop == false %} 
                        <span class="table_item_value_span">срок действия спецификации истек. Для выставления счета необходимо актуализировать спецификацию </span>
                         

                {% elif bill_status == true %}
                        <a href="{{ bill_file}}">Счет ссылка</a>
                       
                {% elif bill_status == false %}
                        <span class="table_item_value_span">Не оплачено в срок. Для выставления счета необходимо актуализировать спецификацию</span>
                        
                {% endif %}
         
        </div>
        {% if bill_sum_paid %} 

        {% elif bill_status == None and specification_list.tag_stop == false %}
                <button 
                
                class="uptate-specification-button">Актуализировать</button>
        {% elif bill_status == false %}  
                <button class="uptate-specification-button">Актуализировать</button>  

                  
        {% else %}
                <button class="change-specification-button">Редактировать</button>
        {% endif %}

</div>

