<div class="invoice-item"
     invoice-elem="invoice-item"
     invoice-elem-id="{{ id }}">
    <div class="name">
        {% if product_new == None %}
            {{ product_okt_name }}
        {% else %}
            {{ product_new }}
        {% endif %}
    </div>
    <div class="article">
        {% if product_new_article == None %}
            {{ product_okt_article }}
        {% else %}
            {{ product_new_article }}
        {% endif %}
    </div>
    <div class="stock">
        <div class="stock_item">
            {% if stock.to_order %}
                Поставщик:
                <br>
                Под заказ
            {% else %}
                {% if stock.stock_supplier != None %}
                    Поставщик: <span class="supplier_unit">{{ stock.stock_supplier_unit }}</span> шт
                {% else %}
                    Поставщик: -
                {% endif %}
            {% endif %}
        </div>
        <div class="stock_item">
            Motrum: <span class="motrum_unit">{{ stock.stock_motrum }}</span>
            {% if stock.stock_motrum_reserve %}
                Motrum резерв: <span class="motrum_unit_reserve">{{ stock.stock_motrum_reserve }}</span>
            {% endif %}
        </div>
        {% if stock.stock_supplier != None %}
            <span class="span-transit">{{ stock.data_update }}</span>
            <br>
            <span class="span-transit">
                {% if stock.transit_count %}Ближайшая поставка: {{ stock.data_transit }} - {{ stock.transit_count }} шт.{% endif %}
            </span>
        {% endif %}
        {% if stock.to_order %}
            Под заказ
        {% else %}
            Неизвестно
        {% endif %}
    </div>
    <label>
        <input placeholder="Укажите срок поставки"
               class="invoice-data-input"
               type="text"
               value="{{ text_delivery }}" />
        <div class="error"></div>
    </label>
</div>
