<div class="catalog_container">
    <div class="product-catalog-articles">
        {% comment %} <div class="article">Фильтр</div> {% endcomment %}
        <div class="article">Товар</div>
        <div class="article">Артикул</div>
        <div class="article">Характеристики</div>

        <div class="article">Остатки</div>

        <div class="article">Упак.</div>
        <div class="article">Цена закуп.</div>
        <div class="article">Цена</div>
    </div>
    <div class="content-container">
        {% comment %} <div class="filters">
            <div class="filter-elem">
                <div class="title-container">
                    <span>^</span>
                    <div class="title">Производитель</div>
                </div>
                <div class="filter-content">
                    {% for suppler in supplers %}
                        <div class="suppler-chekbox">
                            <div class="chekbox"></div>
                            <span>{{ suppler }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div> {% endcomment %}
        <div class="spetification-product-catalog">
            <div class="all-products">
                {% for product in products %}
           

                    <div class="catalog-item" 
                    data-id="{{ product.pk }} "
                    data-price="{% if product.price.rub_price_supplier %} {{ product.price.rub_price_supplier }} {% else %}0{% endif %}"  
                    data-motrum-id="{{ product.article }}"
                    data-saler-id="{{ product.article_supplier }}"
                    data-discoutnt="{% if product.price.sale  %}{{ product.price.sale.percent }}{% endif %}"
                    data-order-multiplicity="{% if product.stock.is_one_sale %}1{% else %}{{ product.stock.order_multiplicity }}{% endif %}"
                    
                    >
                    <div class="hidden-description">
                            <div class="descripton">
                                <div class="name">
                                    {% if product.supplier.name != product.vendor.name and product.vendor.name != None %}
                                        {{ product.supplier }} {{product.vendor}}
                                    {% else %}
                                        {{ product.supplier }}
                                    {% endif %}
                                     {{ product.name }}
                                    
                                    </div>
                                <div class="article-motrum">{{ product.article }}</div>
                                <div class="charactiristics">
                                    {% for char in product.productproperty_set.all %}
                                        {{ char.value }}
                                    {% empty %}
                                        -
                                    {% endfor %}
                                </div>
                                <div class="stock">
                                    {% if product.stock  %}
                                    
                                        <div class="stock_item">{% if product.stock.stock_supplier %}
                                        Поставщик: {{product.stock.stock_supplier}}
                                        {% else %}
                                        {% comment %} Поставщик: - {% endcomment %}
                                        {% endif %}</div>
                                      <div class="stock_item">
                                      Motrum:{{product.stock.stock_motrum}}</div>
                                      <span class="span-transit">{{product.price.data_update|date:"d.m.Y"}}</span><br>
                                      <span class="span-transit">
                                        {% if product.stock.transit_count  %} 
                                        Ближайшая поставка: {{product.stock.data_transit|date:"d.m.Y"}} - {{product.stock.transit_count}} шт.
                                                                            {% endif %}
                                      </span>
                                      
                                       
                                    {% else %}
                                    {% if to_order %}
                                        Под заказ
                                    {% endif %}
                                        Неизвестно
                                    {% endif %}
                                </div>


                                <div class="lot">
                                    {% if product.stock %}
                                    {% if product.stock.order_multiplicity != 1 and product.stock.is_one_sale == False %}
                                       
                                        <span class="span-min">Минимальный заказ {{product.stock.order_multiplicity}}
                                             {{ product.stock.lot.name_shorts }}</span>
                                        {% endif %}
                                        {% if product.stock.lot_complect != 1 %}
                                        {{ product.stock.lot.name_shorts }}.({{ product.stock.lot_complect }}ед.)
                                        {% else %}
                                        {{ product.stock.lot_complect }}
                                        {{ product.stock.lot.name_shorts }}.
                                        {% endif %}
                                        
                                    
                                        
                                    {% else %}
                                        -
                                    {% endif %}
                                </div>

                                <div class="suppler-price">
                                    {% if product.price.price_motrum and product.price.price_motrum != 0 %}
                                        <span class="price-suppler-count">{{ product.price.price_motrum }}</span> ₽
                                    {% else %}
                                        <span>По запросу</span>
                                    {% endif %}
                                   
                                </div>
                                <div class="price">
                                    {% if product.price.rub_price_supplier and product.price.rub_price_supplier != 0 %}
                                       <span class="span-update">{{product.price.data_update|date:"d.m.Y"}}</span>
                                        <span class="price-count">{{ product.price.rub_price_supplier }}</span> ₽
                                        
                                    {% else %}
                                        <span>По запросу</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="item-buttons_container">
                                <div class="quantity-buttons">
                                    <button disabled class="minus-button">-</button>
                                    <input type="number"
                                           value="0"
                                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                           maxlength="3"
                                           onkeypress='validate(event)'>
                                    <button class="plus-button">+</button>
                                </div>
                                <button disabled class="add-specification-button">В корзину</button>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="none-products">
                        Товаров в группе "
                        {% if group %}
                            {{ group }}
                        {% else %}
                            {{ title }}
                        {% endif %}
                        " пока нет
                    </div>
                {% endfor %}
            </div>
            <div class="loader">loading</div>
            {% if products %}
            {{products.count}}
                <div class="products-end-content">
                    <div class="load-more-btn">Загрузить еще</div>
                    <div class="pagintion">
                        {% if products.number == 1 or products.number == 2 or products.number == 3 %}
                        {% else %}
                            {% if search_input %}
                                <a class="first-elem" href="?page=1&search_input={{ search_input }}"><span>1</span></a>
                            {% else %}
                                <a class="first-elem" href="?page=1"><span>1</span></a>
                            {% endif %}
                        {% endif %}
                        {% for p in products.paginator.page_range %}
                            {% if products.number == p %}
                                <div class="page-num-selected">
                                    <span>{{ p }}</span>
                                </div>
                            {% elif p >= products.number|add:-2 and p <= products.number|add:2 %}
                                {% if search_input %}
                                    <a href="?page={{ p }}&search_input={{ search_input }}"><span>{{ p }}</span></a>
                                {% else %}
                                    <a href="?page={{ p }}"><span>{{ p }}</span></a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if products.number == num_of_pages or products.number == num_of_pages|add:"-1" or products.number == num_of_pages|add:"-2" %}
                        {% else %}
                            {% if search_input %}
                                <a class="last-elem"
                                   href="?page={{ num_of_pages }}&search_input={{ search_input }}"><span>{{ num_of_pages }}</span></a>
                            {% else %}
                                <a class="last-elem" href="?page={{ num_of_pages }}"><span>{{ num_of_pages }}</span></a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
