<div class="search-container">
    <div class="search-container-title">Поиск</div>
    <div class="search-container-overlay"></div>
    <form class="search-form-container"
          category="{% if category %}{{ category.pk }}{% endif %}"
          group="{% if group %}{{ group.pk }}{% endif %}"
          action=""
          method="get">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        <div class="form-flex-container">
            {% for form_elem in form %}
                <div class="input-container">
                    <div class="close-sreach-field-button">+</div>
                    {{ form_elem }}
                </div>
            {% endfor %}
            <div class="search_elems_block_wrapper">
                <div class="search-elem-fields" okt-search-elem="wrapper">
                    <div class="loader"></div>
                    <div class="search_elem_fields_container" okt-search-elem="container"></div>
                    <div class="small_loader">Загрузка...</div>
                </div>
            </div>
        </div>
    </form>
</div>
{% comment %} 
 {
    "category": "",
    "group": "",
    "value": "VM-10-P37K-0075-T4-CV2-M",
    "start": 0,
    "counter": 7
}

{% endcomment %}
