<div class="search-container">
    <div class="search-container-title">Поиск</div>
    <div class="search-container-overlay"></div>
    <form class="search-form-container"
          category="{% if category %}{{ category.pk }}{% endif %}"
          group="{% if group %}{{ group.pk }}{% endif %}"
          action=""
          method="get">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        <div class="form-flex-container">
            {% for form_elem in form %}
                <div class="input-container">
                    <div class="close-sreach-field-button">+</div>
                    {{ form_elem }}
                </div>
            {% endfor %}
            <div class="search-elem-fields">
                <div class="loader">loading</div>
            </div>
        </div>
    </form>
</div>
