{% load static %}
<div class="title_content">
    <div class="bread_crumbs">
        <a href="/">главная</a>
        <a href="{% url "core:about" %}">компания</a>
    </div>
    <h1 class="title">Сертификаты дистрибьютора</h1>
</div>
<div class="cerificate_table">
    <a class="cerificate_table_elem"
       href="{% static "/core/docs/distribute/distribute_1.pdf" %}"
       target="_blank">
        <img src="{% static "/core/docs/distribute/distribute_1.jpg" %}" alt="img">
    </a>
    <a class="cerificate_table_elem"
       href="{% static "/core/docs/distribute/distribute_2.pdf" %}"
       target="_blank">
        <img src="{% static "/core/docs/distribute/distribute_2.jpg" %}" alt="img">
    </a>
    <a class="cerificate_table_elem"
       href="{% static "/core/docs/distribute/distribute_3.pdf" %}"
       target="_blank">
        <img src="{% static "/core/docs/distribute/distribute_3.jpg" %}" alt="img">
    </a>
    <a class="cerificate_table_elem"
       href="{% static "/core/docs/distribute/distribute_4.pdf" %}"
       target="_blank">
        <img src="{% static "/core/docs/distribute/distribute_4.jpg" %}" alt="img">
    </a>
    <a class="cerificate_table_elem"
       href="{% static "/core/docs/distribute/distribute_5.pdf" %}"
       target="_blank">
        <img src="{% static "/core/docs/distribute/distribute_5.jpg" %}" alt="img">
    </a>
    <a class="cerificate_table_elem"
       href="{% static "/core/docs/distribute/distribute_6.pdf" %}"
       target="_blank">
        <img src="{% static "/core/docs/distribute/distribute_6.jpg" %}" alt="img">
    </a>
    <a class="cerificate_table_elem"
       href="{% static "/core/docs/distribute/distribute_7.pdf" %}"
       target="_blank">
        <img src="{% static "/core/docs/distribute/distribute_7.jpg" %}" alt="img">
    </a>
    <a class="cerificate_table_elem"
       href="{% static "/core/docs/distribute/distribute_8.pdf" %}"
       target="_blank">
        <img src="{% static "/core/docs/distribute/distribute_8.jpg" %}" alt="img">
    </a>
</div>
