{% load static %}
<div class="title_content">
    <div class="bread_crumbs">
        <a href="/">главная</a>
        <a href="{% url "core:about" %}">компания</a>
    </div>
    <h1 class="title">результаты соут</h1>
    <div class="cerificate_table">
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_1.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_1.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_2.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_2.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_3.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_3.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_4.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_4.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_1_1.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_1_1.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_1_2.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_1_2.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_1_3.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_1_3.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_1_4.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_1_4.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_1_5.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_1_5.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_1_6.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_1_6.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_1_7.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_1_7.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_1_8.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_1_8.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_1_9.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_1_9.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_1_10.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_1_10.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_1_11.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_1_11.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
        <a class="cerificate_table_elem"
           href="{% static "/core/docs/SOUT/sout_1_12.pdf" %}"
           target="_blank">
            <img src="{% static "/core/docs/SOUT/sout_1_12.jpg" %}"
                 alt="img"
                 loading="lazy" />
        </a>
    </div>
</div>
