{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="solutions_wrapper">
        <div class="title_content">
            <div class="bread_crumbs">
                <a href="/">главная</a>
                <a href="{% url "core:solutions" %}">решения</a>
            </div>
            <h1 class="title">роботы</h1>
        </div>
        <div class="solution_table">
            <a href="{% url "core:cobots-palett" %}"
               class="solution_item cobots_one">
                <img class="bg_img"
                     src="{% static "core/images/solutions/solution_bg_img.png" %}"
                     alt="img" loading="lazy" />
                <div class="img_container">
                    <img class="content_img"
                         src="{% static "core/images/solutions/robots1.png" %}"
                         alt="img" loading="lazy" />
                </div>
                <div class="description">РЕШЕНИЯ ДЛЯ ПАЛЕТИЗАЦИИ</div>
            </a>
            <a href="{% url "core:cobots-box" %}" class="solution_item cobots_two">
                <img class="bg_img"
                     src="{% static "core/images/solutions/solution_bg_img.png" %}"
                     alt="img" loading="lazy" />
                <div class="img_container">
                    <img class="content_img"
                         src="{% static "core/images/solutions/all_solution1.png" %}"
                         alt="img" loading="lazy" />
                </div>
                <div class="description">РЕШЕНИЕ ДЛЯ УКЛАДКИ В КОРОБ</div>
            </a>
            <a href="{% url "core:cobots-packing" %}"
               class="solution_item cobots_three">
                <img class="bg_img"
                     src="{% static "core/images/solutions/solution_bg_img.png" %}"
                     alt="img" loading="lazy" />
                <div class="img_container">
                    <img class="content_img"
                         src="{% static "core/images/solutions/robots3.png" %}"
                         alt="img" loading="lazy" />
                </div>
                <div class="description">РЕШЕНИЕ ДЛЯ АВТОМАТИЧЕСКОЙ УПАКОВКИ</div>
            </a>
        </div>
        <div class="demo-form-container">
            <div class="description_content">
                <div class="title">ДЕМО ВЫЕЗД</div>
                <div class="description">Бесплатная демонстрация работы робота на вашем предприятии в реальных условиях.</div>
            </div>
            <div class="demo_form">
                <label>
                    <input type="text" class="name_input" placeholder="Ваше имя" />
                    <div class="error name_error"></div>
                </label>
                <label>
                    <input type="tel" class="phone_input" placeholder="Ваш телефон" />
                    <div class="error phone_error"></div>
                </label>
                <button btn-type-cobots="all-cobots" btn-form-type="cobots_all" class="btn">заказать демо выезд</button>
            </div>
            <div class="img_container">
                <img src="{% static "core/images/solutions/solution_form_img.png" %}"
                     alt="img" loading="lazy">
            </div>
            <div class="politic_description demo_form_politic_description">Нажимая на кнопку, вы даёте согласие на
                обработку персональных данных в
                соответствии с <a target="_blank" href="{% url "core:privacy-policy" %}">политикой
                    конфиденциальности</a>
            </div>
        </div>
        {% include "core/includes/directions.html" %}
        {% include "core/includes/projects.html" %}
    </div>
{% endblock content %}
