{% load static %}
<div class="title_content">
    <div class="bread_crumbs">
        <a href="/">главная</a>
        <a href="{% url "core:solutions" %}">решения</a>
        <a href="{% url "core:cobots" %}">роботы</a>
    </div>
    {% if seo_meta and seo_meta.meta_h1 %}
        <h1 class="title">{{ seo_meta.meta_h1 }}</h1>
        
    {% else %}
        <h1 class="title">РЕШЕНИЕ ДЛЯ УКЛАДКИ В КОРОБ</h1>
    {% endif %}
    
</div>
<div class="solution_one_slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide information_slide">
            <div class="information_title">решение ДЛЯ УКЛАДКИ В КОРОБ ГОТОВОЙ ПРОДУКЦИИ</div>
            <div class="information_description">
                Поставляем готовое решение на базе коллаборативного робота для захвата готовой продукции и укладки её в короб с возможностью интеграции в существующую линию.
            </div>
        </div>
        <div class="swiper-slide cobot_box_slide">
            <div class="img_container">
                <img src="{% static "core/images/solutions/cobot_box_1.png" %}"
                     alt="img"
                     loading="lazy" />
            </div>
        </div>
        <div class="swiper-slide cobot_box_slide">
            <div class="img_container">
                <img src="{% static "core/images/solutions/cobot_box_3.png" %}"
                     alt="img"
                     loading="lazy" />
            </div>
        </div>
        <div class="swiper-slide cobot_box_slide">
            <div class="img_container">
                <img src="{% static "core/images/solutions/cobot_box_2.png" %}"
                     alt="img"
                     loading="lazy" />
            </div>
        </div>
    </div>
</div>
<div class="vector_container palett_vector_container">
    <div class="solution_will_allow">
        <div class="title">ЭТО РЕШЕНИЕ</div>
        <ul>
            <li>точно и аккуратно выполняет укладку продукции;</li>
            <li>имеет удобный человеко-машинный интерфейс для оператора;</li>
            <li>безопасно для оператора;</li>
            <li>гибкое в перенастройке на другой продукт.</li>
        </ul>
        <div class="img_container">
            <img src="{% static "core/images/solutions/solution_!.png" %}"
                 alt="img"
                 loading="lazy" />
        </div>
        <div class="arrow_container">
            <img src="{% static "core/images/direction/arrow.png" %}"
                 alt="arrow"
                 loading="lazy" />
        </div>
    </div>
    <div class="rigth_vector_table">
        <div class="up">
            <div class="date">24/7</div>
            <div class="description">
                <span>работает без перерывов,
                выходных и отпусков</span>
            </div>
            <div class="arrow_container">
                <img src="{% static "core/images/direction/arrow.png" %}"
                     alt="arrow"
                     loading="lazy" />
            </div>
        </div>
        <div class="down">
            <div class="description">
                <span>быстрая окупаемость до
                1 года</span>
            </div>
            <div class="payback">1</div>
        </div>
    </div>
</div>
<div class="cobots_direction palett_first">
    <div class="up">
        <div class="block">
            Решение предназначено для автоматической укладки единичной упаковки в групповую массой до 18 кг (короб, лоток, контейнер и т.д.)
        </div>
        <div class="title_block">Решение для укладки в короб</div>
        <div class="block">
            Кобот с помощью специального захвата берет единичную упаковку с конвейера и укладывает в групповую тару, следуя строго по заданному алгоритму
        </div>
    </div>
    <div id="anchor" class="down palett_dowm">
        <div class="block">
            Заполненная тара перемещается дальше по конвейеру, а в зону работы кобота подъезжает следующая пустая тара
        </div>
        <div class="block">
            Существует возможность программирования укладок по различным схемам, выбор рецепта осуществляется через панель оператора
        </div>
        <div class="block">
            Установка имеет компактные размеры, что позволяет легко интегрировать в существующую производственную линию
        </div>
        <div class="block">
            По желанию заказчика кобот-укладчик может быть дополнительно оснащен оборудованием: конвейером и магазином прослоек
        </div>
    </div>
</div>
<div class="anchor_container">
    <div class="demo-form-container">
        <div class="description_content">
            <div class="title">ДЕМО ВЫЕЗД</div>
            <div class="description">Бесплатная демонстрация работы робота на вашем предприятии в реальных условиях.</div>
        </div>
        <div class="demo_form">
            <label>
                <input type="text" class="name_input" placeholder="Ваше имя" />
                <div class="error name_error"></div>
            </label>
            <label>
                <input type="tel" class="phone_input" placeholder="Ваш телефон" />
                <div class="error phone_error"></div>
            </label>
            <button btn-type-cobots="cobots-box" btn-form-type="cobot-box" class="btn">заказать демо выезд</button>
        </div>
        <div class="img_container">
            <img src="{% static "core/images/solutions/solution_form_img.png" %}"
                 alt="img"
                 loading="lazy" />
        </div>
        <div class="politic_description demo_form_politic_description">
            Нажимая на кнопку, вы даёте согласие на
            обработку персональных данных в
            соответствии с <a target="_blank" href="{% url "core:privacy-policy" %}">политикой
        конфиденциальности</a>
    </div>
</div>
</div>
<div class="chars">
    <div class="chars_image_container">
        <img class="palett_img"
             src="{% static "core/images/solutions/cobot_box_img.png" %}"
             alt="img"
             loading="lazy" />
    </div>
    <div class="chars_description">
        <div class="title">характеристики</div>
        <ul class="list">
            <li>Производительность: до 10 перекладок в минуту.</li>
            <li>Грузоподъемность: до 14 кг.</li>
            <li>Потребляемая мощность: 1500 Вт.</li>
            <li>Напряжение питания: 220 В.</li>
            <li>Удобный человеко-машинный интерфейс для оператора.</li>
            <li>Система быстрой смены захватов.</li>
            <li>Встроенная система управления вакуумом и сжатым воздухом.</li>
            <li>Мобильность установки и гибкость перенастройки на другой продукт.</li>
            <li>Безопасность для персонала: не требуется ограждений.</li>
        </ul>
        <a href="#anchor" class="title-link anchor_link">
            <div class="title-link-description">демо выезд</div>
            <div class="arrow-container">
                <img src="{% static "core/images/direction/arrow.png" %}"
                     alt="vector"
                     loading="lazy" />
            </div>
        </a>
    </div>
</div>
<div class="animate_chars_container">
    <div class="title">СОСТАВ УСТАНОВКИ</div>
    <div class="description">Установку с коботом можно условно разделить на 3 составные части:</div>
    <div class="chars_table">
        <div class="table_elem">
            <div class="descr">
                Коллаборативный робот Prompower – коллаборативный 6-осевой робот-
                манипулятор с грузоподъемностью до 18 кг (с учетом захвата). Встроенные
                функции безопасности позволяют использовать робота без дополнительных
                ограждений. Интуитивно понятный графический интерфейс упрощает
                создание программ для новых схем укладки.
            </div>
            <div class="title_content">
                <div class="title_content_descr">
                    КОЛЛАБОРАТИВНЫЙ
                    РОБОТ PROMPOWER
                </div>
                <div class="img_container img_comtainer1">
                    <img src="{% static "core/images/solutions/all_solution1.png" %}"
                         alt="img"
                         loading="lazy" />
                </div>
            </div>
        </div>
        <div class="table_elem">
            <div class="descr">
                Захват – специализированный вакуумный захват обеспечивает надежное
                удержание и возможность укладки коробов вплотную друг к другу по любой
                схеме раскладки. Захват проектируется индивидуально, с учетом веса короба,
                материала картона и количества коробов в одном блоке укладки.
                Специализированная система генерации вакуума позволяет сократить время
                цикла на 1,5-2с.
            </div>
            <div class="title_content">
                <div class="title_content_descr">Захват</div>
                <div class="img_container img_comtainer2">
                    <img src="{% static "core/images/solutions/capture.png" %}"
                         alt="img"
                         loading="lazy" />
                </div>
            </div>
        </div>
        <div class="table_elem">
            <div class="descr">
                Платформа для робота – универсальная платформа для установки кобота.
                Включает в себя шкаф управления коботом и захватом; может дооснащаться
                подъемником для расширения возможностей кобота.
            </div>
            <div class="title_content">
                <div class="title_content_descr">Платформа для робота / шкаф РТК</div>
                <div class="img_container img_comtainer3">
                    <img src="{% static "core/images/solutions/palett_platform.png" %}"
                         alt="img"
                         loading="lazy" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="solution_one_description palett_description">
    <div>
        <div class="content">
            <div class="border_content">
                <b>Установка для укладки на базе коллаборативного робота</b> – это решение, созданное для обеспечения эффективной
                <br>
                и безопасной укладки различных грузов в короба.
            </div>
        </div>
        <a href="#anchor" class="title-link anchor_link">
            <div class="title-link-description">демо выезд</div>
            <div class="arrow-container">
                <img src="{% static "core/images/direction/arrow.png" %}"
                     alt="vector"
                     loading="lazy" />
            </div>
        </a>
    </div>
</div>
<div class="cobots_direction palett">
    <div class="up palett_up">
        <div class="block block_small">
            Помощь в подготовке
            <br>
            технического задания
        </div>
        <div class="title_block">
            Что вы получите при
            <br />
            покупке кобота
        </div>
        <div class="block block_small">
            Удаленная и выездная
            <br>
            техническая поддержка
        </div>
    </div>
    <div class="down palett_dowm">
        <div class="block block_small">
            Минимальные сроки
            <br>
            реализации (4-8 недель)
        </div>
        <div class="block block_small">
            Бесплатное обучение до двух
            <br>
            специалистов в учебном классе
            в Москве
        </div>
        <div class="block block_small">
            Инструктаж персонала на
            <br>
            объекте
        </div>
        <div class="block block_small">Гарантия 12 месяцев</div>
    </div>
</div>
