{% load static %}
<div class="title_content">
    <div class="bread_crumbs">
        <a href="/">главная</a>
        <a href="{% url "core:solutions" %}">решения</a>
    </div>
    <h1 class="title">Маркировка</h1>
    <div class="solution_one_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide information_slide">
                <div class="information_title">Оборудование для маркировки Честный знак</div>
                <div class="information_description">
                    Поставка программно-аппаратных комплексов для решения задач по маркировке и прослеживаемости продукции.
                    Предложим решения по маркировке для различных товарных групп.
                </div>
            </div>
            <div class="swiper-slide marking_slider_elem">
                <div class="description">ВОДА И МОЛОКО</div>
                <div class="img_container">
                    <img src="{% static "core/images/solutions/marking_slider_Elem_1.png" %}"
                         alt="img" loading="lazy" />
                </div>
            </div>
            <div class="swiper-slide marking_slider_elem">
                <div class="description">СОКИ</div>
                <div class="img_container">
                    <img src="{% static "core/images/solutions/marking_slider_Elem_2.png" %}"
                         alt="img" loading="lazy" />
                </div>
            </div>
            <div class="swiper-slide marking_slider_elem">
                <div class="description">ПИВО</div>
                <div class="img_container">
                    <img src="{% static "core/images/solutions/marking_slider_Elem_3.png" %}"
                         alt="img" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
    <div  class="marking_competition">
        <div class="solution_will_allow">
            <div class="title">НАШИ КОМПЕТЕНЦИИ</div>
            <ul>
                <li>получение кодов маркировки;</li>
                <li>сериализация продукции;</li>
                <li>верификация и отбраковка;</li>
                <li>агрегация и ввод в оборот продукта;</li>
            </ul>
            <div class="img_container">
                <img src="{% static "core/images/solutions/solution_!.png" %}" alt="img" loading="lazy"/>
            </div>
            <div class="arrow_container">
                <img src="{% static "core/images/direction/arrow.png" %}" alt="arrow" loading="lazy"/>
            </div>
        </div>
        <div class="rigth_vector_table">
            <div class="up">
                <div class="date">200+</div>
                <div class="description">
                    <span>более 200 линий маркировки «Честный знак» внедрено нами за время работы</span>
                </div>
            </div>
            <div class="down">
                <div class="description">Мотрум является технологическим партнером ООО «Оператор - ЦРПТ»</div>
                <div id="anchor" class="img_container">
                    <img src="{% static "core/images/solutions/marking_page.png" %}" alt="img" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
    <div class="anchor_container">
        <div class="demo-form-container  other_form">
            <div class="description_content">
                <div class="title">НАПИШИТЕ НАМ</div>
                <div class="description">
                    Мы свяжемся с вами в течение рабочего дня и дадим подробные ответы на все возникшие вопросы
                </div>
            </div>
            <div class="demo_form">
                <div class="inputs">
                    <label>
                        <input type="text" class="name_input" placeholder="Ваше имя" />
                        <div class="error name_error"></div>
                    </label>
                    <label>
                        <input type="tel" class="phone_input" placeholder="Ваш телефон" />
                        <div class="error phone_error"></div>
                    </label>
                </div>
                <button type-solution="marking" btn-form-type="marking" class="btn">отправить</button>
            </div>
            <div class="politic_description other_politic_description">Нажимая на кнопку, вы даёте согласие на
                обработку персональных данных в
                соответствии с <a target="_blank" href="{% url "core:privacy-policy" %}">политикой
                    конфиденциальности</a>
            </div>
        </div>
    </div>
    <div class="marking_aggregation_station_container">
        <div class="title">СТАНЦИЯ АГРЕГАЦИИ МАРКИРОВКИ</div>
        <div class="description">
            <div class="left">
                <div class="img_container">
                    <img src="{% static "core/images/solutions/marking_aggregation_station.png" %}"
                         alt="q" loading="lazy" />
                </div>
                <div class="documentation_container">
                    <div class="documentation_container_title">Документация</div>
                    <div class="documentation_elem">
                        <a href="{% static "core/docs/Shema-Karta-processa-head.pdf" %}"
                           target="_blank">Блок-схема установки</a><span>(PDF, 827 kb)</span>
                    </div>
                    <div class="documentation_elem">
                        <a href="{% static "core/docs/agorythm-work-system.pdf" %}"
                           target="_blank">Алгоритм работы системы</a><span>(PDF, 260 kb)</span>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="text_content">
                    <div class="paragraph">
                        Станция агрегации маркировки представляет собой решение, автоматизирующее процесс объединения нескольких единиц промаркированной продукции в одну группу с единым кодом. Станция подходит для агрегации потребительских, групповых и транспортных упаковок. Оно идеально подходит для товарных групп, прошедших единичную маркировку (сериализацию), таких как:
                    </div>
                    <ul class="list">
                        <li>маркировка молока и молочной продукции;</li>
                        <li>маркировка упакованной воды;</li>
                        <li>маркировка морепродуктов (икра лососевых и осетровых);</li>
                        <li>маркировка БАД;</li>
                        <li>антисептики;</li>
                        <li>безалкогольные напитки;</li>
                    </ul>
                    <div class="paragraph">
                        При внедрении станции агрегации маркировки возможна интеграция с существующими системами. Допускается внедрение на производства, где уже используется оборудование от других интеграторов, такое решение делает станцию универсальным инструментом для модернизации процессов.Основные преимущества станции агрегации маркировки:
                    </div>
                    <ul class="list">
                        <li>
                            автоматическая агрегация: Система объединяет несколько единиц продукции в одну группу, что упрощает логистику и управление запасами;
                        </li>
                        <li>
                            автоматическая маркировка: Станция обеспечивает быструю и точную печать маркировки для упаковок и паллет, позволяя сократить количество ошибок;
                        </li>
                        <li>мобильность: Станцию можно установить в удобном месте для производства или склада;</li>
                        <li>гибкость: Станция может быть адаптирована под разные виды упаковок и требования клиентов;</li>
                    </ul>
                    <a href="#anchor" class="title-link anchor_link">
                        <div class="title-link-description">напишите нам</div>
                        <div class="arrow-container">
                            <img src="{% static "core/images/direction/arrow.png" %}" alt="vector" loading="lazy"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
