{% load static %}
<div class="title_content">
    <div class="bread_crumbs">
        <a href="/">главная</a>
        <a href="{% url "core:solutions" %}">решения</a>
    </div>
    <h1 class="title">СБОРКА ШКАФОВ УПРАВЛЕНИЯ</h1>
    <div class="solution_one_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide information_slide">
                <div class="information_description flex_information_description">
                    <div>
                        Квалифицированные специалисты в области электрики и электроники – наиболее востребованный персонал на рынке труда.
                    </div>
                    <div>
                        Сборка шкафа управления – ресурсоемкое производство, которое требует затрат рабочего времени электриков и электроников. 
                    </div>
                </div>
            </div>
            <div class="swiper-slide shkaf_img_slide">
                <img src="{% static "core/images/solutions/shkaf_upravlenia_1.png" %}"
                     alt="img" />
            </div>
            <div class="swiper-slide shkaf_img_slide">
                <img src="{% static "core/images/solutions/shkaf_upravlenia_2.png" %}"
                     alt="img" />
            </div>
            <div class="swiper-slide shkaf_img_slide">
                <img src="{% static "core/images/solutions/shkaf_upravlenia_3.png" %}"
                     alt="img" />
            </div>
        </div>
    </div>
    <div class="shkaf_upravlenia_competition">
        <div class="solution_will_allow">
            <div class="title">Наша специализация – серийные шкафы управления станками</div>
            <div class="descr">Более 200 станков различного применения оснащены нашими шкафами управления</div>
            <div class="img_container">
                <img src="{% static "core/images/solutions/solution_!.png" %}" alt="img" />
            </div>
            <div class="arrow_container">
                <img src="{% static "core/images/direction/arrow.png" %}" alt="arrow" />
            </div>
        </div>
        <div class="rigth_vector_table">
            <div class="up">
                <div class="date">1 000+</div>
                <div class="description">
                    <span>шкафов различного применения собрано благодаря опыту наших специалистов</span>
                </div>
            </div>
            <div class="down">
                <div class="title">В том числе:</div>
                <ul class="list">
                    <li>шкафы управления насосами, вентиляторами с частотными преобразователями более 250 кВт;</li>
                    <li>распределительные устройства до 4000А;</li>
                    <li>шкафы сбора данных;</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="anchor_container">
        <div class="demo-form-container shkaf_uravlenia_form_container">
            <div class="description_content">
                <div class="title">НАПИШИТЕ НАМ</div>
                <div class="description">
                    Мы предлагаем модель работы, в которой мы берем на себя сборку шкафа управления, а у вас есть возможность задействовать своих специалистов в более квалифицированной работе.
                    Тем самым увеличить вашу производительность, сфокусироваться на потребностях вашего клиента, совершенствовать ваш продукт.
                </div>
            </div>
            <div class="demo_form">
                <div class="inputs">
                    <label>
                        <input type="text" class="name_input" placeholder="Ваше имя" />
                        <div class="error name_error"></div>
                    </label>
                    <label>
                        <input type="tel" class="phone_input" placeholder="Ваш телефон" />
                        <div class="error phone_error"></div>
                    </label>
                </div>
                <button type-solution="shkaf" btn-form-type="shkaf" class="btn">отправить</button>
            </div>
            <div class="politic_description">
                Нажимая на кнопку, вы даёте согласие на
                обработку персональных данных в
                соответствии с <a target="_blank" href="{% url "core:privacy-policy" %}">политикой
            конфиденциальности</a>
        </div>
    </div>
</div>
</div>
