{% load static %}
{% load manager_client %}
{% load js_templates %}
{% load test_display %}
{% with request.resolver_match.url_name as url_name %}
  <!DOCTYPE html>
  <html lang="ru">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv='cache-control' content='no-cache'>
      <!--css инклудить в общий -->
      {% include "core/includes/font-style.html" %}
      {% include "core/includes/stylesheets.html" %}
      <link type="image/png"
            sizes="16x16"
            rel="icon"
            href="{% static "core/images/favs/fav.ico" %}">
      <link type="image/png"
            sizes="32x32"
            rel="icon"
            href="{% static "core/images/favs/fav.ico" %}">
      <link type="image/png"
            sizes="96x96"
            rel="icon"
            href="{% static "core/images/favs/fav.ico" %}">
      <link type="image/png"
            sizes="120x120"
            rel="icon"
            href="{% static "core/images/favs/fav.ico" %}">
      <title>
        {% if meta_title %}
          {{ meta_title }}
        {% else %}
          Мотрум - оборудование для автоматизации производства
        {% endif %}
      </title>
      {% if meta_keywords %}<meta name="keywords" content="{{ meta_keywords }}" />{% endif %}
      {% if meta_description %}<meta name="description" content="{{ meta_description }}" />{% endif %}
      <script src="https://api-maps.yandex.ru/2.1/?apikey=9c96608c-3646-445c-af11-7a2aafa33905&lang=ru_RU"></script>
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
          m[i] =
            m[i] ||
            function () {
              (m[i].a = m[i].a || []).push(arguments);
            };
          m[i].l = 1 * new Date();
          for (var j = 0; j < document.scripts.length; j++) {
            if (document.scripts[j].src === r) {
              return;
            }
          }
          (k = e.createElement(t)),
            (a = e.getElementsByTagName(t)[0]),
            (k.async = 1),
            (k.src = r),
            a.parentNode.insertBefore(k, a);
        })(
          window,
          document,
          "script",
          "https://mc.yandex.ru/metrika/tag.js",
          "ym"
        );
  
        ym(37794920, "init", {
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true,
        });
      </script>
      <noscript>
        <div>
          <img src="https://mc.yandex.ru/watch/37794920"
               style="position: absolute;
                      left: -9999px"
               alt="" />
        </div>
      </noscript>
      <!-- /Yandex.Metrika counter -->
      <!-- Top.Mail.Ru counter -->
      <script type="text/javascript">
      var _tmr = window._tmr || (window._tmr = []);
      _tmr.push({
        id: "3535619",
        type: "pageView",
        start: new Date().getTime(),
        pid: "USER_ID",
      });
      (function (d, w, id) {
        if (d.getElementById(id)) return;
        var ts = d.createElement("script");
        ts.type = "text/javascript";
        ts.async = true;
        ts.id = id;
        ts.src = "https://top-fwz1.mail.ru/js/code.js";
        var f = function () {
          var s = d.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(ts, s);
        };
        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else {
          f();
        }
      })(document, window, "tmr-code");
      </script>
      <noscript>
        <div>
          <img src="https://top-fwz1.mail.ru/counter?id=3535619;js=na"
               style="position: absolute;
                      left: -9999px"
               alt="Top.Mail.Ru" />
        </div>
      </noscript>
      <!-- /Top.Mail.Ru counter -->
      <!-- Roistat Counter Start -->
      <script>
        (function (w, d, s, h, id) {
          w.roistatProjectId = id;
          w.roistatHost = h;
          var p = d.location.protocol == "https:" ? "https://" : "http://";
          var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie)
            ? "/dist/module.js"
            : "/api/site/1.0/" +
              id +
              "/init?referrer=" +
              encodeURIComponent(d.location.href);
          var js = d.createElement(s);
          js.charset = "UTF-8";
          js.async = 1;
          js.src = p + h + u;
          var js2 = d.getElementsByTagName(s)[0];
          js2.parentNode.insertBefore(js, js2);
        })(
          window,
          document,
          "script",
          "cloud.roistat.com",
          "8dddd701ce95b9f776ca472fed14e965"
        );
      </script>
      <!-- Roistat Counter End -->
    </head>
    <body >
      <div class="wrapper">
        {% include "core/header/header.html" %}
        <div class="site-content {% if url_name == "contact" %}no-margin{% endif %}">
          <div class="header_wrapper124"></div>
          <div class="site-description-content {% if url_name == "contact" %}no-margin{% endif %}">
            <input id="user_id"
                   type="hidden"
                   data-user-id="{% if request.user.is_staff %}{{ request.user.id }}{% endif %}" />
            <input id="client_id"
                   type="hidden"
                   data-user-id="{% if request.user.is_staff == False %}{{ request.user.id }}{% endif %}" />
            {% block content %}
            {% endblock content %}
          </div>
          {% if url_name != "contact" %}
            {% manager_client %}
          {% endif %}
          {% if privacy_policy %}
          {% else %}
            {% if url_name != "contact" %}
              {% include "core/includes/cookie.html" %}
            {% endif %}
          {% endif %}
        </div>
        {% include "core/includes/footer.html" %}
        {% include "core/includes/overlay-modal.html" %}
        {% include "core/includes/overlay_new_product_in_specification.html" %}
        {% include "core/includes/contacts_modal_overlay.html" %}
        {% include "core/includes/overlay_modal_error.html" %}
        {% include "core/includes/overlay_success_modal.html" %}
        {% include "core/includes/overlay_callback_modal.html" %}
      </div>
      {% js_templates %}
      {% include "core/includes/scripts.html" %}
      <script>
      function validate(evt) {
        let theEvent = evt || window.event;
        let key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        const regex = /[0-9]|\./;
        if (!regex.test(key)) {
          theEvent.returnValue = false;
          if (theEvent.preventDefault) theEvent.preventDefault();
        }
      }
      </script>
    </body>
  </html>
{% endwith %}
