{% extends "core/base.html" %}
{% block content %}
       <div class="head-page-container">
              <div class="promo-slider">промо-слайдер</div>
              <div class="products">
                     <div class="title-container">
                            <div class="title">товары</div>
                            <a href="{% url "product:catalog" %}" class="title-link">весь каталог</a>
                     </div>
                     <div class="products-categories">
                            {% for category in categories %}
                                   {% comment %} КАРТИНКА КАТЕГОРИИ<img src="{{category.image.url}}" alt=""> {% endcomment %}
                                   <a class="category-elem" href="{% url "product:group" category.slug %}"><span>{{ category.name }}</span></a>
                            {% endfor %}
                            <a class="category-elem" href="{% url "product:catalog" %}"><span>весь каталог</span></a>
                     </div>
              </div>
              <div class="solutions">
                     <div class="title">Решения</div>
                     <div class="solutions-container">
                            <div class="solution">Маркировка</div>
                            <div class="solution">Коллаборативные роботы</div>
                     </div>
              </div>
              <div class="projects">
                     <div class="title-container">
                            <div class="title">Реализованные проекты</div>
                            <a href="{% url 'projects_web:projects' %}" class="title-link">все проекты</a>
                     </div>
                     <div class="projects-slider">
                            <div class="swiper-wrapper">
                                   {% for project in projects %}
                                          <div class="swiper-slide project-elem">
                                                 <div class="content">
                                                        <a href="{% url 'projects_web:project' project.slug %}">
                                                               <p class="">{{ project.name }}</p>
                                                               <img src="{{ project.image_main.url }}" alt="">
                                                        </a>
                                                        Проект 2
                                                 </div>
                                          </div>
                                   {% endfor %}
                                   <div class="swiper-slide project-elem">
                                          <div class="content">Проект 1</div>
                                   </div>
                                   <div class="swiper-slide project-elem">
                                          <div class="content">Проект 2</div>
                                   </div>
                                   <div class="swiper-slide project-elem">
                                          <div class="content">Проект 3</div>
                                   </div>
                                   <div class="swiper-slide project-elem">
                                          <div class="content">Проект 4</div>
                                   </div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                     </div>
              </div>
              <div class="company-promo">
                     <div class="title">компания мотрум</div>
                     <div class="promo">блок с краткой презентацией компании</div>
              </div>
       </div>
{% endblock content %}
