{% extends "core/base.html" %}
{% load static %}
{% block content %}
       <div class="head-page-container">
              {% include "core/includes/promo_slider.html" %}
              
              {% include "core/includes/vendors.html" %}
              {% include "product/includes/search_block.html" %}
              <div class="products">
                     <div class="title-container">
                            <div class="title">товары</div>
                            <div class="description">
                                   широкий выбор продукции
                                   <br>
                                   под любые задачи
                            </div>
                            <a href="{% url "product:catalog" %}" class="title-link">
                                   <div class="title-link-description">весь каталог</div>
                                   <div class="arrow-container">
                                          <img src="{% static "core/images/direction/arrow.png" %}"
                                               alt="vector"
                                               loading="lazy" />
                                   </div>
                            </a>
                     </div>
                     {% for category in categories %}
                            <a class="category-elem" href="{% url "product:group" category.slug %}">
                                   <img src="{{ category.image.url }}" alt="img" loading="lazy" />
                                   <div class="background-container"></div>
                                   <div class="hover_container"></div>
                                   <span class="name">{{ category.name }}</span>
                            </a>
                     {% endfor %}
                     <div class="category-elem mobile-category-elem">
                            <a href="{% url "product:catalog" %}" class="title-link">
                                   <div class="title-link-description">весь каталог</div>
                                   <div class="arrow-container">
                                          <img src="{% static "core/images/direction/arrow.png" %}"
                                               alt="vector"
                                               loading="lazy" />
                                   </div>
                            </a>
                     </div>
              </div>
              <div class="solutions">
                     <div class="description-container">
                            <div class="title">Решения</div>
                            <div class="description">комплексный подход для наиболее востребованных запросов</div>
                     </div>
                     <div class="content-container">
                            <a href="{% url "core:marking" %}"
                               class="content-elem marking_content_elem">
                                   <div class="first_item_content">
                                          <div class="title">маркировка</div>
                                   </div>
                                   <div class="second_item_content">
                                          <div class="description">
                                                 Оборудование для маркировки
                                                 <br>
                                                 Честный знак.
                                                 <br>
                                                 <br>
                                                 Поставка программно-аппаратных
                                                 комплексов для решения задач
                                                 по маркировке и прослеживаемости
                                                 <br>
                                                 продукции.
                                          </div>
                                   </div>
                                   <div class="img-container marking-img-container">
                                          <img class="static"
                                              
                                               src="{% static "core/images/head_page_animate/marking_static.png" %}"
                                              
                                               alt="vector"
                                               loading="lazy" />
                                          <img class="left"
                                              
                                               src="{% static "core/images/head_page_animate/marking_left.png" %}"
                                              
                                               alt="vector"
                                               loading="lazy" />
                                          <img class="rigth"
                                              
                                               src="{% static "core/images/head_page_animate/marking_rigth.png" %}"
                                              
                                               alt="vector"
                                               loading="lazy" />
                                   </div>
                            </a>
                            <a href="{% url "core:cobots-palett" %}"
                               class="content-elem cobots_content_elem">
                                   <div class="first_item_content">
                                          <div class="title">КОЛЛАБОРАТИВНЫЕ РОБОТЫ</div>
                                   </div>
                                   <div class="second_item_content">
                                          <div class="description">
                                                 Готовое решение по роботизации
                                                 <br>
                                                 паллетирования.
                                                 <br>
                                                 <br>
                                                 Поставляем готовое решение на базе
                                                 коллаборативного робота для захвата гофро-
                                                 коробов и укладки на паллет с возможностью
                                                 интеграции в существующую линию.
                                          </div>
                                   </div>
                                   <div class="img-container cobots-img-container">
                                          <img class="up"
                                              
                                               src="{% static "core/images/head_page_animate/cobots_up.png" %}"
                                              
                                               alt="vector"
                                               loading="lazy" />
                                          <img class="middle"
                                              
                                               src="{% static "core/images/head_page_animate/cobots_midle.png" %}"
                                              
                                               alt="vector"
                                               loading="lazy" />
                                          <img class="down"
                                              
                                               src="{% static "core/images/head_page_animate/cobots_down.png" %}"
                                              
                                               alt="vector"
                                               loading="lazy" />
                                   </div>
                            </a>
                     </div>
              </div>
              {% include "core/includes/projects.html" %}
              {% include "core/includes/directions.html" %}
              <div class="motrum_in_numbers-container head_page">
                     <div class="description-container">
                            <div class="title">
                                   МОТРУМ
                                   <br>
                                   В ЦИФРАХ
                            </div>
                            <div class="content">за каждой цифрой стоит высокий профессиональный уровень и слаженный труд</div>
                     </div>
                     <div class="dynamics_content-container">
                            <div class="dynamics_content_flex">
                                   <div class="dynamics_content-elem">
                                          <div class="number_container plus_block">
                                                 <span data-quantity="{{ motrum_in_numbers2.year }}" class="quantity">0</span>
                                          </div>
                                          <div class="content short_content">
                                                 {{ motrum_in_numbers2.year }} лет на рынке
                                                 <br>
                                                 год основания - 2012
                                          </div>
                                   </div>
                                   <div class="dynamics_content-elem">
                                          <div class="number_container long_number">
                                                 <span data-quantity="{{ motrum_in_numbers.tech_project }}" class="quantity">0</span>
                                          </div>
                                          <div class="content">
                                                 реализовано проектов
                                                 <br>
                                                 технического зрения
                                          </div>
                                   </div>
                            </div>
                            <div class="dynamics_content_flex">
                                   <div class="dynamics_content-elem">
                                          <div class="content short_content">
                                                 изготовлено шкафов
                                                 <br>
                                                 управления
                                          </div>
                                          <div class="number_container extra_long_number">
                                                 <span data-quantity="{{ motrum_in_numbers.shkaf_upravleniya }}"
                                                       class="quantity">0</span>
                                          </div>
                                   </div>
                                   <div class="dynamics_content-elem">
                                          <div class="content short_content">
                                                 запущенных систем
                                                 <br>
                                                 маркировки "Честный знак"
                                          </div>
                                          <div class="number_container long_number">
                                                 <span data-quantity="{{ motrum_in_numbers.installation }}" class="quantity">0</span>
                                          </div>
                                   </div>
                            </div>
                     </div>
              </div>
       </div>
{% endblock content %}
