{% extends "core/base.html" %}
{% block content %}
   <div style="display: flex;
               align-items: center;
               justify-content: center;
               margin-top: 100px;
               gap: 20px"
        class="">
      <a style="border: 1px solid;
                padding: 10px"
         href="{% url 'admin:index' %}">Админка OKT</a>
      <a style="border: 1px solid;
                padding: 10px"
         href="{% url 'admin_specification:categories' %}">Спецификации</a>
      <a style="border: 1px solid;
                padding: 10px"
         href="{% url 'website_admin:index' %}">Админка Сайта</a>
   </div>
{% endblock content %}
