{% extends "core/base.html" %}
{% block content %}
    <div class="privacy_policy_container">
        <div class="head-content">
            <div class="bread-crumbs">
                <a href="{% url "core:index" %}">главная</a>
            </div>
            <div class="title">политика конфиденциальности</div>
        </div>
        <div class="privacy_policy_text">
            Компания ООО «ПМН Мотрум» с уважением относится к информации личного характера, касающейся посетителей Сайта «www.motrum.ru» и его поддоменов (далее – «Сайт»).
            <div class="br"></div>
            Настоящим компания ООО «ПМН Мотрум» (далее – Компания) подтверждает конфиденциальность обработки Ваших данных в соответствии с законодательством Российской Федерации в сфере защиты информации, а также в соответствии с ФЗ «О персональных данных» №152-ФЗ.
            <div class="br"></div>
            В качестве пользователя Сайта (далее – «Пользователь») Вы соглашаетесь с предоставлением Ваших данных компании ООО «ПМН Мотрум», для их обработки (совершение любых действий с использованием средств автоматизации или без, в том числе на сбор, запись, систематизацию, накопление, хранение, уточнение, извлечение, использование, передачу, обезличивание, блокирование, удаление, уничтожение) Ваших персональных данных, указанных в Заявлении, в целях консультирования, представления информации о продуктах, маркетинговых исследований, проводимых Компанией, а также в целях продвижения на рынке товаров и/или услуг Компании и/или третьих лиц. Вы соглашаетесь с тем, что Компания вправе поручить обработку моих персональных данных третьим лицам.
            <div class="br"></div>
            Согласие дается на обработку следующих персональных данных:
            <ul>
                <li>
                    персональные данные, не являющиеся специальными или биометрическими: номера контактных телефонов; адреса электронной почты; место работы и занимаемая должность;
                </li>
                <li>
                    пользовательские данные (сведения о местоположении; тип и версия ОС; тип и версия Браузера; тип устройства и разрешение его экрана; источник откуда пришел на сайт пользователь; с какого сайта или по какой рекламе; язык ОС и Браузера; какие страницы открывает и на какие кнопки нажимает пользователь; ip-адрес).
                </li>
            </ul>
            Мы исключаем передачу Ваших данных третьим лицам, кроме компаний, уполномоченных на обслуживание наших клиентов.
            <div class="br"></div>
            Вы имеете право запросить и получить информацию о собранных нами сведениях о Вас, потребовать исправления, удаления или блокирования Ваших данных. Если у Вас есть возражения против обработки Ваших данных, в любой момент Вы можете аннулировать Ваше согласие по e-mail или письменно по адресу: 443035, г. Самара, пр. Кирова, д. 255, литера Я, офис 421.
            <div class="br"></div>
            Настоящая Политика конфиденциальности применяется только к сайту «www.motrum.ru». Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые Вы может перейти по ссылкам, доступным на Сайте.
            <div class="br"></div>
            Мы не проверяем достоверность персональных данных, предоставляемых Пользователем Сайта.
            Настоящая Политика может быть изменена или прекращена нами в одностороннем порядке без предварительного уведомления Пользователя. Новая редакция Политики вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики.
            Действующая редакция Политики находится на Сайте в сети Интернет по адресу <a href="{% url "core:privacy-policy" %}">http://www.motrum.ru/privacy-policy/</a>
            <div class="br"></div>
            Дата публикации:
            <br>
            «01» января 2025 г.
        </div>
    </div>
{% endblock content %}
