{% extends "core/base.html" %}
{% block content %}
       {% comment %} <div style="display: flex; align-items: center; justify-content: center; margin-top: 100px; gap: 20px" class="">
        <a style="border: 1px solid; padding: 10px" href="{% url 'website_admin:index' %}">Админка Сайта</a>
        <a style="border: 1px solid; padding: 10px" href="{% url 'client:index' %}">Личный кабинет</a>
       </div> {% endcomment %}
       {% include "core/includes/header.html" %}
       <div class="head-page-container">
              <div class="promo-slider">промо-слайдер</div>
              <div class="products">
                     <div class="title-container">
                            <div class="title">товары</div>
                            <a href="#" class="title-link">весь каталог</a>
                     </div>
                     <div class="products-categories">
                            {% for category in categories %}
                                   <a class="category-elem" href="#"><span>{{ category.name }}</span></a>
                            {% endfor %}
                            <a class="category-elem" href="#"><span>весь каталог</span></a>
                     </div>
              </div>
              <div class="solutions">
                     <div class="title">Решения</div>
                     <div class="solutions-container">
                            <div class="solution">Маркировка</div>
                            <div class="solution">Коллаборативные роботы</div>
                     </div>
              </div>
              <div class="projects">
                     <div class="title-container">
                            <div class="title">Реализованные проекты</div>
                            <a href="#" class="title-link">все проекты</a>
                     </div>
                     <div class="projects-slider">
                            <div class="swiper-wrapper">
                                   <div class="swiper-slide project-elem">
                                          <div class="content">Проект 1</div>
                                   </div>
                                   <div class="swiper-slide project-elem">
                                          <div class="content">Проект 2</div>
                                   </div>
                                   <div class="swiper-slide project-elem">
                                          <div class="content">Проект 3</div>
                                   </div>
                                   <div class="swiper-slide project-elem">
                                          <div class="content">Проект 4</div>
                                   </div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                     </div>
              </div>
              <div class="company-promo">
                     <div class="title">компания мотрум</div>
                     <div class="promo">блок с краткой презентацией компании</div>
              </div>
       </div>
{% endblock content %}
