{% extends "core/base.html" %}
{% block content %}
    <div class="products_wrapper">
        <div class="title_container">
            <div class="bread_crumbs">
                <a href={% url "core:index" %}>главная</a>
                <a href={% url "product:catalog" %}>каталог</a>
                <a href={% url "product:group" current_category.slug %}>{{ current_category.name }}</a>
            </div>
            <h1>
                {% if current_group %}
                    {{ current_group.name }}
                {% else %}
                    {{ current_category.name }}
                {% endif %}
            </h1>
            <div class="site_groups_container">
                <div class="swiper-wrapper">
                    {% for group in another_groups %}
                        <a href="{% url "product:products_items" current_category.slug group.slug %}"
                           class="swiper-slide group">
                            <span>{{ group.name }}</span>
                        </a>
                    {% endfor %}
                </div>
                {% comment %} <div class="slider-arrow">></div>  {% endcomment %}
            </div>
        </div>
        <div class="product_container">
            <div class="titles">
                <div class="small_title">Фильтр</div>
                <div class="small_title">товар</div>
                <div class="small_title">артикул</div>
                <div class="small_title">характеристики</div>
                <div class="small_title">упак</div>
                <div class="small_title">цена</div>
            </div>
            <div class="filters_and_products_container">
                <div class="filter_container">
                    <div class="filter_elem">
                        <div class="filter_title">
                            <span class="arrow"></span>
                            <span class="filter_title_name">Производитель</span>
                        </div>
                        <div class="filter-wrapper-content">
                            <div>
                                <div class="filter_content">
                                    {% for vendor in product_vendor %}
                                        <div param="{{ vendor.vendor__slug }}" class="filter_elem_content">
                                            <div class="checkbox">
                                                <div class="checked"></div>
                                            </div>
                                            <div class="filter_name">
                                                {% if vendor.vendor__name %}
                                                    {{ vendor.vendor__name }}
                                                {% else %}
                                                    Неизвестный производитель
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="category-product"
                       type="hidden"
                       data-category-id="{% if current_category.pk %}{{ current_category.pk }}{% else %}{{ current_category.slug }}{% endif %}" />
                <input id="group-product"
                       type="hidden"
                       data-group-id="{{ current_group.pk }}" />
                <div class="catalog_wrapper" catalog-elem="wrapper">
                    <div class="loader">loading</div>
                    <div class="site_catalog_container" catalog-elem="container">
                        {% if product_list %}
                            {% for product in product_list %}
                                {% include "product/includes/product_item.html" with product=product %}
                            {% endfor %}
                        {% else %}
                            {% comment %} <div class="none-products">
                            Товаров в разделе "
                            {% if current_group %}
                            {{ current_group.name }}
                        {% else %}
                            {{ current_category.name }}
                        {% endif %}
                            " пока нет
                            </div> {% endcomment %}
                        {% endif %}
                    </div>
                    <div class="small_loader">loading</div>
                    <div class="end_content">
                        <button class="add_more" catalog-elem="button">загрузить еще</button>
                        <div class="pagination">
                            <div class="first">1 ...</div>
                            <div class="elem"></div>
                            <div class="elem"></div>
                            <div class="elem"></div>
                            <div class="last">... 578</div>
                            <div class="next">далее</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
