{% extends "core/base.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <div class="products_wrapper">
        <div class="title_container">
            <div class="bread_crumbs">
                <a href={% url "core:index" %}>главная</a>
                <a href={% url "product:catalog" %}>каталог</a>
                <a href={% url "product:group" current_category.slug %}>{{ current_category.name }}</a>
            </div>
            <h1>
                {% if current_group %}
                    {{ current_group.name }}
                {% else %}
                    {{ current_category.name }}
                {% endif %}
            </h1>
            {% if another_groups|length != 0 %}
                <div class="site_groups_container">
                    <div class="swiper-wrapper">
                        {% for group in another_groups %}
                            <a href="{% url "product:products_items" current_category.slug group.slug %}"
                               class="swiper-slide group">
                                <span>{{ group.name }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        {% include "product/includes/search_block.html" %}
        <div class="product_container">
            <div class="mobile_filter_button_wrapper">
                <button class="mobile_filter_button">Фильтры</button>
            </div>
            <div class="filters_and_products_container">
                <div class="filter_container">
                    <div class="close_filter_elem_btn">+</div>
                    <div class="filter_elem">
                        <div class="filter_title">Производитель</div>
                        <div class="supplier_content">
                            <div>
                                <div class="suppliers_max_height_container">
                                    {% for vendor in product_vendor %}
                                        <div param="{{ vendor.vendor__slug }}" class="suplier_elem_content">
                                            <div class="suplier_elem_content_img_container">
                                                {% if vendor.vendor__img %}<img src="{{ media_url }}{{ vendor.vendor__img }}" alt="">{% endif %}
                                            </div>
                                            <div class="suplier_elem_content_name">
                                                {% if vendor.vendor__name %}
                                                    {{ vendor.vendor__name }}
                                                {% else %}
                                                    Другое
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% if product_vendor|length > 4 %}
                            <div class="suppliers_add_more_btn">
                                <span>все поставщики</span>
                                <div class="arrow-container">
                                    <img src="{% static "core/images/direction/arrow.png" %}"
                                         alt="img"
                                         loading="lazy" />
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="filter_elem price_filter_elem">
                        <div class="filter_title">Цена</div>
                        <div class="price_content">
                            <div class="price_content_wrapper">
                                <div class="price_content_wrapper_elem">
                                    <input placeholder="от 1000" class="small_price_input" type="text" />
                                </div>
                                <div class="price_content_wrapper_elem">
                                    <input placeholder="до 500000" class="big_price_input" type="text" />
                                </div>
                            </div>
                            <div class="price_checkbox_content">
                                <div class="checkbox">
                                    <div class="checker"></div>
                                </div>
                                <div class="price_checkbox_content_description">исключить товары с ценой по запросу</div>
                            </div>
                        </div>
                    </div>
                    {% if chars_motrum %}
                        <div class="filter_elem chars_filter_elem">
                            <div class="chars_content">
                                {% for char in chars_motrum %}
                                    <!-- Отдельные характеристики -->
                                    {% if not char.gabarit %}
                                        <div class="char_block char_block_false_diapason">
                                            <div class="filter_title">{{ char.name_property_motrum }}</div>
                                            <div class="char_values">
                                                <!-- Для диапазонного значение -->
                                                {% if char.is_diapason %}
                                                    <div class="">{{ char.min_value }}{{ char.max_value }}</div>
                                                {% else %}
                                                    <!-- Для  значениz c вариантами -->
                                                    {% for value in char.values %}
                                                        <div class="char_value"
                                                             data-id-name="{{ char.name_property_motrum }}"
                                                             data-id-chars="{{ char.id_property_motrum }}"
                                                             data-id-value-chars="{{ value.id }}">
                                                            <div class="char_value_checkbox_container">
                                                                <div class="char_value_checkbox"></div>
                                                            </div>
                                                            <div class="char_value_name">{{ value.value }}</div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <!-- Сгруппированные характеристики габариты -->
                                        {% comment %} <div class="filter_grop_title">Габариты:</div> {% endcomment %}
                                        <div class="char_block char_block_true_diapason">
                                            <div class="filter_title">{{ char.name_property_motrum }}</div>
                                            <div class="char_values">
                                                <div class="char_value range_chars_value"
                                                     data-id-chars="{{ char.id_property_motrum }}"
                                                     data-min-value="{{ char.min_value }}"
                                                     data-max-value="{{ char.max_value }}">
                                                    <div class="range_chars_value_input_container">
                                                        <input placeholder="от {{ char.min_value }}"
                                                               class="range_chars_value_small_input"
                                                               type="text" />
                                                    </div>
                                                    <div class="range_chars_value_input_container">
                                                        <input placeholder="до {{ char.max_value }}"
                                                               class="range_chars_value_big_input"
                                                               type="text" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="submit_filter_container">
                        <button class="submit">Применить фильтры</button>
                        <button class="canceled">Сбросить</button>
                    </div>
                </div>
                <input id="category-product"
                       type="hidden"
                       data-category-id="{% if current_category.pk %}{{ current_category.pk }}{% else %}{{ current_category.slug }}{% endif %}" />
                <input id="group-product"
                       type="hidden"
                       data-group-id="{{ current_group.pk }}" />
                <div class="catalog_wrapper" catalog-elem="wrapper">
                    <div class="catalog_sorting">
                        <div class="catalog_sorting_elem up_price_sorting">по возрастанию цены</div>
                        <div class="catalog_sorting_elem down_price_sorting">по убыванию цены</div>
                    </div>
                    <div class="loader">loading</div>
                    <div class="site_catalog_container" catalog-elem="container">
                        {% if product_list %}
                            {% for product in product_list %}
                                {% include "product/includes/product_item.html" with product=product %}
                            {% endfor %}
                        {% else %}
                        {% endif %}
                    </div>
                    <div class="small_loader">loading</div>
                    <div class="end_content">
                        <button class="add_more" catalog-elem="button">загрузить еще</button>
                        <div class="pagination">
                            <div class="first">1</div>
                            <div class="dots first_dots">...</div>
                            <div class="elem"></div>
                            <div class="elem"></div>
                            <div class="elem"></div>
                            <div class="dots last_dots">...</div>
                            <div class="last">578</div>
                        </div>
                    </div>
                    <div class="none_content_data">Таких товаров нет</div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
