{% extends "core/base.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <div class="product_one_container"
         product-id="{{ product.pk }}"
         order-multiplicity="{{ product.stock.order_multiplicity }}">
        <div class="title_content">
            <div class="bread_crumbs">
                <a href="{% url "core:index" %}">главная</a> <a href="{% url "product:catalog" %}">каталог</a> <a href="{% url "product:group" current_category.slug %}">{{ current_category.name }}</a>
                {% if current_group %}
                    <a href="{% url "product:products_items" current_category.slug current_group.slug %}">{{ current_group.name }}</a>
                {% endif %}
            </div>
            <h1 class="title">{{ product.name }}</h1>
        </div>
        <div class="product_container">
            <div class="left_container">
                <div class="img_container">
                    {% if product.productimage_set.all %}
                        <div class="big_img">
                            <div class="swiper-wrapper">
                                {% for image in product.productimage_set.all %}
                                    {% if image.photo and image.hide is False %}
                                        <div class="big_img_item swiper-slide">
                                            {% thumbnail image.photo "1280x720" format="PNG" as im %}
                                                <img src="{{ im.url }}" alt="img" loading="lazy" />
                                            {% endthumbnail %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <img src="{% static "core/images/nophoto1.png" %}"
                             alt="img"
                             loading="lazy" />
                    {% endif %}
                    <div class="small_img_container">
                        {% if product.productimage_set.all %}
                            <div class="swiper-wrapper">
                                {% for image in product.productimage_set.all %}
                                    {% if image.photo and image.hide is False %}
                                        <div class="small_img swiper-slide">
                                            {% thumbnail image.photo "500" format="PNG" as im %}
                                                <img src="{{ im.url }}" alt="img" loading="lazy" />
                                            {% endthumbnail %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
                <div class="documentation_container">
                    {% if product_document|length > 0 %}
                        <div class="documentation_title">Документация</div>
                        <div class="documentation_items">
                            {% for productdocument in product_document %}
                                {% if productdocument.document and productdocument.document.url %}
                                    <div class="documentation_item">
                                        <a target="_blank"
                                           class="documentation_link"
                                           href="{{ productdocument.document.url }}">{{ productdocument.name }}</a>
                                        <span class="documentation_link_exe">({{ productdocument.extension|upper }}, {{ productdocument.document.size|filesizeformat }})</span>
                                    </div>
                                {% endif %}
                            {% empty %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="centered_container">
                <div class="product_article">Арткул: {{ product.article }}</div>
                <div class="product_description">
                    {% if product.description %}
                        {{ product.description|striptags }}
                    {% else %}
                        Описания пока нет
                    {% endif %}
                </div>
                <div class="technical_specifications">
                    <div class="title">Технические характеристики</div>
                    <div class="properties">
                        <div class="properties">
                            {# Сначала обычные характеристики #}
                            {% if all_properties.properties %}
                                {% for prop in all_properties.properties %}
                                    <div class="property">
                                        <div class="property_name">{{ prop.name }}</div>
                                        <div class="property_description">
                                            {% if prop.value %}
                                                {{ prop.value }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        
                            {# Теперь характеристики мотрум, сгруппированные по названию #}
                            {% for name, values in all_properties.motrum.items %}
                                <div class="property">
                                    <div class="property_name">{{ name }}</div>
                                    <div class="property_description">
                                        {% for value in values %}
                                            {{ value }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        
                            {% if not all_properties.properties and not all_properties.motrum %}
                                -
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="rigth_container">
                <div class="price_container">
                    <span class="price_item">
                        {% if product.price.rub_price_supplier and product.price.rub_price_supplier != 0 %}
                            <span class="price">{{ product.price.rub_price_supplier }}</span> ₽</span>
                            / <span class="lot">1 {{ product.stock.lot.name_shorts }}</span>
                        {% else %}
                            <span>По запросу</span>
                        {% endif %}
                    </div>
                    <div class="item-buttons_container">
                        <div class="quantity-buttons">
                            <button disabled class="minus-button"></button>
                            <input type="number"
                                   value="1"
                                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                   maxlength="3"
                                   onkeypress='validate(event)'>
                            <button class="plus-button"></button>
                        </div>
                        <button class="add-specification-button">
                            В корзину <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="documentation_container_mob">
                {% if product_document|length > 0 %}
                    <div class="documentation_title">Документация</div>
                    <div class="documentation_items">
                        {% for productdocument in product_document %}
                            {% if productdocument.document and productdocument.document.url %}
                                <div class="documentation_item">
                                    <a class="documentation_link"
                                       target="_blank"
                                       href="{{ productdocument.document.url }}">{{ productdocument.name }}</a>
                                    <span class="documentation_link_exe">({{ productdocument.extension|upper }}, {{ productdocument.document.size|filesizeformat }}) </span>
                                </div>
                            {% endif %}
                        {% empty %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock content %}
