{% extends "core/base.html" %}
{% block content %}
    <div class="group_catalog_container">
        <div class="title_content">
            <div class="bread_crumbs">
                <a href="{% url "core:index" %}">главная</a>
                <a href="{% url "product:catalog" %}">каталог</a>
            </div>
            <h1 class="title">{{ category.name }}</h1>
            <div class="site_categories_container">
                <div class="swiper-wrapper">
                    {% for category in another_categories %}
                        <a href="{% url "product:group" category.slug %}"
                           class="swiper-slide category">
                            <div class="img-container">
                                {% if category.image %}<img src="{{ category.image.url }}" alt="img" loading="lazy" />{% endif %}
                            </div>
                            <div class="name">{{ category.name }}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include "product/includes/search_block.html" %}
        <div class="group_container">
            {% if group %}
                {% for group_item in group %}
                    {% if group_item.slug %}
                        <a class="group"
                           data-group="group_item.id"
                           href="{% url "product:products_items" category.slug group_item.slug %}"><span>{{ group_item.name }}</span></a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
