{% extends "core/base.html" %}
{% block content %}
    <div class="web_catalog_container">
        <div class="title_content">
            <div class="bread_crumbs">
                <a href="{% url "core:index" %}">главная</a>
            </div>
            <h1 class="title">Товары</h1>
        </div>
        {% include "core/includes/vendors.html" %}
        <div class="category_container">
            {% if category %}
                {% for category_item in category %}
                    <a href="{% url "product:group" category_item.slug %}"
                       class="category"
                       data-category="category_item.id">
                        {% if category_item.image %}
                            <img src="{{ category_item.image.url }}" alt="img">
                        {% else %}
                            <div class="gray-bg"></div>
                        {% endif %}
                        <div class="background-container"></div>
                        <div class="hover_container"></div>
                        <span class="name">{{ category_item.name }}</span></a>
                {% endfor %}
                <a href="{% url "product:group" "other" %}"
                   class="category"
                   data-category="category_item.id">
                    <div class="background-container"></div>
                    <div class="hover_container"></div>
                    <span class="name">товары без катетегории</span></a>
            {% endif %}
            <a href="{% url "product:group" "all" %}"
               class="category"
               data-category="category_item.id">
                <div class="background-container"></div>
                <div class="hover_container"></div>
                <span class="name">все товары</span></a>
        </div>
    </div>
{% endblock content %}
