{% extends "core/base.html" %}
{% block content %}
   
    <div class="web_catalog_container">
        <div class="title_content">
            <div class="bread_crumbs">
                <a href="{% url "core:index" %}">главная</a>
            </div>
            <h1 class="title">Каталог</h1>
        </div>
        <div class="category_container">
            {% if category %}
                {% for category_item in category %}
                    <a href="{% url "product:group" category_item.slug %}"
                       class="category"
                       data-category="category_item.id"><span>{{ category_item.name }}</span></a>
                {% endfor %}
                <a href="{% url "product:group" "other" %}"
                       class="category"
                       data-category="category_item.id"><span>Товары без категории</span></a>
            {% endif %}
            <a href="{% url "product:group" "all" %}"
                       class="category"
                       data-category="category_item.id"><span>Все товары</span></a>
        </div>
    </div>
{% endblock content %}
