{% load static %}
{% load thumbnail %}
<div class="img-container">
    {% if productimage_set|length > 0 %}
        {% for productimage in productimage_set %}
            {% if productimage.photo and productimage.hide == false %}
                {% if loop.first %}
                    {% thumbnail productimage.photo "400" format="PNG" as im %}
                        <img src="{{ im }}" loading="lazy" alt="img">
                    {% endthumbnail %}
                {% endif %}
            {% else %}
                <img src="{% static "core/images/nophoto1.png" %}" alt="no_photo_img">
            {% endif %}
        {% endfor %}
    {% else %}
        <img src="{% static "core/images/nophoto1.png" %}" alt="no_photo_img">
    {% endif %}
</div>
