<div style="border-style: solid;{% if notification_set|length %}
    border-color: red
    {% endif %}" class="document_item"
    document-id="{{ id }}"
    document-elem="document-item">
    <div class="">№ документа - {{ order  }}</div>
    <div class="">дата создания -{{ date_created  }}</div>
    <div class="">сумма -{{ amount  }}</div>
    <div class="">статус -{{ name  }}</div>
    <div class="">договор -{{requisites_legal_entity}}{{ requisites_contract  }}</div>
    <div class="">  
        <a href="{{ pdf  }}">ссылка документ</a>
        -</div>
</div>
