<div class="document_item"
     document-id="{{ id }}"
     document-elem="document-item">
    <div class="name">{{ name }} № {{ order }} от {{ date_created }}</div>
    <div class="contract">договор -{{ requisites_legal_entity }}{{ requisites_contract }}</div>
    <div class="summ_and_status">
        <div class="summ_container">
            <span class="summ">{{ amount }}</span> ₽
        </div>
        <div class="status">Подтверждена</div>
    </div>
    <div class="download">
        <a href="{{ pdf }}" target="_blank">скачать</a>
    </div>
</div>
