<div class="order_item" order-id="{{ id }}" order-elem="order-item">
    <div class="description_order">
        <div class="order_number">Заказ №{{ name }}</div>
        <div class="order_date">
            от <span class="order_date_value">{{ date_order }}</span>
        </div>
        <div class="order_status">{{ status_full }}</div>
    </div>
    <div class="order_composition">
        <div class="order_composition_container">
            {% for specification_list_item in specification_list.productspecification_set %}
                <div class="order_composition_item">
                    {{ specification_list_item.product_name }} - {{ specification_list_item.quantity }}
                    {{ specification_list_item.lot.lot }}
                </div>
            {% endfor %}
        </div>
        <div class="add_more_btn">подробнее</div>
    </div>
    <div class="order_invoice_details_container">
        {% if bill_sum %}
            <div class="bill_sum_details">
                <span class="price">{{ bill_sum_paid }}</span> ₽ <br>/
                <span class="price">{{ bill_sum }}</span> ₽
            </div>
        {% else %}
            <div class="bill_sum_details none-invoice">счет не сформирован</div>
        {% endif %}
    </div>
    <div class="order_documents">
        {% if specification_list.file %}
            <a href="{{ specification_list.file }}"
               target="_blank"
               class="order_documents_item">спецификация #{{ specification_list.number }} от {{ specification_list.date }}</a>
        {% endif %}
        {% if bill_file %}
            <a class="order_documents_item" href="{{ bill_file }}" target="_blank">счёт # {{ bill_name }} от {{ bill_date_start }}</a>
        {% endif %}
        {% if act_file %}<a class="order_documents_item">акт {{ act_file }}</a>{% endif %}
    </div>
</div>
