<input type="text"
       id="mobile_number"
       name="mobile_number"
       placeholder="111-111-1111"
       обязательно />
<button class="client_add" type="button">Получить PIN-код</button>
<br />
<button class="client_update" type="button">обновить инфу клиента</button>
<button class="client_requisites" type="button">requisites отправить первично</button>
<button class="client_info" type="button">Инфо о клиенте рекварментс получить</button>
<button class="client_upd" type="button">апдейт рекварментс</button>
<button class="coll" type="button">обратный звонок</button>
